.patterns-menu{
  color: white;
  padding: .5rem;
  font-size: .945em;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  bottom: 0;
  width: 100vw;
  a{
      color: white;
  }
  .patterns-menu-divider::before{
      content: "|";
      padding: 0 .7rem;
      opacity: 0.3;
  }
}
.patterns-menu-space{
  height: 3rem;
}