
/**********************************************
HOME PAGE
***********************************************/

.site-container{
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1040px
}

.site-header{
  background-color:#fff;
  font-size: 1.5rem !important;
  padding: 0.5rem 0 !important;
  }

/*---------------------------
Stripes
-----------------------------*/

.stripes {
  position: absolute;
  z-index: -1;
  width: 100%;
  display: grid;
  transform: skewY(-12deg)
}

.stripes {
  top: 0;
  grid: repeat(5,190px)/repeat(10,1fr);
  transform-origin: 0;
  background: linear-gradient(#ffffff, #1A4366 10%, #1A4366 38%, #1A4366 48%, #1A4366 62%)
}

.stripes :nth-child(1) {
  grid-column: span 3;
}

.stripes :nth-child(2) {
  grid-area: 3/span 3/auto/-1
}

.stripes :nth-child(3) {
  grid-row: 4;
  grid-column: span 5;
}

.stripes :nth-child(4) {
  grid-area: 4/span 5/auto/-1
}

.stripes :nth-child(5) {
  grid-area: auto/1/-1/-1;
  background: linear-gradient(100grad,#fff 80%,#f5fafd);
  margin-bottom: -1px;
}

@media (min-width: 670px) {
  .stripes :nth-child(3) {
    background: linear-gradient(100grad,#fff 50%,hsla(0,0%,100%,0));
  }
  
  .stripes :nth-child(4) {
    background: linear-gradient(100grad, rgba(255, 255, 255, 0) 10%, rgb(255, 255, 255));
  }
}


/*---------------------------
Homepage Intro Section
-----------------------------*/

#intro {
  position: relative;
  z-index: 1;
  padding-bottom: 70px;
  text-align: center;
  max-width: 700px;
  color:#fff;
}

#intro p {
  margin: 25px 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.2;
}

@media (min-width: 670px) {
  #intro {
    padding-top:100px;
    position: static;
  }
  
  #intro p {
    margin: 50px 50px 30px 0
  }
  
}

/*---------------------------
Intro Animation
-----------------------------*/

@media (prefers-reduced-motion) {
  #intro-animation * {
    animation: none!important
  }
}

#intro-animation {
  position: relative;
  height: 210px;
  margin: 30px 20px 40px
}

@media (min-width: 670px) {
  #intro-animation {
    width:50%;
    right: 0;
    position: absolute;
    height: auto;
    margin-top: 50px;
  }
}


/*---------------------------
Particles
-----------------------------*/

.particle-container {
  fill:rgba(255,255,255,.6);
  stroke: rgba(255,255,255,.3);
  stroke-width: 10;
  animation: move 10s linear infinite; 
  --amplitude: 50px;
  
  .particle{
    animation: occilate 2s ease-in-out infinite alternate;
  }
  
  @for $i from 1 through 10{
    &:nth-child(#{$i}){
      --amplitude:  10px + random(40)*1px;
      $duration: 10s + random(40)*0.5s;
      animation-duration: $duration;
      animation-delay: $i * random(10)* -0.5s;
      .particle{
        animation-duration:  $duration/4;
      }
    }
  }
}

@keyframes occilate{
  100%{
    transform: translate( 0, var(--amplitude) );
  }
}

@keyframes move{
  100%{
    transform: translate( 1000px, 0 );
  }
}

/*---------------------------
Particle animation
-----------------------------*/

@keyframes particle-fade-in {
  0% {
    opacity: 0;
    transform: scale(.85)
  }
}

#intro-animation .particle-animation {
  will-change: opacity,transform;
  animation: particle-fade-in 2s cubic-bezier(.165,.84,.44,1) backwards
}

#intro-animation .particle-animation{
  bottom: 0;
  right: 0;
  animation-delay: .6s
}

@media (min-width: 670px) {
  #intro-animation .particle-animation{
    top:220px;
    left: 0px;
    bottom: auto;
    right: auto
  }
}

#intro-animation .particle-animation svg {
  position: relative;
  width: 400px;
  vertical-align: middle
}

@media (min-width: 670px) {
  #intro-animation .particle-animation svg {
    height:262px;
    width: 500px
  }
}

/*---------------------------
Cubes
-----------------------------*/

#intro-animation .cubes {
  top: 0
}

#intro-animation .cube {
  position: absolute;
  will-change: transform;
  animation: cube-fade-in 2s cubic-bezier(.165,.84,.44,1)
}

#intro-animation .cube:nth-child(2) {
  z-index: 1;
}

@media (min-width: 670px) {
  #intro-animation .cubes .cube {
    margin:0
  }
}

@keyframes cube-fade-in {
  0% {
    opacity: 0;
    transform: scale(.5)
  }
}

#intro-animation .cube div {
  position: absolute;
  width: 100%;
  height: 100%
}

#intro-animation .cube .shadow {
  top: 40%;
  background: #07427a
}

#intro-animation .cube .sides {
  transform-style: preserve-3d;
  perspective: 600px
}

#intro-animation .cube .sides div {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform
}

#intro-animation .cube .sides .front span {
  text-align: center;
  display: block;
  font-weight: 600;
  margin-top: 20px;
  font-size: 15px;
  opacity: .8;
}

#intro-animation .cube:nth-child(1) .sides .front span {
  color: #bf3142;
}
#intro-animation .cube:nth-child(2) .sides .front span {
  color: #16805b;
}
#intro-animation .cube:nth-child(3) .sides .front span {
  color: #375e9e;
}


/*---------------------------
Homepage content
-----------------------------*/

main footer.site-container {
  margin-bottom: 60px;
}

@media (min-width: 670px) {
  main footer.site-container {
    display: grid;
    grid: repeat(3,auto)/auto-flow 1fr;
    grid-gap: 0 40px
  }
}


/*---------------------------
Homepage Styling With USWDS
-----------------------------*/
section.home{
  padding: 40px 0;
}

.home.intro-text{
  margin: 0 auto;
  max-width: 800px;
  color: white;
  padding: 80px 15px 50px 15px;
  a{
    color: white;
    //text-decoration: underline;
  }
}

.home.button.reverse{
  color: white;
  border-color: currentColor;
}

.home.button.outline{
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
}

section.home.background.blue{
  background: #205493;
  background: -moz-linear-gradient(top, #205493 0%, #112e51 34%);
  background: -webkit-linear-gradient(top, #205493 0%,#112e51 34%);
  background: linear-gradient(to bottom, #205493 0%,#112e51 34%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#205493', endColorstr='#112e51',GradientType=0 );
}

.home.card{
  color: white;
  box-shadow: none !important;
  padding-top: 10px;
  p{
    margin-bottom: 40px;
  }
  &.first{
    background-color:#205493;
  }
  &.second{
    background-color:#4aa564;
  }
  &.third{
    background-color:#5b616b;
  }
  &.fourth{
    background-color:#323a45;
  }
} 

.center{
  text-align: center;
}