/**********************************************
Trying Gray Background (Pending Approval)
***********************************************/

body{
  background-color: #f9f9f9;
  .site-header{
    border-bottom: 2px solid #ececec;
    background-color: white;
  }
  .mat-sidenav-container, .mat-sidenav{
    background-color: transparent;
  }
}

/**********************************************
HOME PAGE
***********************************************/

section.home{
  padding: 40px 0;
}

.home.intro-text{
  margin: 0 auto;
  max-width: 800px;
  color: white;
  padding: 40px 15px 30px 15px;
  .heading, p {
    text-align: center;
  }
  a{
    color: white;
  }
}

.home.button.reverse{
  color: white;
  border-color: currentColor;
}

.home.button.outline{
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
}

section.home.background.blue{
  background: #205493;
  background: -moz-linear-gradient(top, #205493 0%, #112e51 34%);
  background: -webkit-linear-gradient(top, #205493 0%,#112e51 34%);
  background: linear-gradient(to bottom, #205493 0%,#112e51 34%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#205493', endColorstr='#112e51',GradientType=0 );
}

.home.card{
  color: white;
  box-shadow: none !important;
  padding-top: 10px;
  p{
    margin-bottom: 40px;
  }
  &.first{
    background-color:#205493;
  }
  &.second{
    background-color:#4aa564;
  }
  &.third{
    background-color:#5b616b;
  }
  &.fourth{
    background-color:#323a45;
  }
} 
