.site-header{
  padding-left: 15px;
  border-bottom: 2px solid #ececec;
  background-color: white;
}

.site-header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header ul {
  display: flex;
  list-style: none;
}