<div class="gray-background">
  
  
    <div class="prototype-picker">
      
      <sam-title importance="normal">
        Picker
      </sam-title>
      
      <div class="sam search">
        <input class="sam input" type="search" placeholder="Search">
        <button class="sam button left attached">
          <sam-icon name="search"></sam-icon>
        </button>
      </div>
      
      <div class="picker-radios">
        <span>
          <input type="radio" id="search-all"name="search" value="all">
          <label for="search-all">Search All</label>
        </span>
        <span>
          <input type="radio" id="search-here" name="search" value="here" checked>
          <label for="search-here">
            Search Bart
          </label>
        </span>
      </div>
      
      
      <div class="picker-crumbs">
        <a routerLink="/prototypes/component/picker-2">The Simpsons</a> / Bart
      </div>
      
      <div class="picker-results">
        <div class="picker-results-wrapper">
          <div class="picker-result">
            <a>El Barto</a>
          </div>
          <div class="picker-result">
            <a routerLink="/prototypes/component/picker-4">Ay Caramba!</a>
          </div>
          <div class="picker-result">
            <a>Bartman</a>
          </div>
          <div class="picker-result">
            <a>Milhouse</a>
          </div>
          <div class="picker-result">
            <a>Nelson</a>
          </div>
          <div class="picker-result">
            <a>Apu</a>
          </div>
          <div class="picker-result">
            <a>Milhouse</a>
          </div>
          <div class="picker-result">
            <a>Moe</a>
          </div>
          <div class="picker-result">
            <a>Ned</a>
          </div>
          <div class="picker-result">
            <a>Nelson</a>
          </div>
          <div class="picker-result">
            <a>Krusty</a>
          </div>
          <div class="picker-result">
            <a>Barney</a>
          </div>
          
          <div class="picker-result">
            <a>Ralph</a>
          </div>
          <div class="picker-result">
            <a>Skinner</a>
          </div>
          <div class="picker-result">
            <a>Edna</a>
          </div>
          <div class="picker-result">
            <a>Fat Tony</a>
          </div>
          <div class="picker-result">
            <a>Lenny</a>
          </div>
          <div class="picker-result">
            <a>Carl</a>
          </div>
        </div>
      </div>
      
      
      <div class="picker-footer">
          <a routerLink="/prototypes/component/picker">Reset</a> &nbsp;&nbsp;
        <button class="sam button primary" type="button">Add Bart</button>
      </div>
      
    </div>
    
  </div>