<div class="prototype-picker-filter">
  <label class="sam transition" for="agency-picker">
    Federal Organizations 
    (<a (click)="openModal()">Unsure?</a>)
  </label>
  <select class="sam transition" id="agency-picker" name="agency">
    <option value="" selected disabled hidden>Search...</option>
    <option>Action</option>
    <option>United States Information Agency</option>
    <option>Office of Intergovernmental Relations</option>
    <option>Bureau of Radiological Health</option>
    <option>Office of Human Development Services</option>
    <option>U.S. Postal Service</option>
    <option>Old West Regional Commission</option>
    <option>Health Care Financing Administration</option>
    <option>Interstate Commerce Commission</option>
    <option>Smithsonian Institution</option>
  </select>
</div>


<div class="prototype-picker-overlay">
  
  <div class="prototype-picker">
    
    <sam-title importance="normal">
      Search Federal Organizations
    </sam-title>
    
    <div class="sam search">
      <input class="sam transition input" type="search" placeholder="Search">
      <button class="sam transition button left attached">
        <sam-icon [icon]="faSearch"></sam-icon>
      </button>
    </div>
    
    <div class="picker-radios">
      <span>
        <input class="sam transition" type="radio" id="search-all"name="search" value="all">
        <label class="sam transition" for="search-all">Search All</label>
      </span>
      <span>
        <input class="sam transition" type="radio" id="search-here" name="search" value="here" checked>
        <label class="sam transition" for="search-here">
          Search here
        </label>
      </span>
    </div>
    
    <div class="picker-crumbs">
      Department of Defense
    </div>
    
    <div class="picker-results">
      <div class="picker-results-wrapper-2">
        <a>
          Departments
          <span>3 found</span>
        </a>
        <a routerLink="/prototypes/component/picker-3">
          Agencies
          <span>20 found</span>
        </a>
        <a>
          Field Activities
          <span>8 found</span>
        </a>
      </div>
    </div>
    
    <br>
    
    <div class="picker-footer">
      <a routerLink="/prototypes/component/picker">Reset</a> &nbsp;&nbsp;
      <button class="sam primary button" type="button">Add Department of Defense</button>
    </div>
    
  </div>
  
</div>