<div class="prototype-picker-filter">
  <label class="sam transition" for="agency-picker">
    Federal Organizations 
    (<a (click)="openModal()">Unsure?</a>)
  </label>
  <select class="sam transition" id="agency-picker" name="agency">
    <option value="" selected disabled hidden>Search...</option>
    <option>Action</option>
    <option>United States Information Agency</option>
    <option>Office of Intergovernmental Relations</option>
    <option>Bureau of Radiological Health</option>
    <option>Office of Human Development Services</option>
    <option>U.S. Postal Service</option>
    <option>Old West Regional Commission</option>
    <option>Health Care Financing Administration</option>
    <option>Interstate Commerce Commission</option>
    <option>Smithsonian Institution</option>
  </select>
</div>


<div class="prototype-picker-overlay" *ngIf="showOverlay">
  
  <div class="prototype-picker">
    
    <sam-title importance="normal">
      Search Federal Organizations
    </sam-title>
    
    <div class="sam search">
      <input class="sam transition input" type="search" placeholder="Search">
      <button class="sam transition button left attached">
        <sam-icon [icon]="faSearch"></sam-icon>
      </button>
    </div>
    
    <div class="picker-radios">
      <span>
        <input class="sam transition" 
        type="radio" 
        id="search-all" 
        name="search" 
        value="all" 
        [checked]="searchOption === 'all'">
        <label class="sam transition" for="search-all">
          Search All
        </label>
      </span>
      <span>
        <input class="sam transition" 
          type="radio" 
          id="search-here" 
          name="search" 
          value="here"
          [checked]="searchOption === 'here'">
        <label class="sam transition" for="search-here">
          Search here
        </label>
      </span>
    </div>
    
    <div class="picker-crumbs">
      <ng-container *ngFor="let crumb of breadcrumbs; index as i; last as isLast">
        <a *ngIf="!isLast" (click)="getParent()">{{ crumb.name }}</a> 
        <ng-container *ngIf="isLast">{{ crumb.name}} </ng-container>
        <ng-container *ngIf="!isLast" > / </ng-container>
      </ng-container>
    </div>
    
    <div class="picker-results">
      <div class="picker-results-wrapper-2">
        
        <ng-container *ngFor="let result of results">
          <a (click)="getChildren(result)">
            {{ result.name }}
            <span>
              {{ result.type || result.found }}
              <ng-container *ngIf="result.found">found</ng-container>
            </span>
          </a>
        </ng-container>
        
        <!-- <a routerLink="/prototypes/component/picker-2">
          Department of Defense
          <span>Department</span>
        </a>
        <a routerLink="/prototypes/component/picker-3">
          Interstate Commerce Commission
          <span>Department</span>
        </a> -->
      </div>
    </div>
    
    <br>
    
    <div class="picker-footer">
      <a *ngIf="level !== 0" routerLink="/prototypes/component/picker">
        Reset
      </a>
      &nbsp;&nbsp;
      <button class="sam primary button" type="button" [class.disabled]="level === 0">Add</button>
    </div>
    
  </div>
  
</div>