<div class="gray-background">
  
  
    <div class="prototype-picker">
      
      <sam-title importance="normal">
        Picker
      </sam-title>
      
      <div class="sam search">
        <input class="sam input" type="search" placeholder="Search" value="ar">
        <button routerLink="/prototypes/component/picker-2" class="sam button left attached">
          <sam-icon name="search"></sam-icon>
        </button>
      </div>
      
      <div class="picker-radios">
        <span>
          <input type="radio" id="search-all"name="search" value="all">
          <label for="search-all">Search All</label>
        </span>
        <span>
          <input type="radio" id="search-here" name="search" value="here" checked>
          <label for="search-here">
            Search The Simpsons
          </label>
        </span>
      </div>
      
      
      <div class="picker-crumbs">
          The Simpsons
      </div>
      
      <div class="picker-results">
        <div class="picker-results-wrapper short">
          <div class="picker-result">
            <a routerLink="/prototypes/component/picker-3">
              B<span>ar</span>t
            </a>
          </div>
          <div class="picker-result">
            <a>
              M<span>ar</span>ge
            </a>
          </div>
          <div class="picker-result">
            <a>B<span>ar</span>ney</a>
          </div>
        </div>
      </div>
      
      
      <div class="picker-footer">
          <a routerLink="/prototypes/component/picker">Reset</a> &nbsp;&nbsp;
        <button class="sam button primary" type="button">Add The Simpsons</button>
      </div>
      
    </div>
    
  </div>