.sam.breadcrumbs{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: 1.6rem;
}

.sam.breadcrumbs li:not(:last-child)::after {
    content: '/';
    color: #ccc;
    padding: 0 .4em;
}