@import 'authentication/shared/kba';
@import 'authentication/shared/password';

@import 'authentication/login';
@import 'authentication/register';
@import 'authentication/profile';

.usa-authentication {
  margin-top: 80px;
  margin-bottom: 80px;

  > .usa-grid {
    margin-top: 30px;
  }

  legend {
    line-height: 3rem;
  }

  hr {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  .usa-title {
    color: #0071BC;
  }

  .usa-subtitle {
    font-size: 2.5rem;
  }

  a {
    &:focus {
      box-shadow: none;
    }
  }
}
