  .sam-autocomplete-multiselect {
    max-width: 46rem;
    width: 100%;
    clear: both;
    position: relative;
    
    button {  
      float: right;
    }

    button.usa-button-link {
      text-decoration: none;
      color: #0071bc;
      z-index: 1;
    }

    ul {
      box-shadow: 1px 1px 5px black;
      background-color: white;
      z-index: 999;

      position: absolute;
      width: 100%;
    }

    li {
      position: relative;
      
      p {
        margin-bottom: 0;
        padding: 0.7rem 0.7em;
      }
    }

    li:hover, li.selected {
     background-color: #0071bc;
     color: white;
    }

    label { 
      .required {
        float: right;
        font-style: italic;
      }
    }

    .sam-autocomplete-multiselect-input {
      width: 100%;
      padding: 0.7rem 0.7em;
      border: 1px solid black;
      vertical-align: middle;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      * {
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
      }

      span.selected {
        background-color: #d6d7d9;
        margin-right: .7em;
        padding: 0 .5em;
        cursor: pointer;
      }

      textarea {
        width: initial;
        flex-grow: 1;

        height: 100%;

        padding: 0;
        margin: 0.3rem;

        vertical-align: middle;

        resize: none;
        border: 0;
        outline: none;
        box-shadow: none;
      }
    }
  }

  span.usa-sr-only.measure.text {
    font-size: 1.7rem;
    line-height: 1.3;
    max-width: 43rem;
    padding: 0;
  }