sam-complex-form-template{
  sam-status-banner{
    margin-bottom:20px;
    display:block;
    overflow:hidden;
    sam-alert{
      display:block;
      overflow:hidden;
      .usa-alert{
        margin-top: 0;
      }
    }
  }
}