.sam-footer {
  
  p{
    font-size: $small;
    line-height: 1.4;
    padding: 1em 0em 3em 0em;
    strong {
      font-weight: 600;
    }
  }
  
  .sam-footer-logo {
    a {
      display: inline-block;
      min-height: 15rem;
      min-width: 15rem;
      @include background-image(url($assets-path + '/img/logos/gsa-logo.png'));
      background-size: 13rem auto;
      background-repeat: no-repeat;
    }

    span {
      @include sr-only();
    }
  }
  
}