.label-wrapper-horizontal {
  display: table;

  > * {
    display: table-cell;
    vertical-align: middle;
  }

  &:first-child {
    padding-right: 8px;
  }

  label {
    display: inline-block;
  }

  .usa-form-group {
    display: inline-block;
    float: none;
  }

  .date-group {
    display: inline-block;
  }
}
