<sam-fieldset-wrapper #wrapper [label]="label">
    <sam-radio-button [name]="radioName" aria-label="Radio Button" [options]="dateRadioOptions" [ngModel]="radioSelection" (ngModelChange)="radioChange($event)"></sam-radio-button>
    <ng-container *ngIf="radioSelection=='date'">
        <sam-date [ngModel]="model.date" (ngModelChange)="dateChange($event)" name="date"></sam-date>
    </ng-container>
    <div [attr.class]="'date-range-zone'" *ngIf="radioSelection=='dateRange'">
        <sam-date-range *ngIf="rangeType!='date-time'" [ngModel]="model.dateRange" (ngModelChange)="dateRangeChange($event)" name="date range"></sam-date-range>
        <sam-date-range *ngIf="rangeType=='date-time'" type="date-time" [ngModel]="model.dateRange" (ngModelChange)="dateRangeChange($event)" name="date range"></sam-date-range>
        <!--Will bring this back soon --><sam-select *ngIf="rangeType=='date-time' && false" [ngClass]="'date-range-timezone'" [ngModel]="model.timezone" (ngModelChange)="dateRangeTimezoneChange($event)" name="time zone" [options]="timezoneOptions"></sam-select>
    </div>
    <ng-container *ngIf="radioSelection=='timeSpan'"> 
        <sam-select [ngModel]="model.timeSpan" (ngModelChange)="timeSpanChange($event)" name="time span" [options]="timeSpanOptions"></sam-select>
    </ng-container>
</sam-fieldset-wrapper>