.usa-register-main {
  sam-alert {
    left: 50%;
    transform: translateX(-50%);
  }

  form {
    max-width: 100%;
    .usa-button-controls {
      margin-top: 4rem;
      text-align: center;
    }
  }

  fieldset {
    &.phone,
    &.office {
      label:nth-child(1) {
        margin-top: 0rem;
      }
    }

    &.name {
      margin-top: 0rem;
      fieldset {
        label:nth-child(1) {
          margin-top: 1.5rem;
        }
      }
    }
  }

  .usa-button-wrapper {
    clear: both;
  }
}
