[submodule "sam-ui-elements-submodule"]
	path = sam-ui-elements-submodule
	url = https://colinalford:46f500f53ab88fab848bcac814b165c3f3062c32@csp-github.sam.gov/GSA-IAE/sam-ui-elements
	branch = develop