$sam-menu-border-width: 1px;

.sam.menu{
	border-bottom-width:$sam-menu-border-width;
	border-bottom-style:solid;
	padding:15px;
}

.sam.menu .section.right{
	float:right;
}

.sam.menu .section.right a{
	margin-left:15px;
}