// Header CSS ------- //

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
// 	font-family: $font-sans;
// }

// #iae-header,
// #iae-header-login,
// #iae-login-otp {
// 	position: relative;
// 	overflow: visible;
// 	z-index: 9999;
// 	display: inline-block;
// 	width: 100%;
// 	font-family: $font-sans;
// 	font-size: $base-font-size;
// 	color: $color-white;

//   a {
//     color: $color-white;
//   }
// }

// #iae-header-login {
// 	float: right;
// 	width: 30%;
// 	display: none;

// 	.fa-chevron-right {
// 		position: absolute;
// 		top: 50%;
// 		left: 10px;
// 	}
// }

#sam-header {
	background-color: $color-primary-darkest;
  box-shadow: 0 2px 4px rgba(1,2,2,0.1);

  a {
    display: inline-block;
    min-height: 4.4rem;
    min-width: 4.4rem;
    background-size: 2.5rem auto;
    background-repeat: no-repeat;
    background-position: center center;    
  }

  li {
    float: left;
  }

  .sam-home {
    padding: 3.5rem 0rem;
    width: 25rem;
    height: 4rem;
    @include background-image(url('../img/transition-sam-logo.svg'), url('../img/transition-sam-logo.png'));
    background-size: 25rem auto;
  }

  .sam-search {
    padding: 3.5rem 0rem;
    @include background-image(url('../img/search.svg'), url('../img/search.png'));
    background-repeat: no-repeat;
    background-position: center center;
  }

  .sam-home span, .sam-search span {
    @include sr-only();
  }

  // ul {
  //   margin-top: 0em;
  // }
	// border-bottom:1px solid rgba(#000000, .2);
	

	// nav {
	// 	width: 100%;
	// 	height: auto !important;
	// 	margin-top: 4px !important;
	// }

	// li {
	// 	list-style: none;
	// }

	// .iae-header-menu {
	// 	float: left;
	// }

	// .iae-header-logo {
	// 	padding-top: 25px;
	// 	float: left;
	// }

	// .iae-header-nav {
	// 	text-align: center;
	// 	background-color: #18385e;
	// 	cursor: pointer;
	// 	padding-top: 20px;
	// 	margin-right: 20px;
	// 	float: left;
	// 	width: 80px;
	// 	height: 80px;

	// 	div {
	// 		font-weight: 700;
	// 		font-size: 14px;
	// 	}

	// 	a {
	// 		i {
	// 			color: $color-white;
	// 		}
	// 	}

	// 	span {
	// 		display: block;
	// 	}
	// }

	// .iae-sign-in {
	// 	text-align: right;
	// 	padding-top: 35px;
	// 	font-weight: 300;
	// 	cursor: pointer;

	// 	a {
	// 		i {
	// 			color: $color-white;
	// 			margin-right: 20px;
	// 		}
	// 	}

	// 	@media only screen and (max-width: 768px) {
	// 		clear: left;
	// 		float: left;
	// 		padding-top: 15px !important;
	// 	}

	// 	#iae-user-off {
	// 		display: block;
	// 	}

	// 	#iae-user-on {
	// 		display: none;
	// 	}

	// 	#iae-user-off, #iae-user-on {
	// 		float: right;
	// 	}
	// }

	// .iae-header-search {
	// 	float: right;
	// 	width: 50%;
	// 	margin-top: 2em;
	// 	padding-right: 2em;

	// 	@media screen and (max-width: $medium-screen) {
	// 		display: none;
	// 	}

	// 	input {
	// 		display: inline;
	// 		width: 25em;
	// 		margin-top: 1em;
	// 		margin-right: 1em;
	// 		float: right;
	// 		padding: .5em .75em;
	// 		border: 1px solid $color-gray-lighter;
	// 	}

	// 	button {
	// 		display: inline;
	// 		float: right;
	// 		padding: .75em 1em;

	// 		background-color: $color-primary-alt;
	// 		&:hover {
	// 			background-color: $color-primary-alt-dark;
	// 		}
	// 		&:active {
	// 			background-color: $color-primary-alt-darkest;
	// 		}
	// 	}
	// }
}

// .iae-login {
// 	padding: 5px 40px 40px 40px;
// 	@include linear-gradient($color-primary-darkest, $color-primary, $fallback: $color-primary-darkest);

// 	h3 {
// 		font-weight: $font-normal;
// 		font-size: 2em;
// 		margin-top: 1em;
// 	}

// 	#iae-pswd-login {
// 		display: block;
// 	}

// 	#iae-otp-login {
// 		display: none;
// 	}

// 	input[type=submit] {
// 		margin-top: 40px;
// 		color: $color-primary-darker;
// 		background-color: $color-white;
// 		&:hover {
// 			color: $color-primary;
// 		}
// 		&:active {
// 			color: $color-primary-alt-darkest;
// 		}
// 	}

// 	a {
// 		color: $color-white;
// 		float: right;
// 	}

// 	hr {
// 		border: 0;
//     	height: 1px;
//         background-color: rgba(255, 255, 255, 0.3);
// 		margin: 25px 0;
// 	}

// 	.login-field {
// 		position: relative;
// 		.fa-user, .fa-lock {
// 		  color: $color-primary-darker;
// 		  position: absolute;
// 		  top: 40px;
// 		  left: 10px;
// 		}
// 		input { text-indent: 20px;}
// 	}
// }

// .iae-user-dropdown {
// 	border: 1px solid $color-gray-lighter;
// 	border-radius: 10px;
// 	background: $color-white;
//     padding: 10px;
//     width: 180px;
//     height: 120px;
// 	position: absolute;
// 	margin-top: 40px;
// 	margin-left: -15px;
// 	display: none;

// 	&:after, &:before {
// 		bottom: 100%;
// 		left: 50%;
// 		border: solid transparent;
// 		content: " ";
// 		height: 0;
// 		width: 0;
// 		position: absolute;
// 		pointer-events: none;
// 	}

// 	&:after{
// 		border-color: rgba(136, 183, 213, 0);
// 		border-bottom-color: $color-white;
// 		border-width: 10px;
// 		margin-left: -10px;
// 	}

// 	&:before{
// 		border-color: rgba(194, 225, 245, 0);
// 		border-bottom-color: $color-gray-lighter;
// 		border-width: 12px;
// 		margin-left: -12px;
// 	}
// 	ul {
// 		width: 100%;
// 		li {
// 			list-style-type: none;
// 			text-align: left;
// 			&:after {
// 				content: "";
// 				display: block;
// 				height: 1px;
// 				background: $color-gray-light;
// 				margin-top: 5px;
// 			}
// 			&:last-child {
// 				&:after {
// 					background-color: none;
// 					height: 0;
// 				}
// 			}
// 			a {
// 				color: $color-gray;
// 				text-decoration: none;
// 			}
// 		}
// 	}
// }

/* Tooltip  */
// .tooltip {
//     position: relative;
//     display: inline-block;
// 	&:hover {
// 		.tooltiptext {
// 			visibility: visible;
// 		}
// 	}
// 	.tooltiptext {
// 		font-family: $font-sans;
// 		font-size: $small-font-size;
// 		visibility: hidden;
// 		width: 250px;
// 		background-color: $color-white;
// 		border: 1px solid $color-gray-light;
// 		color: $color-gray;
// 		text-align: center;
// 		padding: 15px;
// 		border-radius: 10px;
// 		position: absolute;
// 		z-index: 1;
// 		top: 150%;
// 		left: 25%;
// 		margin-left: -35px; /* Use half of the width to center the tooltip */

// 		&::after {
// 			content: " ";
// 			position: absolute;
// 			bottom: 100%;  /* Arrow at the top of the tooltip */
// 			left: 15%;
// 			margin-left: -5px;
// 			border-width: 5px;
// 			border-style: solid;
// 			border-color: transparent transparent $color-white transparent;
// 		}
// 	}
// }
