.usa-register-main {
  sam-alert {
    left: 50%;
    transform: translateX(-50%);
  }

  form {
    max-width: 100%;
    .usa-button-controls {
      margin-top: 4rem;
      text-align: center;
    }
  }

  legend {
    font-weight: 700;
  }

  sam-label-wrapper {
    > div {
      margin-top: 1em;
    }
  }

  fieldset {
    margin-top: 2em;

    &.name,
    &.phone,
    &.office {
      width: 46rem;
    }

    &.phone,
    &.office {
      sam-label-wrapper:nth-child(1) {
        > div {
          margin-top: 0rem;
        }
      }
    }

    &.name {
      margin-top: 0rem;

      fieldset {
        sam-label-wrapper:nth-child(1) {
          > div {
            margin-top: 1.5rem;
          }
        }
      }
    }

    &.phone {
      .usa-unstyled-list {
        margin-top: 0.5rem;

        li:last-child {
          label {
            margin-bottom: 0em;
          }
        }
      }
    }
  }

  sam-intl-telephone-group {
    .usa-form-hint {
      margin-bottom: 0em !important;
    }
  }

  sam-phone-entry > sam-label-wrapper > div {
    margin-top: 1em !important;
    margin-bottom: 1em;
  }

  fieldset.office {
    position: relative;

    sam-agency-picker-v2 {
      .usa-form-hint {
        strong {
          font-weight: 700;
        }
      }
    }
  }

  .usa-agency-tip {
    font-size: 1.6rem;
    left: 100%;
    margin-left: 10rem;
    position: absolute;
    top: 1rem;
    width: 100%;

    ul {
      display: block;
      margin: 0rem;
      margin-left: 2rem * 1.75;
      padding-left: 0rem;

      li {
        display: block;
        position: relative;
        padding: 0px;
        font-size: 1.7rem;
        line-height: 2.3rem;

        &:before {
          line-height: 0px;
          content: '- ';
        }

        &:after {
          margin-bottom: 0px;
        }

        &.hint,
        &.header {
          display: block;
          margin: 1.5rem 0rem;
          padding: 0px;
          background-color: transparent;

          &:before {
            content: '';
          }
        }

        &.header {
          font-size: 2rem;
          font-weight: bold;
        }
      }
    }
  }

  sam-name-entry {
    sam-select {
      display: none;
    }
  }

  sam-intl-telephone-group {
    fieldset {
      margin-top: 0;

      .usa-form-hint {
        margin-bottom: 1em;
      }
    }
  }

  sam-autocomplete + .usa-unstyled-list {
    margin-top: 1em;
  }

  .usa-button-wrapper {
    clear: both;
  }
}
