.usa-register-main {
  sam-alert {
    left: 50%;
    transform: translateX(-50%);
  }

  form {
    max-width: 100%;
    .usa-button-controls {
      margin-top: 4rem;
      text-align: center;
    }
  }

  sam-label-wrapper {
    > div {
      margin-top: 1em;
    }
  }

  fieldset {
    &.name,
    &.phone,
    &.office {
      width: 46rem;
    }

    &.phone,
    &.office {
      sam-label-wrapper:nth-child(1) {
        > div {
          margin-top: 0rem;
        }
      }
    }

    &.name {
      margin-top: 0rem;
      fieldset {
        sam-label-wrapper:nth-child(1) {
          > div {
            margin-top: 1.5rem;
          }
        }
      }
    }
  }

  sam-autocomplete + .usa-unstyled-list {
    margin-top: 1em;
  }

  .usa-button-wrapper {
    clear: both;
  }
}
