/*0 padding styles migrated here - can be used regardless of px, rem, or em*/
.m_0 { margin: 0 !important; }
.m_R-0 { margin-right: 0 !important; }
.m_T-0 { margin-top: 0 !important; }
.m_B-0 { margin-bottom: 0 !important; }
.m_L-0 { margin-left: 0 !important; }

.m_auto {
  margin-left: auto;
  margin-right: auto;
}

.p_0 { padding: 0 !important; }
.p_R-0 { padding-right: 0 !important; }
.p_T-0 { padding-top: 0 !important; }
.p_B-0 { padding-bottom: 0 !important; }
.p_L-0 { padding-left: 0 !important; }

.p_auto {
  padding-left: auto;
  padding-right: auto;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

// only used in sam-listbuilder-action component
.disable {
  color: $color-gray-warm-dark;
  cursor: default;

  &:hover {
    background-color: transparent !important;
    color: $color-gray-warm-dark !important;
  }

  &:visited {
    color: $color-gray-warm-dark !important;
  }
}

.break-word {
  word-wrap: break-word;
}

.whitespace-preline {
    white-space: pre-line;
}

.no-pointer {
  pointer-events: none;
}

.no-bkg {
  background: none;
}

.no-bkg:hover {
  background: none;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}


.show {
  display: block;
}

.hide {
  display: none;
}

.relative {
  position: relative;
}

.centered {
  text-align: center;
}

.left {
  text-align: left;
}

.normal {
  font-weight: 400;
}

.bold {
  font-weight: $font-bold !important;
}

.lighter {
  font-weight: lighter;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

.marginCenter {
  position: relative;
  margin: 0 16% !important;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.usa-color-info {
  background-color: $color-primary-alt-lightest;
}

.usa-color-warning {
  background-color: $color-gold-lightest;
}

.usa-color-error {
  background-color: $color-secondary-lightest;
}

button.usa-button-link {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: $iae-color-primary;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
}

button.usa-button-link:hover {
  background: none;
  color: $iae-color-primary;
  text-decoration: underline;
}

// Background and text color combinations
.usa-bgcolor-gray-lighter {
  background-color: $color-gray-lighter;
  color: $color-black;
}

.usa-bgcolor-gray-lightest {
  background-color: $color-gray-lightest;
  color: $color-black;
}

// Grid Offsets
.usa-offset-one-fourth {
  @include shift(3 of 12);
}

.usa-offset-one-third {
  @include shift(4 of 12);
}