/*******************************
         Global
*******************************/

/*-------------------
       Helpers
--------------------*/
/*
  USWDS 0.13.3 Vendor scss files moved to the top
  of this file to be used by all files
*/
@import 'vendor/uswds/lib/bourbon';
@import 'vendor/uswds/lib/neat';

/*-------------------
     Variables
--------------------*/
// Internal variable should be declared before uswds
// variable to take higher precendence
@import 'variables';

/*-------------------
       Reset
--------------------*/
@import 'vendor/uswds/lib/normalize';

/*-------------------
       Icons
--------------------*/
@import '~font-awesome/scss/font-awesome';


/*******************************
        USWDS 0.13.3
*******************************/

// Core -------------- //

@import 'vendor/uswds/core/variables';
/*
  Variables moved here to avoid
  overriding USWDS grid variables
*/
// Store current variable values
$current-small: $small;
$current-medium: $medium;
$current-large: $large;
// Override current variables values for grid only
$small: new-breakpoint(min-width $small-screen $grid-columns-small);
$medium: new-breakpoint(min-width $medium-screen $grid-columns-medium);
$large: new-breakpoint(min-width $large-screen $grid-columns-large);
@import 'vendor/uswds/core/grid';
// Restore variables to values defined in variables.scss
$small: $current-small;
$medium: $current-medium;
$large: $current-large;

@import 'vendor/uswds/core/utilities';

// Elements -------------- //

@import 'vendor/uswds/elements/buttons';
@import 'sam-ui/vendor/uswds'; // modified USWDS Input file
@import 'vendor/uswds/elements/labels';


// Components -------------- //

@import 'vendor/uswds/components/accordions';
@import 'vendor/uswds/components/alerts';
@import 'vendor/uswds/components/forms';
@import 'vendor/uswds/components/sidenav';
@import 'vendor/uswds/components/search';


/*******************************
        SAM UI
*******************************/

/* Global */
@import 'sam-ui/globals/fonts';
@import 'sam-ui/globals/site';

/* Elements */
@import 'sam-ui/elements/button';
@import 'sam-ui/elements/container';
@import 'sam-ui/elements/label';
@import 'sam-ui/elements/list';
@import 'sam-ui/elements/segment';
@import 'sam-ui/elements/header';
@import 'sam-ui/elements/image';
@import 'sam-ui/elements/divider';
@import 'sam-ui/elements/step';

/* Collections */
@import 'sam-ui/collections/grid';
@import 'sam-ui/collections/table';
@import 'sam-ui/collections/menu';
@import 'sam-ui/collections/message';

/* Views */
@import 'sam-ui/views/statistic';
@import 'sam-ui/views/item';
@import 'sam-ui/views/feed';

/* Vendor Extentions */
@import 'sam-ui/vendor/font-awesome';

/* Font Awesome Fallback when fonts are blocked */
@import 'font-awesome-fallback';


/*******************************
        Legacy CSS
*******************************/

/*-------------------
   Custom Utilities
--------------------*/
@import 'margin-padding';
@import 'em-margin-padding';
@import 'rem-margin-padding';
@import 'global';

/*--------------------------------------
  Specific Components (App Components)
----------------------------------------*/
@import 'components/agency-picker';
@import 'components/download-modal';
@import 'components/alert'; // REVIEW: Move to common components
@import 'components/button'; // REVIEW: Move to common components
@import 'components/date-range-filter';
@import 'components/feedback-form';
@import 'components/footer';
@import 'components/image-library';
@import 'components/list-builder';
@import 'components/notifications'; // REVIEW: Move to common components
@import 'components/searchbar';
@import 'components/sort'; // REVIEW: Move to common components
@import 'components/table-entry';
@import 'components/title-subtitle'; // REVIEW: Move to common components

/*--------------------------------------
  Common Components (SAM UI Elements)
----------------------------------------*/
@import 'components/accordion';
@import 'components/actions';
@import 'components/account-identification-code';
@import 'components/autocomplete-multiselect';
@import 'components/autocomplete';
@import 'components/banner';
@import 'components/bread-crumbs';
@import 'components/card';
@import 'components/collapsible';
@import 'components/comments';
@import 'components/date-range';
@import 'components/download';
@import 'components/header';
@import 'components/history';
@import 'components/image';
@import 'components/info-accordion';
@import 'components/input';
@import 'components/label-wrapper';
@import 'components/modal';
@import 'components/multiselect-dropdown';
@import 'components/pagination';
@import 'components/sam-time';
@import 'components/toggle-switch';
@import 'components/watchlist';

/*-------------------
  Extended components
--------------------*/
@import 'components/us-security-modal';
@import 'components/sa-security-modal';
@import 'components/sa-static-security-modal';
@import 'components/video-player';
/*-------------------
     Pages
--------------------*/
// TODO: Move pages found in components
// folder to the pages folder
@import 'pages/help';
@import 'pages/_help-support.scss';
@import 'pages/awards';
@import 'pages/entity-object-view';
@import 'pages/exclusions';
@import 'pages/opportunity';
@import 'pages/organization';
@import 'pages/search';
@import 'pages/databank';
@import 'pages/reports';
@import 'pages/alerts';
@import 'pages/users-directory';
@import 'pages/wage-determination';
@import 'pages/assistance-listing-operations';
@import 'pages/opportunities-operations';
@import 'pages/wage-determination-operations';
@import 'pages/help-search';
@import 'pages/release-notes';
@import 'pages/home';
@import 'pages/_custom-page-inline-styles.scss';
@import 'components/aac-confirm';
@import 'components/aac-request';
@import 'components/authentication';
@import 'components/help-awards';
@import 'components/organization-create';
@import 'components/organization-detail';
@import 'components/organization-hierarchy';
@import 'components/organization-move';
@import 'components/organization-profile';
@import 'components/user-directory';
@import 'components/workspace';
@import 'components/users/index';
@import 'components/password/password';
@import 'components/role-management/role-managment';
@import 'components/data-service/data-service';
@import 'components/fh/index';
@import 'components/upload';
@import 'components/upload-v2';
@import 'components/opp-links-table';
@import 'components/help/sections';
/*-------------------
     Templates
--------------------*/
@import 'templates/workspace';


/*******************************
     Temporary Fixes
*******************************/
/*
  All of these styles will be removed
*/

.usa-unstyled-list {
  @include unstyled-list;
}

.usa-unstyled-list > li {
    padding-bottom: 2px;
}

.usa-font-lead {
  font-family: $font-serif;
  font-size: $lead-font-size;
  line-height: $lead-line-height;
  max-width: $lead-max-width;
}

.div-fill{
  color: $textColor;
  .reset-icon, .reset-icon-active{
    top: 4% !important;
  }
}
.div-right .usa-button-primary{
  background-color: #02bfe7;
}

.usa-sidenav-list a{
  font-weight: 400;
}

.usa-sidenav-list a.usa-current{
  font-weight: 600;
}

.usa-alert{
  position: relative;
  margin-top: 0;
  margin-bottom: 1.5em;
}

/*
  Let content occupy most of the page
  and show footer when scroll down
*/
.occupy-page{
  min-height: 40vh;
}

.overlay{
  background-color:rgba(0,0,0,0.5);
  z-index: 100;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.usa-input-error{
  .usa-agency-picker-dropdown-area{
    select{
      width:100%;
    }
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.sidenav-logo {
  width:160px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.falDateFilter{
  .start-date{
    margin-right: 0rem;
  }
}

.crossed-out:after{
  content: '|';
  color: #0071bc;
  display: block;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

// Make sidenav use all availabe horizontal space on medium screen
@media screen and (min-width: $medium-screen) and (max-width: $large-screen - 1) {
  aside.usa-width-one-fourth{
    margin-right: 0;
    width: 100%;
  }
}

select {
  background-position: right .65rem center;
  padding: 1rem 2.6rem 1rem 0.7em;
}

.overflow-ellipsis {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

// https://stackoverflow.com/questions/7492062/css-overflow-scroll-always-show-vertical-scroll-bar
::-webkit-scrollbar {
  background-color: rgba(128,128,128,.2);
  width: 15px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

// For some odd reason USWDS does not show checkmarks if the item is checked and disabled. This will show the checkmark
[type="checkbox"]:disabled:checked + label::before {
  background-image: url('#{$image-path}/correct8.png');
  background-position: 50%;
  background-repeat: no-repeat;
}

// Make sure to color disabled checkboxes as grey
[type="checkbox"]:disabled:checked + label::before {
  background-color: #d6d7d9 !important;
  box-shadow: 0 0 0 1px #aeb0b5 !important;
  cursor: not-allowed;
}

[type="radio"]:disabled:checked + label::before {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #a5acb5;
}

// a method for creating a two column layout where the left and right column are approximately the same height (see grant-or-edit-access.template)
.column-wrappable {
  li {
    list-style: none;
    break-inside: avoid-column;
  }
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
  padding-left: 0;
}

.link-hover:hover {
  background-color: #f1f1f1;
}

.h5{
  font-size: 1.5rem;
}

.h4{
  font-size: 2rem;
  font-weight: 600;
}

.h3{
  font-size: 2.3rem;
}

.h2 {
  font-size: 3rem;
}

.h1{
  font-size: 4rem;
}

.sam-ui-br {
  padding: 0px;
  display: table;
}

.br-before {
  margin-top: 12px;
}

.br-after {
  margin-bottom: 12px;
}

.br-double-before {
  margin-top: 25px;
}

.br-double-after {
  margin-bottom: 25px;
}

.flex-display{
  display: flex;
}

.relative-position {
  position: relative;
}

.form-section {
  border: 1px solid #d6d7d9;
  padding: 10px;
  margin-top: 1em;
  margin-bottom: 2px;
}

.screenreader {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* The legend should at least have at much space between it and the items as the
   items have between themselves
 */
sam-radio-button, sam-checkbox {
  legend:not(:empty) {
    min-height: 2.25em;
  }
}

.opp-review-attachments-edit-disabled {
  color: #aeb0b5;
}

.page-content-sidebar{
  height: 99%;
}
