.msg-feed-sidenav{

  ul {
    padding-left: 0;
  }

  li {
    padding-left: 0 !important;
    list-style-type: none !important;
  }

  .border-top-black{
    border-top: 1px black solid;
  }

  .border-bottom-black{
    border-bottom: 1px black solid;
  }

  legend{
    margin-bottom: 10px;
    font-size: 110%;
  }

  .transparent-border{
    border-left: 4px $color-white solid;
  }

  .transparent-border:hover{
    border-left: 4px $color-gray-lightest solid;
  }

  .sublist li .usa-current{
    padding-left: 36px;
  }

  .sublist li a{
    padding-left: 40px;
  }

  .request-total-count{
    color: $color-white;
    background-color: $color-secondary;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 5px;
    min-width: 30px;
    text-align: center;
  }

  .request-count, .request-count-empty{
    display: inline-block;
    height: 26px;
    min-width: 30px;
    color: $color-white;
    background-color: $color-secondary;
    border-radius: 50%;
    text-align: center;
  }

  .request-count-empty{
    background-color: $color-white;
  }

  label{
    display: inline-block;;
    font-weight: 400;
    margin-bottom: 0.5em;
  }

  legend {
    height: 2.5rem !important;
  }

  sam-autocomplete-multiselect label{
    font-weight: 600;
    font-size: 110%;
  }

  input::-webkit-input-placeholder{
    font-style: italic;
  }
}
