select.sam.transition{
  background-image: none;
  display: inline-block;
  padding: initial;
  -webkit-appearance: menulist;
  -moz-appearance: menulist; 
  max-width: fit-content;
  font-size: initial;
}