<h2 id="default">Default page template</h2>

<p class="usa-font-lead">The default page template allows developers to automatically include the header and footer components while allowing freeform content area creation.</p>

<div class="usa-alert usa-alert-info">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Extension of the US Web Design Standards</h3>
    <p class="usa-alert-text">The US Web Design Standards does not define this page template.</p>
  </div>
</div>

<p>Note: Used as the base for all other page templates within the SAM environment.</p>

<div class="preview preview-no_border grid-example grid-text">
  <div class="usa-grid">
    <div class="usa-width-one-whole">Header component</div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-one-whole">Freeform content</div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-one-whole">Footer component</div>
  </div>
</div>

<div class="usa-accordion-bordered">
  <button class="usa-button-unstyled usa-accordion-button"
      aria-expanded="true" aria-controls="collapsible-0">
    Documentation
  </button>
  <div id="collapsible-0" aria-hidden="false" class="usa-accordion-content">
    <h4 class="usa-heading">Accessibility</h4>

    <h4 class="usa-heading">Usability</h4>
    <h5>When to use</h5>

    <h5>When to consider something else</h5>

    <h5>Guidance</h5>
  </div>
</div>
