<h2 id="search">Search page template</h2>

<p class="usa-font-lead">The search page template allows developers to list results of a search within the SAM environment.</p>

<div class="usa-alert usa-alert-info">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Extension of the US Web Design Standards</h3>
    <p class="usa-alert-text">The US Web Design Standards does not define this page template.</p>
  </div>
</div>

<p>Note: Extends the default page template.</p>

<div class="preview preview-no_border grid-example grid-text">
  <div class="usa-grid">
    <div class="usa-width-one-whole">Header component</div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-one-third">Side navigation</div>
    <div class="usa-width-two-thirds">
      <div>Search bar component</div>
    </div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-one-third" style="background: transparent">&nbsp;</div>
    <div class="usa-width-two-thirds">
      <div>Search result component</div>
    </div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-one-third" style="background: transparent">&nbsp;</div>
    <div class="usa-width-two-thirds">
      <div>Search result component</div>
    </div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-one-third" style="background: transparent">&nbsp;</div>
    <div class="usa-width-two-thirds">
      <div>Search result component</div>
    </div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-one-third" style="background: transparent">&nbsp;</div>
    <div class="usa-width-two-thirds">
      <div>Pagination component</div>
    </div>
  </div>  
  <div class="usa-grid">
    <div class="usa-width-one-whole">Footer component</div>
  </div>
</div>

<div class="usa-accordion-bordered">
  <button class="usa-button-unstyled usa-accordion-button"
      aria-expanded="true" aria-controls="collapsible-0">
    Documentation
  </button>
  <div id="collapsible-0" aria-hidden="false" class="usa-accordion-content">
    <h4 class="usa-heading">Accessibility</h4>

    <h4 class="usa-heading">Usability</h4>
    <h5>When to use</h5>

    <h5>When to consider something else</h5>

    <h5>Guidance</h5>
  </div>
</div>
