{% assign current = page.url | downcase | split: '/' %}

{% for item in site.data.menu %}
{% assign itemlowercase = item.url | downcase %}
  {% if current[1] == itemlowercase and item.submenu %}
<nav class="iae-secondary-navigation" aria-label="Secondary navigation">
  <ul class="no-js">
  <li>
      {% if item.target == "_blank" %}
      <a href="{{item.url}}" class="{{item.class}} {% if current[2] == itemlowercase %} usa-current{% endif %}" target="{% if item.target %}{{item.target}}{% else %}_self{% endif %}">{{item.text}}</a>
      {% else %}
      <a href="{{ site.baseurl }}/{{item.url}}/" class="{{item.class}} {% if current[1] == itemlowercase %} usa-current{% endif %}" target="{% if item.target %}{{item.target}}{% else %}_self{% endif %}">{{item.text}}</a>
      {% endif %}
    </li>
    {% for subitem in item.submenu %}
    {% assign subitemlowercase = subitem.url | downcase %}
        <li>
        {% if subitem.target == "_blank" %}
          <a href="{{subitem.url}}" class="{{subitem.class}} {% if current[2] == subitemlowercase %} usa-current{% endif %}" target="{% if subitem.target %}{{subitem.target}}{% else %}_self{% endif %}">{{subitem.text}}</a>
        {% else %}
          <a href="{{ site.baseurl }}/{{item.url}}/{{subitem.url}}" class="{{subitem.class}} {% if current[2] == subitemlowercase %} usa-current{% endif %}" target="{% if subitem.target %}{{subitem.target}}{% else %}_self{% endif %}">{{subitem.text}}</a>
        {% endif %}
        </li>  
    {% endfor %}
    </li>
  </ul>
</nav>
  {% break %}
  {% endif %}
{% endfor %}
