@import "help-content-management/help-content-management-sidenav";

.help-content-management{
  .main-container {
    margin-bottom: 1em;
  }

  .content-item{
    border: 1.5px solid $color-gray-light;
    padding: 5px;
    margin-bottom: 3px;
  }

  .content-header-type-div{
    text-align: center;
    background-color: $color-gray-lighter;
    padding: 7px;
    font-weight: 600;
  }

  .content-item-header{
    border-bottom: 1px solid $color-gray-light;
  }

  .content-item select{
    border: none;
    margin: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    height: 35px;
  }

  .content-title-text{
    padding: 10px 0 5px 0px;
    margin-bottom: 0px;
  }

  .content-description-text{
    padding-top: 5px;
    padding-bottom: 8px;
    margin-bottom: 0px;
  }


  sam-sort select{
    min-width: 100px;
  }

  .question-button{
    padding-top: 17.5px;
    padding-bottom: 17.5px
  }

  .video-image{
    width: 100%;
    height: 200px;
    padding: 10px;
    opacity: 0.6;
  }

  .video-play-icon:hover{
    cursor: pointer;
  }

  .video-play-icon{
    position: absolute;
    top: 40%;
    right: 43%;
    color: $color-gray-warm-dark;
    font-size: 250%;
  }

  .video-time{
    padding: 0 5px 0 5px;
    position: absolute;
    bottom: 22px;
    right: 15px;
    color: $color-white;
    background-color: $color-gray-medium;
  }

  sam-actions-dropdown .usa-button{
    margin-bottom: 0px !important;
    margin-top: 0px !important;
  }
}

.help-content-management-edit{

  .content-description-box {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif;
    margin-top: auto;
    margin-bottom:  auto;
    white-space: pre-wrap;
  }

  .file-container, sam-label-wrapper label {
    max-width: 46rem;
    margin-bottom: 5px;
  }

  .video-form-container {
    sam-label-wrapper label {
      max-width: 100%;
    }
    .section-border {
      sam-label-wrapper:nth-of-type(2) label {
        margin-top: 20px;
      }
    }
    .sourceUrlDiv {
      margin-left: 0;
      &:last-child {
        margin-top: 10px;
      }
    }
  }
  .section-border{
    border: 1px solid $color-gray-lighter;
    margin: 5px 0px;
    padding: 15px;
  }

  sam-autocomplete-multiselect .sam-autocomplete-multiselect-input{
    //max-width: 46rem;
  }

  .cms-btn{
    text-align: center;
    display: inline-block;
    font-size: 130%;
    width: 33px;
    height: 28px;
    border: 1px solid #0071bc;
    background-color: #DEF2FE;
  }

  .cms-btn:hover{
    cursor: pointer;
    background-color: #C8E8F5;
  }

  .right-border-line{
    height: 40px;
    margin-right: 5px;
    margin-left: 5px;
    border-right: 1px black solid;
  }

  .draft-btn-group{
    position: absolute;
    top: 8px;
    left: 230px;
  }

  .optional-text{
    position: absolute;
    top: 10px;
    right: 10px;
    color: $color-gray-medium
  }

  .public-view-tag, .status-tag{
    position: absolute;
    top: 27px;
    right: 22px;
    min-width: 80px;
    padding: 0px 10px;
    background-color: $color-gray-lightest;
    display: inline-block;
    text-align: center;
  }

  .edit-tag {
    top: 17.7px;
    right: 12px;
  }

  .public-view-tag{
    right: 0px;
  }

  .error-border{
    border: 1px $color-secondary solid;
  }

  .sam-ui.header{
    //border: 1px solid $color-gray-lighter;
    //padding: 15px;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .file-input-div, .file-input-error-div{
    display: inline-block;
    width: 46rem;
    padding: 15px;
  }

  .file-input-error-div{
    border: 2px $color-secondary solid;
  }

  .file-input-div{
    border: 1px $color-black solid;
  }

  .drag-cursor{
    cursor:copy;
  }

  .sourceUrlDiv{
    max-width: 46rem;
    width: 100%;
  }

  .sourceUrl-span{
    width: 88%;
    word-break: break-all;
    display: inline-block;
  }

  .edit-sourceUrl-span{
    width: 8%;
    display: inline-block;
    vertical-align: top;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 5px;
  }

  #video-for-thumbnail {
    width: 100%;
    position: absolute;
    right: 10000px;
  }

}

.help-content-management-detail{
  .public-view-tag, .video-public-view-tag{
    position: absolute;
    top: 20px;
    min-width: 80px;
    padding: 0px 10px;
    background-color: $color-gray-lightest;
    display: inline-block;
    text-align: center;
    right: 0px;
  }

  .video-public-view-tag{
    top: 0px;
  }

  .videoLibrary-border{
    border: 1px solid $color-gray-lighter;
    margin: 5px 0;
    padding: 20px 15px;
  }

  .m-r-6{
    margin-right: 6em;
  }

  .content-description-text {
    white-space: pre-line;
  }
  .sm-font {
    font-size: 0.9em !important;
  }
}

