@import "./msg-feed/msg-feed-sidenav";

.msg-feed-content{


  select{
    min-width: 150px;
  }

  .msg-feeds-orderby:hover{
    cursor: pointer;
  }

  .msg-feed-items-div{
    border: 2px solid $color-gray-light;
    border-bottom: none;
  }

  .msg-feed-item{
    border-bottom: 1.5px solid $color-gray-light;
    padding: 3px;
    min-height: 80px;
  }

  .link-hover:hover{
    cursor: pointer;
  }

  .alert-image-div{
    text-align: center;
  }

  .usa-alert{
    width: 50px;
    height: 50px;
    background-position: 0.5rem;
  }

  .msg-feed-icon{
    width: 60px;
    height: 50px;
  }

  .msg-feed-user-icon{
    font-size: 200%;
    text-align: center;
    background-color: $color-gray-light;
    color: $color-white;
    padding-top: 10px;
  }

  .msg-feed-description{
    font-size: 90%;
  }

  .msg-feed-status{
    font-style: italic;
    font-size:80%;
  }

  .msg-feed-bold{
    font-size: 90%;
    font-weight: bold;
  }

  .msg-feed-name, .msg-feed-date{
    color: $color-gray-light;
    font-style: italic;
    font-size:80%;
  }

  .msg-feed-name{
    word-break: break-all;
  }

}
