
<h3 class="usa-heading" id="typefaces">Typefaces</h3>

<h4 class="usa-heading-alt">Source Sans Pro</h4>

<div class="usa-grid-full">
  <div class="usa-width-one-half">
    <p>Source Sans Pro is an open-source sans serif typeface created for legibility in UI design. With a variety of weights that read easily at all sizes, Source Sans Pro provides clear headers as well as highly-readable body text.</p>
    <p>Inspired by twentieth-century American gothic typeface design, its slender but open letters offer a clean and friendly simplicity. Advanced hinting allows Source Sans Pro to render well on Windows systems which run Cleartype, and across browsers and devices. Moreover, it supports a variety of languages and alphabets, including Western and European language, Vietnamese, pinyin Romanization of Chinese, and Navajo.</p>
  </div>

  <div class="typography-sans-intro usa-width-one-half usa-end-row">
    <span class="text-huge">Aa</span>
    <div>
      <p class="text-tiny">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
      <p class="text-tiny">a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
      <p class="text-tiny">0 1 2 3 4 5 6 7 8 9</p>
    </div>
  </div>
</div>

<h3 class="usa-heading" id="pairings">Pairings + Styles</h3>
<p>To support both more contemporary and more traditional web design aesthetics, this font system offers recommended font pairings. Each pairing includes web hierarchy guidance on font family, weight, size, and spacing which express either more modern or more classical type design.</p>
<p>Note: Some pairings require more font weights than others. While this allows more typographic expression, the use of more than four font weights will have a negative impact on page load performance. Find the balance that works for your product.</p>

<div class="usa-accordion-bordered usa-typography-example usa-accordion-docs">
  <ul class="usa-unstyled-list">
    <li>
      <button class="usa-button-unstyled"
          aria-expanded="true" aria-controls="collapsible-0">
        <h5>Source Sans Pro headings and body</h5>
      </button>
      <div id="collapsible-0" aria-hidden="false" class="usa-accordion-content">

        <div class="usa-grid-full">
          <div class="usa-width-two-thirds">
            <p>Inspired by the growth of simple and welcoming type in modern web UI design, this suite uses Source Sans Pro exclusively. With a range of weights designed to fit into heading styles to clearly communicate hierarchy of information, this pairing can support both extremely simple designs and more polished, promotional sites.</p>
            <p>Recommended applications: digital services that feature forms; basic and text heavy sites; marketing sites.</p>
            <p>Font weights included in this package:</p>
            <ul>
              <li>1. Source Sans Pro, Light 300</li>
              <li>2. Source Sans Pro, Regular 400</li>
              <li>3. Source Sans Pro, Bold 700</li>
              <li>4. Source Sans Pro, Italic 400</li>
            </ul>
          </div>
          <aside class="usa-width-one-third usa-end-row">
            <h6 class="usa-heading-alt">Page Performance</h6>
            <p><span class="usa-label-big">Fast</span></p>
            <p>Ideal number of fonts. Will allow for optimal page load performance.</p>
            <h6 class="usa-heading-alt">Example</h6>
            <p>
              <a class="media_link" href="{{ site.baseurl }}/assets/img/va-appeals-screenshot.png">
                <img src="{{ site.baseurl }}/assets/img/ssponly_example_va.png" alt="Veterans Affairs appeals review example">
              </a>
              <a href="{{ site.baseurl }}/assets/img/va-appeals-screenshot.png">Department of Veterans Affairs appeals review (screenshot of non-public site)</a>
            </p>
          </aside>
          <h6 class="usa-heading-alt">Web Hierarchy</h6>
        </div>

        <div class="sans-style usa-grid usa-typography-example-font">
          <div class="usa-width-one-half">
            <h3 class="usa-display">Display 1</h3>
          </div>
          <div class="usa-width-one-half usa-end-row">
            <p class="usa-monospace">
              font-family: ‘Source Sans Pro’<br>
              font-weight: 700<br>
              font-size: 59px<br>
              line-height: 1.3em/77px
            </p>
          </div>
          <div class="usa-width-one-half">
            <h3 class="usa-display usa-display-alt">Display 2</h3>
          </div>
          <div class="usa-width-one-half usa-end-row">
            <p class="usa-monospace">
              font-family: ‘Source Sans Pro’<br>
              font-weight: 300<br>
              font-size: 44px<br>
              line-height: 1.3em/57px
            </p>
          </div>
          <div class="usa-width-one-half">
            <h1>Heading 1</h1>
          </div>
          <div class="usa-width-one-half usa-end-row">
            <p class="usa-monospace">
              font-family: ‘Source Sans Pro’<br>
              font-weight: 700<br>
              font-size: 44px<br>
              line-height: 1.3em/57px
            </p>
          </div>
          <div class="usa-width-one-half">
            <h2>Heading 2</h2>
          </div>
          <div class="usa-width-one-half usa-end-row">
            <p class="usa-monospace">
              font-family: ‘Source Sans Pro’<br>
              font-weight: 700<br>
              font-size: 34px<br>
              line-height: 1.3em/44px
            </p>
          </div>
          <div class="usa-width-one-half">
            <h3>Heading 3</h3>
          </div>
          <div class="usa-width-one-half usa-end-row">
            <p class="usa-monospace">
              font-family: ‘Source Sans Pro’<br>
              font-weight: 700<br>
              font-size: 24px<br>
              line-height: 1.3em/31px
            </p>
          </div>
          <div class="usa-width-one-half">
            <h4>Heading 4</h4>
          </div>
          <div class="usa-width-one-half usa-end-row">
            <p class="usa-monospace">
              font-family: ‘Source Sans Pro’<br>
              font-weight: 700<br>
              font-size: 19px<br>
              line-height: 1.3em/25px
            </p>
          </div>
          <div class="usa-width-one-half">
            <h5>Heading 5</h5>
          </div>
          <div class="usa-width-one-half usa-end-row">
            <p class="usa-monospace">
              font-family: ‘Source Sans Pro’<br>
              font-weight: 700<br>
              font-size: 16px<br>
              line-height: 1.3em/21px
            </p>
          </div>
          <div class="usa-width-one-half">
            <h6>Heading 6</h6>
          </div>
          <div class="usa-width-one-half usa-end-row">
            <p class="usa-monospace">
              font-family: ‘Source Sans Pro’<br>
              font-weight: 400<br>
              font-size: 13px<br>
              line-height: 1.3em/17px<br>
              text-transform: uppercase
            </p>
          </div>
          <div class="usa-font-example usa-width-one-half">
            <p class="usa-font-lead">Lead <br>paragraph</p>
          </div>
          <div class="usa-width-one-half usa-end-row">
            <p class="usa-monospace">
              font-family: ‘Source Sans Pro’<br>
              font-weight: 300<br>
              font-size: 22px<br>
              line-height: 1.5em/33px
            </p>
          </div>
          <div class="usa-font-example usa-width-one-half">
            <p>Body copy. A series of <br>sentences together which <br>make a paragraph.</p>
          </div>
          <div class="usa-width-one-half usa-end-row">
            <p class="usa-monospace">
              font-family: ‘Source Sans Pro’<br>
              font-weight: 400<br>
              font-size: 17px<br>
              line-height: 1.5em/26px
            </p>
          </div>
          <div class="usa-font-example usa-width-one-half">
            <p><em>Italic body copy. A series of <br>sentences together which <br>make a paragraph.</em></p>
          </div>
          <div class="usa-width-one-half usa-end-row">
            <p class="usa-monospace">
              font-family: ‘Source Sans Pro’<br>
              font-style: Italic<br>
              font-weight: 400<br>
              font-size: 17px<br>
              line-height: 1.5em/26px
            </p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
