.search-page {
  p:not(.usa-font-lead) {
    text-align: justify;
  }

  select {
    margin: 0;
  }

  .usa-label {
    margin-right: 1rem;
  }

  li:before {
    content: none;
  }

  .logo-small {
    width:15%;
  }

  .collapsible{
    cursor: pointer;
    &:before{
      content: "\f067";
      font: normal normal normal 12px/1 FontAwesome;
      padding-right: 2px;
    }
    &.expanded:before{
      content: "\f068";
    }
  }

  .history{
    text-decoration: underline;
  }

  .usa-award-filter{
    .usa-type-ahead-search {
      position: absolute;
      top: 20%;
      left: 5px;
      z-index: 10;

      .fa-search {
        color: #d9d9d9;
      }
    }
    .usa-type-ahead-dropdown {
      position: absolute;
      top: 20%;
      right: 10px;
      z-index: 10;
      .fa-chevron-down{
        color: #003264;
      }
    }

    .sam-list-input .input-area .input-wrapper{
      width: 100%;


      #type-search{
        text-indent: 10px;
      }
    }

    .sam-autocomplete #sam-autocomplete-results{
      z-index: 20;
    }

    ul>li>button {
      text-align: inherit;
    }
    }

  .usa-regional-filter {

    margin:0;

    #regional-office {
      text-indent: 10px;
      padding-right: 28px;
      font-size: initial;
    }
    .add-on {
      position: absolute;
      top:20%;
      left:5px;
      z-index: 10;
      color: #d9d9d9;
      width:10px;
    }
  }
}
