.wage-determination-page{

  pre{
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 0 1px 0 rgba(0,0,0,.25);
    padding: 3rem 3rem 1rem;
    margin: 0 auto 2rem;
    border: 1px solid #E8E8E8;
    font-size: 1.5rem;
  }

  /* MISC */
  /*============================*/
  samsidenav{
    display: block;
  }
}
