// override font-awesome font path
$fa-font-path: "../assets/fonts/font-awesome";

// override uswds paths
$image_path: '~uswds/dist/img';
$font-path: '/src/assets/fonts';

$assets-path: '/src/assets';
