/*******************************
         Global
*******************************/

/*-------------------
       Helpers
--------------------*/
/*
  USWDS 0.13.3 Vendor scss files moved to the top
  of this file to be used by all files
*/
@import '~uswds/src/stylesheets/lib/bourbon';
@import '~uswds/src/stylesheets/lib/neat';

/*-------------------
     Variables
--------------------*/
// Internal variable should be declared before uswds
// variable to take higher precendence
@import 'variables';

/*-------------------
       Reset
--------------------*/
@import '~uswds/src/stylesheets/lib/normalize';

/*-------------------
       Icons
--------------------*/
@import '~font-awesome/scss/font-awesome';


/*******************************
        USWDS 0.13.3
*******************************/

// Core -------------- //

@import '~uswds/src/stylesheets/core/variables';
/*
  Variables moved here to avoid
  overriding USWDS grid variables
*/
// Store current variable values
$current-small: $small;
$current-medium: $medium;
$current-large: $large;
// Override current variables values for grid only
$small: new-breakpoint(min-width $small-screen $grid-columns-small);
$medium: new-breakpoint(min-width $medium-screen $grid-columns-medium);
$large: new-breakpoint(min-width $large-screen $grid-columns-large);
@import '~uswds/src/stylesheets/core/grid';
// Restore variables to values defined in variables.scss
$small: $current-small;
$medium: $current-medium;
$large: $current-large;

@import '~uswds/src/stylesheets/core/utilities';

// Elements -------------- //

@import '~uswds/src/stylesheets/elements/buttons';
@import 'sam-ui/vendor/uswds'; // modified USWDS Input file
@import '~uswds/src/stylesheets/elements/labels';


// Components -------------- //

@import '~uswds/src/stylesheets/components/accordions';
@import '~uswds/src/stylesheets/components/alerts';
@import '~uswds/src/stylesheets/components/forms';
@import '~uswds/src/stylesheets/components/sidenav';
@import '~uswds/src/stylesheets/components/search';


/*******************************
        SAM UI
*******************************/

/* Global */
@import 'sam-ui/globals/fonts';
@import 'sam-ui/globals/site';

/* Elements */
@import 'sam-ui/elements/button';
@import 'sam-ui/elements/container';
@import 'sam-ui/elements/label';
@import 'sam-ui/elements/list';
@import 'sam-ui/elements/segment';
@import 'sam-ui/elements/header';
@import 'sam-ui/elements/image';
@import 'sam-ui/elements/divider';
@import 'sam-ui/elements/step';

/* Collections */
@import 'sam-ui/collections/grid';
@import 'sam-ui/collections/table';
@import 'sam-ui/collections/menu';
@import 'sam-ui/collections/message';

/* Views */
@import 'sam-ui/views/statistic';
@import 'sam-ui/views/item';
@import 'sam-ui/views/feed';

/* Vendor Extentions */
@import 'sam-ui/vendor/font-awesome';

/* Font Awesome Fallback when fonts are blocked */
@import 'font-awesome-fallback';


/*******************************
        Legacy CSS
*******************************/

/*-------------------
   Custom Utilities
--------------------*/
@import 'margin-padding';
@import 'global';

/*-------------------
     Components
--------------------*/
@import 'components/actions';
@import 'components/card';
@import 'components/date-range-filter';
@import 'components/date-range';
@import 'components/download';
@import 'components/accordion';
@import 'components/alert';
@import 'components/authentication';
@import 'components/users/index';
@import 'components/collapsible';
@import 'components/comments';
@import 'components/list-input';
@import 'components/footer';
@import 'components/button';
@import 'components/pagination';
@import 'components/header';
@import 'components/info-accordion';
@import 'components/image';
@import 'components/agency-picker';
@import 'components/input';
@import 'components/multiselect';
@import 'components/banner';
@import 'components/searchbar';
@import 'components/search-header';
@import 'components/multiselect-dropdown';
@import 'components/image-library';
@import 'components/tabs';
@import 'components/modal';
@import 'components/alphabet-selector';
@import 'components/history';
@import 'components/toggle-switch';
@import 'components/feedback-form';
@import 'components/well';
@import 'components/autocomplete';
@import 'components/autocomplete-dropdown';
@import 'components/autocomplete-multiselect';
@import 'components/organization-profile';
@import 'components/role-management/role-managment';
@import 'components/workspace';
@import 'components/bread-crumbs';
@import 'components/data-service/data-service';
@import 'components/sort';
@import 'components/status_banner';
@import 'components/fh/fh';
@import 'components/title-subtitle';
@import 'components/organization-move';
@import 'components/user-directory';
@import 'components/notifications';
@import 'components/organization-hierarchy';
@import 'components/list-builder';
@import 'components/organization-detail';
@import 'components/organization-create';
@import 'components/aac-request';
@import 'components/aac-confirm';
@import 'components/help-awards';
@import 'components/table-entry';

/*-------------------
     Templates
--------------------*/
@import 'templates/workspace';

/*-------------------
     Pages
--------------------*/
@import 'pages/entity-object-view';
@import 'pages/opportunity';
@import 'pages/organization';
@import 'pages/search';
@import 'pages/reports';
@import 'pages/alerts';
@import 'pages/users-directory';
@import 'pages/wage-determination';
@import 'pages/assistance-listing-operations';



/*******************************
     Temporary Fixes
*******************************/
/*
  All of these styles will be removed
*/

.usa-unstyled-list {
  @include unstyled-list;
}

.usa-unstyled-list > li {
    padding-bottom: 2px;
}

.usa-font-lead {
  font-family: $font-serif;
  font-size: $lead-font-size;
  line-height: $lead-line-height;
  max-width: $lead-max-width;
}

.div-fill{
  color: $textColor;
  .reset-icon, .reset-icon-active{
    top: 4% !important;
  }
}
.div-right .usa-button-primary{
  background-color: #02bfe7;
}

.usa-sidenav-list a{
  font-weight: 400;
}

.usa-sidenav-list a.usa-current{
  font-weight: 600;
}

.usa-alert{
  width: 100%;
}

/*
  Let content occupy most of the page
  and show footer when scroll down
*/
.occupy-page{
  min-height: 77vh;
}

.overlay{
  background-color:rgba(0,0,0,0.5);
  z-index: 100;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.usa-input-error{
  .usa-agency-picker-dropdown-area{
    select{
      width:100%;
    }
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.sidenav-logo {
  width:160px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.falDateFilter{
  .start-date{
    margin-right: 0rem;
  }
}

.crossed-out:after{
  content: '|';
  color: #0071bc;
  display: block;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

// Make sidenav use all availabe horizontal space on medium screen
@media screen and (min-width: $medium-screen) and (max-width: $large-screen - 1) {
  aside.usa-width-one-fourth{
    margin-right: 0;
    width: 100%;
  }
}

select {
  background-position: right .65rem center;
  padding: 1rem 2.6rem 1rem 0.7em;
}

.sticky-element {
  position: fixed;
  z-index:20;
  bottom: 0;
  width: 48em;
  background:white;
  padding-left: 32em;
}

.overflow-ellipsis {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

sam-solo-accordian li {
  position: relative;;
}

// https://stackoverflow.com/questions/7492062/css-overflow-scroll-always-show-vertical-scroll-bar
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

// For some odd reason USWDS does not show checkmarks if the item is checked and disabled. This will show the checkmark
[type="checkbox"]:disabled:checked + label::before {
  background-image: url('#{$image-path}/correct8.png');
  background-position: 50%;
  background-repeat: no-repeat;
}

.site-header{
  margin-bottom: 10px;
  background: rgb(17, 46, 81);
  .site-logo {
    margin-top: 40px;
    margin-left: 3rem;
    a{
      display: block;
      font-size: 2.4rem;
      font-style:normal;
      line-height: 1.3;
      color: #FFF;
    }
  }
}