@import 'paths';
@import '~uswds/src/stylesheets/lib/bourbon';
@import '~uswds/src/stylesheets/core/variables';
@import 'variables';
@import 'utilities';
@import 'margin-padding';
@import 'global';
@import 'typography';
@import '~uswds/src/stylesheets/uswds';
@import '~font-awesome/scss/font-awesome';

@import 'components/autocomplete';
@import 'components/autocomplete-multiselect';
@import 'components/date-entry';
@import 'components/label-wrapper';
@import 'components/accordion';
@import 'components/alert';
@import 'components/alphabet-selector';
@import 'components/authentication';
@import 'components/card';
@import 'components/collapsible';
@import 'components/download';
@import 'components/footer';
@import 'components/button';
@import 'components/pagination';
@import 'components/header';
@import 'components/history';
@import 'components/info-accordion';
@import 'components/agency-picker';
@import 'components/input';
@import 'components/multiselect';
@import 'components/banner';
@import 'components/searchbar';
@import 'components/header-links';
@import 'components/header-menu';
@import 'components/search-header';
@import 'components/multiselect-dropdown';
@import 'components/image-library';
@import 'components/tabs';
@import 'components/modal';
@import 'components/toggle-switch';

/* Elements */
@import 'sam-ui/elements/button';
@import 'sam-ui/elements/container';
@import 'sam-ui/elements/label';
@import 'sam-ui/elements/list';
@import 'sam-ui/elements/segment';
@import 'sam-ui/elements/header';
@import 'sam-ui/elements/image';
@import 'sam-ui/elements/divider';

/* Collections */
@import 'sam-ui/collections/grid';
@import 'sam-ui/collections/table';
@import 'sam-ui/collections/menu';

/* Views */
@import 'sam-ui/views/statistic';
@import 'sam-ui/views/item';

/* Vendor Extentions */
@import 'sam-ui/vendor/font-awesome';

.site-header{
	background:#112e51;
	margin-bottom:10px;
	.site-logo{
		margin-top:0;
		@media screen and ( min-width: $nav-width) {
			margin-top:40px;
		}
		margin-left: 3rem;
		a{
			color:#fff;
		}
		
	}
	
}

// Make sidenav use all availabe horizontal space on medium screen
@media screen and (min-width: $medium-screen) and (max-width: $large-screen - 1) {
  aside.usa-width-one-fourth{
    margin-right: 0;
    width: 100%;
  }
}

code{
	font-size:12px;
}