@import 'paths';
@import '~uswds/src/stylesheets/lib/bourbon';
@import 'variables';
@import 'utilities';
@import 'margin-padding';
@import 'global';
@import 'typography';
@import '~uswds/src/stylesheets/uswds';

.site-header{
	background:#112e51;
	margin-bottom:10px;
	.site-logo{
		margin-top:40px;
		margin-left: 3rem;
		a{
			color:#fff;
		}
		
	}
	
}

code{
	font-size:12px;
}