/* SAM front-end
   ========================================================================== */

@import 'sam-front-end/all';

/* Reset
   ========================================================================== */

/**
 * Removes overwrites that happen in sam-front-end layer
 */

@import 'reset/input';
@import 'reset/select';
@import 'reset/radio';
@import 'reset/checkbox';
@import 'reset/fieldset';
@import 'reset/label';
@import 'reset/button';
@import 'reset/title';

/* SAM Styles
   ========================================================================== */

// @import '~@gsa-sam/sam-ui-elements/sam-styles/themes/sam-gov';

/* SAM Design System
   ========================================================================== */

body {
  background-color: #f9f9f9;
}

@import 'sam-design-system/card';
@import 'sam-design-system/utilities';
@import 'sam-design-system/home';
@import 'sam-design-system/site-header';
@import 'sam-design-system/site-footer';

/**
 * Syntax Code Highlight
 */

@import '~prismjs/themes/prism';
@import '~prismjs/plugins/previewers/prism-previewers';

code[class*='language'] {
  font-size: 13px;
}

pre::-webkit-scrollbar {
  height: 6px;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #fdfdfd;
}

pre[class*='language-'] {
  padding: 0.8em;
  border: 1px solid #dedede;
  border-radius: 2px;
}
