/**********************************************
            SAM STYLES CSS
***********************************************/
@import "sam-styles/index";

/**********************************************
              SAM-FRON-END CSS
***********************************************/
@import "sam-front-end/all";

/**********************************************
                PROTOTYPES
***********************************************/
@import "sam-design-system/prototypes/index";

/**********************************************
                PATTERNS
***********************************************/
.patterns-page{
    display: flex;
}
.patterns-page-wrapper{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 0 8rem 0;
}
ol.row{
    list-style: none;
    padding-left: 0;
}
.card {
    display: block;
    width: 100%;
    padding: 1.25rem 1rem;
    position: relative;
    background: #fff;
    will-change: transform;
}
.card {
    padding: 3rem 3rem 3.5rem;
}
.card:hover{
    text-decoration: none;
}
.card-title {
    margin-bottom: 1rem;
    color: #16243A;
    font-size: 1em;
    line-height: 1.25;
    font-weight: 600;
    small, .small {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: rgba(51,56,66,0.5);
        transition: color .2s ease-in;
        will-change: color;
        display: block;
        font-size: 1.4rem;
        line-height: 1.25rem;
        color: rgba(0,0,0,0.65);
        font-weight: 400;
    }
}
.card-description {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.25;
    color: #333842;
    transition: color .2s ease-in;
    will-change: color;
}
@media screen and (min-width: 768px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -5.6%;
        margin-bottom: -3.5rem !important;
    }
    a.card:hover {
        transform: translateY(-1px);
    }
    .card-list .col {
        display: flex;
    }
    .card {
        border-radius: .3rem;
        box-shadow: 0 0 0 1px rgba(0,0,0,0.03);
        will-change: transform;
        transition: transform .2s ease-in;
    }
    .card::before {
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    }
    a.card::after {
        box-shadow: 0 4px 12px rgba(0,0,0,0.2);
        opacity: 0;
    }
    a.card:hover::after {
        opacity: 1;
    }
    .card::before, .card::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: .1875rem;
        will-change: opacity;
        transition: opacity .2s ease-in;
    }
    .col {
        margin-bottom: 3.5rem !important;
        margin-left: 5.3030303%;
    }
    .col.span-4 {
        width: 28.030304%;
    }
}


.patterns-menu{
    color: white;
    padding: .5rem;
    font-size: .945em;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    bottom: 0;
    width: 100vw;
    a{
        color: white;
    }
    .patterns-menu-divider::before{
        content: "|";
        padding: 0 .7rem;
        opacity: 0.3;
    }
}
.patterns-menu-space{
    height: 3rem;
}

/**********************************************
        PROTOTYPE: PAGES
***********************************************/
@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.search-home{
    p{
        font-weight: 600;
        width: 700px;
        margin: 20px auto;
        text-align: center;
        font-size: 2.3rem;
        line-height: 1.2em;
    }
    .image-container{
        display: flex;
        width: 1100px;
        margin: 30px auto;
        justify-content: space-between;
        .image{
            width: 350px;
            height: 280px;
            background-color: #f1f1f1;
            border: 1px solid #e2e2e2;
        }
    }
    .wall{
        width: 100%;
        display: block;
        height: 400px;
        background-color: #f1f1f1;
        border: 1px solid #e2e2e2;
    }
    .blue-wall{
        width: 100%;
        display: block;
        height: 100px;
        background-color: #112e51;
    }
}

.search-results-page{
    .search-header{
        padding: .5em 1em;
        border-bottom: 1px solid #ccc;
        display: flex;
        justify-content: space-between;
    }
    .search-results-main{
        display: flex;
    }
    .search-results-filters{
        display: none;
    }
    @media only screen and (min-width: 600px){
        .search-results-filters{
            display: block;
            background-color: #f1f1f1;
            .filter{
                border-bottom: 1px solid #d2d2d2;
                padding-bottom: 1em;
                margin: 1em;
                .title{
                    display: block;
                    background-color: #cecdcd;
                    height: 1.2em;
                    margin-bottom: 10px;
                }
                .title.medium{
                    width: 200px;
                }
                .title.small{
                    width: 150px;
                }
                .checkbox{
                    display: block;
                    height: 1.3em;
                    width: 1.3em;
                    background-color: white;
                    margin-bottom: 8px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    &:after{
                        content: ' ';
                        display: block;
                        height: 1.3em;
                        margin-left: 1.5em;
                        width: 200px;
                        background-color: #ddd;
                    }
                }
                .checkbox.large{
                    &:after{
                        width: 235px !important;
                    }
                }
                .checkbox.small{
                    &:after{
                        width: 150px !important;
                    }
                }
                .input{
                    background-color: white;
                    margin-bottom: 8px;
                    display: block;
                    border-radius: 2px;
                    height: 1.8em;
                    border: 1px solid #ccc;
                }
            }
            .filter-slide{
                margin: 1em;
                overflow: hidden;
                border-bottom: 1px solid #d2d2d2;
                padding-bottom: 1em;
                h4{
                    font-size: 17px;
                }
                a.parent{
                    display: block;
                    font-size: 16px;
                    margin-bottom: 2px;
                    i{
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                }
                .current{
                    cursor: default;
                    color: black;
                }
                label{
                    font-size: 16px;
                    display: inline-block;
                    margin: 0;
                    padding-left: 5px;
                }
                label::before{
                    content: none;
                }
                input[type="checkbox"]{
                    position: static;
                    opacity: 1;
                    margin: 0;
                    height: 15px;
                    display: inline-block;
                    width: auto;
                    &:focus{
                        box-shadow: none;
                    }
                }
            }
        }
    }
    
    .search-results-content{
        margin: 1em;
        .search-result{
            h4{
                margin-bottom: 5px;
                letter-spacing: 0;
                a{
                    font-weight: 600;
                }
            }
            margin-bottom: 1.5em;
            p{
                max-width: 850px;
            }
        }
        .results-header{
            display: none;
        }
        @media only screen and (min-width: 600px){
            .results-header{
                display: flex;
                justify-content: space-between;
                .showing-text{
                    font-size: 16px;
                }
                .sort{
                    display: flex;
                    padding-right: 15px;
                    font-size: 15px;
                    select{
                        -webkit-appearance: menulist;
                        -moz-appearance: menulist; 
                        appearance: menulist; 
                        background-color: initial;
                        height: 1.5em;
                        font-size: 1.6rem;
                        padding: 0;
                        margin: 1px 0 0 5px;
                        width: auto;
                        vertical-align: baseline;
                    }
                }
            }
        }
        .keyword{
            display: flex;
            span{
                margin-top: 6px;
                font-weight: 600;
                margin-right: 10px;
            }
            & > div{
                border: 1px solid #c7c7c7;
                width: 88%;
                margin-bottom: 1em;
                padding: .3em;
                font-size: 16px;
                font-weight: 600;
                background-color: #f9f9f9;
            }
        }
        .selected-filters{
           display: none;
        }
        @media only screen and (min-width: 600px){
            .selected-filters{
                display: block;
                margin-bottom: 1.8em;
                position: relative;
                .options{
                    font-size: 15px;
                    a{
                        padding-left: 7px;
                    }
                }
            }
        }
        .search-result-loading-container{
            position: absolute;
            width: 800px;
        }
        .search-result-loading{
            margin-bottom: 1.5em;
            opacity: 0;
            .title{
                display: block;
                height: 1.3em;
                margin-bottom: 10px;
                border-radius: 2px;
                width: 70%;
                background: linear-gradient(to right, #ececec, #e7e7e7);
                background-size: 400% 400%;
                animation: Gradient 3s ease infinite;
                border: 1px solid #e2e2e2;
            }
            .line{
                display: block;
                height: 1.2em;
                margin-bottom: 9px;
                background: linear-gradient(to right, #ffffff, #d4d4d4);
                background-size: 400% 400%;
                animation: Gradient 3s ease infinite;
                border-radius: 2px;
                border: 1px solid #e2e2e2;
                &.random-1{
                    width: 94%;
                }
                &.random-2{
                    width: 92%;
                }
                &.random-3{
                    width: 95%;
                }
            }
        }
    }
}
// body{
//     background-color: #fbfbfb;
// }
.search-mobile-page{
    //width: 100%;
    display: block;
    max-width: 1000px;
    margin: 0 auto;
    .mask-menu{
        display: flex;
        border-bottom: 1px solid #d4d4d4;
        background-color: white;
        ul::-webkit-scrollbar{
            display: none;
        }
        ul{
            width: 100vw;
            display: flex;
            padding: 0;
            margin: 0;
            overflow: auto;
            -webkit-mask-image: linear-gradient(90deg, transparent, #000 20px, #000 calc(100% - 20px), transparent 100%);
            li{
                list-style: none;
                a:first-child{
                    margin-left: 7px;
                }
                a{
                    -webkit-tap-highlight-color: transparent;
                    transition: color .1s;
                    white-space: nowrap;
                    padding: 5px 15px;
                    display: block;
                    font-size: 14px;
                    text-transform: uppercase;
                    &.current{
                        border-bottom: 2px solid #0071bc;
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 600px){
        .mask-menu:first-child{
            display: none;
        }
    }
    .results-options{
        margin: 10px;
        display: flex;
        justify-content: space-between;
        .showing-text{
            font-size: 16px;
            display: none;
        }
        @media only screen and (min-width: 600px){
            .showing-text{
                display: block;
            }
        }
        .sort{
            display: flex;
            font-size: 16px;
            strong{
                white-space: nowrap;
            }
            select{
                -webkit-appearance: menulist;
                -moz-appearance: menulist; 
                appearance: menulist; 
                background-color: initial;
                height: 1.5em;
                font-size: 1.6rem;
                padding: 0;
                margin: 1px 0 0 5px;
                width: auto;
                border-color: #ccc;
                border-width: 0px 0px 1px 0px;
                vertical-align: baseline;
            }
        }
    }
    .search-results-mobile{
        margin: 15px 10px 50px 10px;
        .search-result{
            margin-bottom: 15px;
            border-radius: 2px;
            padding: 15px 10px;
            background-color: white;
            //box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
            box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.04);
            h4{
                font-size: 17px;
                line-height: 1.2em;
                margin-bottom: 5px;
                a{
                    font-weight: 600;
                }
            }
            p{
                font-size: 16px;
                line-height: 1.3em;
            }
            @media only screen and (min-width: 600px){
                padding: 20px 25px;
                h4{
                    font-size: 20px;
                }
                p{
                    font-size: 17px;
                }
            }
        }
    }
    .filter-button{
        background-color: #d23f31;
        color: white;
        font-size: 30px;
        font-weight: 600;
        position: fixed;
        bottom: 30px;
        right: 25px;
        width: 64px;
        text-align: center;
        padding: 15px 0px;
        border-radius: 30px;
        cursor: pointer;
        z-index: 5;
        -webkit-tap-highlight-color: transparent;
        box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
        .label{
            position: absolute;
            font-weight: 700;
            top: -10px;
            right: -10px;
        }
    }
    @media only screen and (min-width: 600px){
        .filter-button{
            bottom: 90px;
        }
    }
    .filter-options{
        position: fixed;
        bottom: 110px;
        right: 25px;
        div{
            cursor: pointer;
            width: 60px;
            color: white;
            border-radius: 30px;
            font-weight: 600;
            padding: 15px 0px;
            text-align: center;
            box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
        }
        
        .reset-filters{
            background-color: #333333;
            margin-bottom: 15px;
        }
        .save-filters{
            background-color: #3c80f6;
            position: relative;
            .label{
                position: absolute;
                font-weight: 700;
                top: -10px;
                right: -10px;
                background-color: #dc3b3b;
                width: 20px;
            }
        }
    }
    @media only screen and (min-width: 600px){
        .filter-options{
            bottom: 170px;
        }
    }

    .overlay-screen{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        opacity: .5;
        z-index: 3;
    }
    
    .filter-screen{
        position: fixed;
        width: 100%;
        min-height: 100%;
        top: 0;
        left: 0;
        z-index: 4;
        background-color: white;
        h4{
            margin-top: 20px !important;
            padding-left: 20px;
        }
        .selected-filters{
            //border-bottom: 1px solid #e6e6e6;
            padding: 0 20px;
            padding-bottom: 15px;
            a{
                margin-bottom: 5px;
            }
        }
        .filter{
            border-bottom: 1px solid #d2d2d2;
            padding-bottom: 1em;
            margin: 1em;
            .title{
                display: block;
                background-color: #cecdcd;
                height: 1.2em;
                margin-bottom: 10px;
            }
            .title.medium{
                width: 200px;
            }
            .title.small{
                width: 150px;
            }
            .checkbox{
                display: block;
                height: 1.3em;
                width: 1.3em;
                background-color: white;
                margin-bottom: 8px;
                border: 1px solid #ccc;
                border-radius: 5px;
                &:after{
                    content: ' ';
                    display: block;
                    height: 1.3em;
                    margin-left: 1.5em;
                    width: 200px;
                    background-color: #ddd;
                }
            }
            .checkbox.large{
                &:after{
                    width: 235px !important;
                }
            }
            .checkbox.small{
                &:after{
                    width: 150px !important;
                }
            }
            .input{
                background-color: white;
                margin-bottom: 8px;
                display: block;
                border-radius: 2px;
                height: 1.8em;
                border: 1px solid #ccc;
            }
        }
    }
    @media only screen and (min-width: 600px){
        .filter-screen{
            width: 450px;
            border-radius: 3px;
            left: 50%;
            top: 200px;
            margin-left: -225px;
            box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
        }
    }
    .filter-screen-large{
        display: none;
    }
    @media only screen and (min-width: 1200px){
        .filter-button{
            display: none;
        }
        .filter-screen-large{
            display: block;
            width: 32%;
            //background-color: white;
            h4{
                margin-top: 20px !important;
                padding-left: 20px;
            }
            .selected-filters{
                //border-bottom: 1px solid #e6e6e6;
                padding: 0 20px;
                padding-bottom: 15px;
                a{
                    margin-bottom: 5px;
                }
            }
            .filter{
                border-bottom: 1px solid #d2d2d2;
                padding-bottom: 1em;
                margin: 1em;
                .title{
                    display: block;
                    background-color: #cecdcd;
                    height: 1.2em;
                    margin-bottom: 10px;
                }
                .title.medium{
                    width: 200px;
                }
                .title.small{
                    width: 150px;
                }
                .checkbox{
                    display: block;
                    height: 1.3em;
                    width: 1.3em;
                    background-color: white;
                    margin-bottom: 8px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    &:after{
                        content: ' ';
                        display: block;
                        height: 1.3em;
                        margin-left: 1.5em;
                        width: 200px;
                        background-color: #ddd;
                    }
                }
                .checkbox.large{
                    &:after{
                        width: 235px !important;
                    }
                }
                .checkbox.small{
                    &:after{
                        width: 150px !important;
                    }
                }
                .input{
                    background-color: white;
                    margin-bottom: 8px;
                    display: block;
                    border-radius: 2px;
                    height: 1.8em;
                    border: 1px solid #ccc;
                }
            }
            .button{
                line-height: 11.9px;
                margin-left: 20px;
                position: relative;
                .label{
                    position: absolute;
                    font-weight: 700;
                    top: -10px;
                    right: -10px;
                    background-color: #dc3b3b;
                    width: 20px;
                    color: white;
                }
            }
        }
    }
    
}

@media only screen and (min-width: 1200px){
    .search-mobile-page{
        display: flex;
        max-width: 1400px;
    }
}



/**********************************************
                   Docs
***********************************************/
/*---------------------------
   Syntax Code Highlight
-----------------------------*/
@import '~prismjs/themes/prism';
code[class*="language"] {
	font-size: 14px;
}

/*---------------------------
    Shared
-----------------------------*/

.site-container{
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    max-width: 1040px
}


/**********************************************
                 HOME PAGE
***********************************************/

/*---------------------------
    Site Header
-----------------------------*/
// body{
//     background-color: #f8f8fb;
// }
.site-header{
    padding: 1rem 0;
    font-size: 1.8rem;
    border-bottom: 2px solid rgba(207,215,223,.25)
}
.site-header > .site-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
}

.site-header a {
    color: #16243A;
    //font-weight: normal;
    transition: color .1s;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
}

.site-header a.active,
.site-header a:hover {
    color: #6e7986;
    text-decoration: none;
}

.site-header a.text-logo{
    font-weight: 700;
    text-transform: uppercase;
}

.site-header ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    list-style: none;
}

.site-header li {
    padding: 0 2rem;
}

.site-header li:last-child {
    padding-right: 0;
}

/*---------------------------
    Stripes
-----------------------------*/

.stripes {
    position: absolute;
    z-index: -1;
    width: 100%;
    display: grid;
    transform: skewY(-12deg)
}

.stripes {
    top: 0;
    grid: repeat(5,190px)/repeat(10,1fr);
    transform-origin: 0;
    background: linear-gradient(#ffffff, #e6e6e6 10%, #eaeff5 38%, #eaf2f9 48%, #f6f9fc 62%)
}

.stripes :nth-child(1) {
    grid-column: span 3;
    background: linear-gradient(100grad, rgb(220, 220, 220), rgba(224, 224, 224, 0.3) 40%, rgba(226, 226, 226, 0.2));
}

.stripes :nth-child(2) {
    grid-area: 3/span 3/auto/-1
}

.stripes :nth-child(3) {
    grid-row: 4;
    grid-column: span 5;
}

.stripes :nth-child(4) {
    grid-area: 4/span 5/auto/-1
}

.stripes :nth-child(5) {
    grid-area: auto/1/-1/-1;
    background: linear-gradient(100grad,#fff 80%,#f5fafd);
		margin-bottom: -1px;
}

@media (min-width: 670px) {
    .stripes :nth-child(3) {
        background: linear-gradient(100grad,#fff 50%,hsla(0,0%,100%,0));
    }

    .stripes :nth-child(4) {
        background: linear-gradient(100grad, rgba(255, 255, 255, 0) 10%, rgb(255, 255, 255));
    }
}


/*---------------------------
   Homepage Intro Section
-----------------------------*/

#intro {
    position: relative;
    z-index: 1;
    padding-bottom: 40px
}

#intro p {
    margin: 25px 0;
    font-size: 25px;
    font-weight: 300;
    line-height: 1.2;
}

@media (min-width: 670px) {
    #intro {
        padding-top:70px;
        position: static;
    }

    #intro p {
        margin: 25px 55% 30px 0
    }

}

/*---------------------------
      Intro Animation
-----------------------------*/

@media (prefers-reduced-motion) {
    #intro-animation * {
        animation: none!important
    }
}

#intro-animation {
    position: relative;
    height: 210px;
    margin: 30px 20px 40px
}

@media (min-width: 670px) {
    #intro-animation {
        width:50%;
        right: 0;
        position: absolute;
        height: auto;
        margin-top: 50px;
    }
}


/*---------------------------
       Particles
-----------------------------*/

.particle-container {
    fill:rgba(255,255,255,.6);
    stroke: rgba(255,255,255,.3);
    stroke-width: 10;
    animation: move 10s linear infinite; 
    --amplitude: 50px;
  
    .particle{
      animation: occilate 2s ease-in-out infinite alternate;
    }
    
    @for $i from 1 through 10{
      &:nth-child(#{$i}){
        --amplitude:  10px + random(40)*1px;
        $duration: 10s + random(40)*0.5s;
        animation-duration: $duration;
        animation-delay: $i * random(10)* -0.5s;
        .particle{
          animation-duration:  $duration/4;
        }
      }
    }
  }
  
  @keyframes occilate{
    100%{
      transform: translate( 0, var(--amplitude) );
    }
  }
  
  @keyframes move{
    100%{
      transform: translate( 1000px, 0 );
    }
  }

/*---------------------------
     Particle animation
-----------------------------*/

@keyframes particle-fade-in {
    0% {
        opacity: 0;
        transform: scale(.85)
    }
}

#intro-animation .particle-animation {
    will-change: opacity,transform;
    animation: particle-fade-in 2s cubic-bezier(.165,.84,.44,1) backwards
}

#intro-animation .particle-animation{
    bottom: 0;
    right: 0;
    animation-delay: .6s
}

@media (min-width: 670px) {
    #intro-animation .particle-animation{
        top:220px;
        left: 0px;
        bottom: auto;
        right: auto
    }
}

#intro-animation .particle-animation svg {
    position: relative;
    width: 400px;
    vertical-align: middle
}

@media (min-width: 670px) {
    #intro-animation .particle-animation svg {
        height:262px;
        width: 500px
    }
}

/*---------------------------
      Cubes
-----------------------------*/

#intro-animation .cubes {
    top: 0
}

#intro-animation .cube {
    position: absolute;
    will-change: transform;
    animation: cube-fade-in 2s cubic-bezier(.165,.84,.44,1)
}

#intro-animation .cube:nth-child(2) {
    z-index: 1;
}

@media (min-width: 670px) {
    #intro-animation .cubes .cube {
        margin:0
    }
}

@keyframes cube-fade-in {
    0% {
        opacity: 0;
        transform: scale(.5)
    }
}

#intro-animation .cube div {
    position: absolute;
    width: 100%;
    height: 100%
}

#intro-animation .cube .shadow {
    top: 40%;
    background: #07427a
}

#intro-animation .cube .sides {
    transform-style: preserve-3d;
    perspective: 600px
}

#intro-animation .cube .sides div {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform
}

#intro-animation .cube .sides .front span {
    text-align: center;
    display: block;
    font-weight: 600;
    margin-top: 20px;
    font-size: 15px;
    opacity: .8;
}

#intro-animation .cube:nth-child(1) .sides .front span {
	color: #bf3142;
}
#intro-animation .cube:nth-child(2) .sides .front span {
	color: #16805b;
}
#intro-animation .cube:nth-child(3) .sides .front span {
	color: #375e9e;
}


/*---------------------------
   Homepage content
-----------------------------*/

main footer.site-container {
    margin-bottom: 60px;
}

@media (min-width: 670px) {
    main footer.site-container {
        display: grid;
        grid: repeat(3,auto)/auto-flow 1fr;
        grid-gap: 0 40px
    }
}


/*---------------------------
    Site Footer
-----------------------------*/

.site-footer {
    font-size: 16px;
    border-top: 2px solid rgba(207,215,223,.25)
}

.site-footer ul {
    padding: 30px 0;
    margin: 0;
    list-style: none;
}

.site-footer a {
    color: #6e7986;
    font-weight: normal;
    transition: color .1s
}

.site-footer a.active,
.site-footer a:hover {
    color: #16243A;
    text-decoration: none;
}

@media (min-width: 670px) {
    .site-footer ul{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center
    }
    .site-footer li{
        padding: 0 16px
    }
}