<sam-page-next [startSidebarClosed]="true" [backButtonText]="'Back to Report'">

  <!-- page title goes here -->
  <sam-page-title
    super="Contract Detail Report"
    title="Contract Detail based on Account IDs for FY18"
    inverted="true">
  </sam-page-title>

  <sam-toolbar [showToggle]="false"></sam-toolbar>

  <sam-aside>

    <sam-filters-wrapper *ngIf="metadataLoaded" [group]="form">
      <h4 class="sam heading">Filter By</h4>
      <sam-filters
        [form]="form"
        [fields]="fields"
        [model]="model"></sam-filters>
    </sam-filters-wrapper>

    <!-- finalize this implementation -->
    <sam-resources-wrapper>
      <h4 class="sam heading">Resources</h4>
      <ul class="sam list">
        <li>
          <a href="https://beta.sam.gov/help/assistance-listing"
            target="_blank" rel="noopener noreferrer">
            About Federal Assistance
          </a>
        </li>
      </ul>
    </sam-resources-wrapper>

  </sam-aside>

  <!-- Main Content -->
  <sam-main>

    <!-- filter-drawer -->
    <!-- <sam-filter-drawer
      dynamicChips
      [map]="filtersToPills"
      (remove)="removeItem($event)">
    </sam-filter-drawer> -->
    
    <sam-selected-result [(ngModel)]="model3" [configuration]="settings3"></sam-selected-result>

    <sam-alert-next
      type="warning">This report doesn't pull real data</sam-alert-next>
      
    <sam-main-content *ngIf="flag2; else spinner">

      <sam-tabs-next dynamicHeight>

        <!-- Summary Tab -->
        <sam-tab-next>
          <ng-template sam-tab-label>
            <sam-icon [icon]="faTable"></sam-icon> Summary
          </ng-template>
          <div class="tab-content">
            <!-- Pagination + Columns button -->
            <sam-action-bar *ngIf="flag2">
              <sam-pagination-next id="table-pagination" [totalUnits]="length"></sam-pagination-next>
              <sam-button-next samPageAction
                action="secondary"
                (click)="toggleFieldsEditor()">
                Columns
              </sam-button-next>
            </sam-action-bar>

            <!-- Datatable -->
            <sam-datatable samSort
              [allowHorizontalScroll]="true"
              [dataSource]="dataSource"
              (samSortChange)="onSortChange($event)">
              <ng-container
                *ngFor="let col of columnDefObs | async"
                [cdkColumnDef]="col.def">
                <th sam-header-cell
                  *cdkHeaderCellDef
                  sam-sort-header>
                  {{ col.headerLabel }}
                </th>

                <td sam-cell *cdkCellDef="let row">
                  {{ row[col.cellId] }}
                </td>
              </ng-container>

              <tr sam-header-row
                *cdkHeaderRowDef="displayedColumns"
              ></tr>
              <tr sam-row
                *cdkRowDef="let row; columns: displayedColumns"
              ></tr>
            </sam-datatable>

          </div>
        </sam-tab-next>

        <!-- Award Details Tab -->
        <sam-tab-next>
          <ng-template sam-tab-label>
            <sam-icon [icon]="faTable"></sam-icon> Award Details
          </ng-template>
          <div class="tab-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam felis
            dui, lobortis eget odio quis, facilisis consectetur lectus. Donec
            sodales tortor sagittis sem efficitur congue. Maecenas sed velit sed
            felis vestibulum suscipit. Vivamus pellentesque nisi vitae neque cursus
            blandit. Orci varius natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Donec vel efficitur nulla, sit amet luctus justo.
            Maecenas et ante vestibulum, feugiat lectus id, sollicitudin neque.
            Aenean porttitor metus non nunc malesuada cursus. Ut felis enim,
            ultrices congue facilisis venenatis, posuere eu libero. Etiam rhoncus
            pellentesque eros, non laoreet nulla ultricies quis.
          </div>
        </sam-tab-next>

        <!-- Chart Tab -->
        <sam-tab-next>
          <ng-template sam-tab-label>
            <sam-icon [icon]="faChartBar"></sam-icon> Chart
          </ng-template>
          <div class="tab-content">
            Add Chart Example
          </div>
        </sam-tab-next>

      </sam-tabs-next>

    </sam-main-content>
  </sam-main>

</sam-page-next>

<ng-template #spinner>
    <sam-progress label="Loading..." [valueAsText]="valueAsText | async" [value]="progressLabel | async"></sam-progress>
</ng-template>

<!-- modals -->
<sam-modal
  [showClose]="true"
  [title]="'Edit Fields'"
  [type]="'info'"
  [description]="'Edit fields for report'"
  [submitButtonLabel]="'Done'"
  [cancelButtonLabel]="'Cancel'"
  (close)="cancelModalAction()"
  (submit)="submitModalAction()">
  <div class="sam reset checkboxes labels fieldsets">

    <h4 class="sam heading">{{ options.organization.label }} </h4>
    <sam-checkbox
      [(ngModel)]="options.organization.selected"
      [name]="options.organization.label"
      [options]="options.organization.options"
    ></sam-checkbox>

    <h4 class="sam heading">{{  options.listing.label }}</h4>
    <sam-checkbox
    [(ngModel)]="options.listing.selected"
    [name]="options.listing.label"
    [options]="options.listing.options"
    ></sam-checkbox>

    <h4 class="sam heading">{{ options.status.label }}</h4>
    <sam-checkbox
    [(ngModel)]="options.status.selected"
    [name]="options.status.label"
    [options]="options.status.options"
    ></sam-checkbox>

  </div>
</sam-modal>
