.bulk-assign-page {

  textarea {
    width: 100%;
    max-width: 100%;
    height: 5.2em;
  }

  .form-field-container {
    margin-top: 1em;
  }

  .form-section {
    border: none !important;
  }

  .spinner-icon {
    line-height: 10px;
  }
}