.bulk-update-page {

  .sam-toggle-disabled {
    pointer-events: none;
  }

  .sam-toggle-enabled {
    pointer-events: all;
  }

  .permission-margin {
    margin-top: 0.5em !important;
  }

  .spinner-shown-padding {
    padding: 0.2em 1.5em 0.2em !important;
  }

  .spinner-hidden-padding {
    padding: 0.9em 1.5em 0.9em !important;
  }

  .static-content {
    border-radius: 3px;
    background-color: white;
    border: 1px solid lightgray;
    padding: 0.5em;
  }

  label, textarea, input, select {
    max-width: inherit;
  }

  sam-agency-picker-v2 {
    a.item {
      padding-top: .2em !important;
    }
  }

  sam-label-wrapper label {
    margin-top: 0;
  }

  [type="checkbox"]:disabled:checked + label::before {
    background-image: url('#{$image-path}/correct8.png');
    background-position: 50%;
    background-repeat: no-repeat;
  }

  table tbody tr:hover {
    cursor: pointer;
    background-color: #E9E9E9;
  }

  tr:not(:last-child) {
    border-bottom: 1px solid black;
  }

  tr td {
    padding: .5em;
  }

  .usa-sidenav-list {
    pointer-events: none;
  }

  sam-autocomplete-multiselect .sam-autocomplete-multiselect-input{
    background-color: $color-white;
  }

  sam-agency-picker-v2 .sam-ui.menu{
    margin-top: 0px;
  }

  .italic-span{
    font-style: italic
  }

  .usa-form-hint {
    display: none;
  }

  sam-text-area {
    .usa-form-hint {
      display: block !important;
    }
  
  }

  .users-div {
    margin-top: .5em;
    max-height: 300px;
    overflow-y: auto;
    position: relative;
  }

  .users-table {
    background-color:white;
    width: 100%;
    border: 1px solid black;
  }

  .access-user-div {
    max-height: 250px;
    overflow-y: auto;
    position: relative;
  }

  .access-user-name {
    padding-bottom: 0; 
    padding-top: 0;
  }

  .permission-domain-name {
    border-bottom: 1px solid lightgray;
  }

  .relative-div-cover {
    position: absolute;
    right:0; 
    left:0; 
    top:0; 
    bottom: 0; 
    z-index:100;
  }

  .input-toggle {
  max-width: 200px;
  }
}
