.bulk-update-page {
  label, textarea, input, select {
    max-width: inherit;
  }

  sam-agency-picker-v2 {
    a.item {
      padding-top: .2em !important;
    }
  }

  sam-label-wrapper label {
    margin-top: 0;
  }

  [type="checkbox"]:disabled:checked + label::before {
    background-image: url('#{$image-path}/correct8.png');
    background-position: 50%;
    background-repeat: no-repeat;
  }

  table tbody tr:hover {
    cursor: pointer;
    background-color: #E9E9E9;
  }

  tr:not(:last-child) {
    border-bottom: 1px solid black;
  }

  tr td {
    padding: .5em;
  }

  .usa-sidenav-list {
    pointer-events: none;
  }

  sam-autocomplete-multiselect .sam-autocomplete-multiselect-input{
    background-color: $color-white;
  }

  sam-agency-picker-v2 .sam-ui.menu{
    margin-top: 0px;
  }

  .italic-span{
    font-style: italic
  }
}
