.manage-request {

  padding: .5em;

  .back-button {
    padding-left: .5em;
  }

  .usa-unstyled-list {
    margin-top: 1em;
  }

  h1 {
    margin-top: .25em;
  }

  label {
    max-width: 100%
  }

  textarea {
    max-width: 100%
  }
}
