.role-details-page {
  h1 {
    margin-top: 1rem;
  }

  label {
    font-weight: 600;
  }

  .m_T-3em {
    margin-top: 3em;
  }

  .object-block {
    margin-bottom: 1em;
  }

  sam-toggle-switch label {
    margin-top: 0;
  }

  .object-block:first-child {
    margin-top: .53em;
  }

  .object-block:not(:first-child) {
    margin-top: 20px;
  }

  .field-label{
    color: $color-black;
    font-weight: 600;
  }

  .usa-form-hint {
    display: none;
  }
}
