

.background-white {
  background-color: white;
}

.border-bottom-black {
  border-bottom: 1px solid black;
}

.text-lighter {
  color: $color-gray-medium;
}

.access-page {
  .usa-alert {
    min-height: 4.2em;
  }
  th {
    text-align: left;
    padding: .5rem;
  }
  td {
    padding: .5rem;
    vertical-align: top;
  }

  tr.clickable:hover {
    background-color: #ececec;
    cursor: pointer;
  }

  .results-text {
    line-height: 4.4rem;
  }

  .sort-container select {
    margin: 0;
  }

  .no-wrap {
     white-space: nowrap;
   }

  .usa-alert-warning {
    display: block;
  }

  // override button margins
  button.usa-button-transparent {
    margin: 0;
  }

  .modal-subtitle {
    margin-top: .8em;
  }

  .sam-fieldset-wrapper {
    min-width: 250px;
  }

  .usa-accordion-button {
    padding: 1em;
  }

  .usa-accordion-content {
    padding: 1em;
    overflow: hidden;
  }

  .user-access{
    &.usa-grid-full{
      max-width: initial;
    }
  }
}
