.grant-access {
  .usa-alert-text {
    white-space: pre-line;
  }

  .pointing {
    margin-top: 0;
  }

  .sam-autocomplete-multiselect-input {
    background-color: white;
  }

  textarea {
    width: 100%;
    max-width: 100%;
    height: 5.2em;
  }

  .usa-tabs {
    margin-top: .5em;
  }

  .usa-tabs-content {
    padding: 10px 0;
  }

  select, .sam-autocomplete {
    width: 100%;
    max-width: 100%;
  }

  .section-title-span{
    display: inline-block;
    color: $color-black;
  }

  .form-section {
    border: none !important;
  }

  .usa-form-hint {
    display: none;
  }
}
