.request-response-page {

  .request-details {
    border-radius: 3px;
    background-color: white;
    border: 1px solid lightgray;
    padding: 0.5em;
  }
  
  .usa-form-hint {
    max-width: inherit;
  }

  label[for=comment] {
    max-width: inherit;
  }

  sam-text-area {
    textarea {
      max-width: initial;
    }
  }

  [type="checkbox"]:disabled:checked + label::before {
    background-image: url('#{$image-path}/correct8.png');
    background-position: 50%;
    background-repeat: no-repeat;
  }

  .permission-input {
    display: inline-block;
    width: initial;
    margin: 0 1em 0 0;
    height: $hit-area;
  }

  .permission-input + label {
    height: auto;
  }

  .background-light {
    background-color: $color-gray-lightest;
  }

  .request-action {
    color: black;
    &.reject {
      background-color: $color-secondary-lightest;
    }

    &.escalate {
      background-color: $color-gold-lightest;
    }

    &.approve {
      background-color: $color-green-lightest;
    }
  }
}
