{% capture code_preview %}
<h6>Small</h6>
<span class="usa-label-small">New</span>

<h6>Default</h6>
<span class="usa-label">New</span>

<h6>Large</h6>
<span class="usa-label-big">New</span>

<h6>Surrounded by &lt;a href="#"&gt;|&lt;/a&gt;</h6>
<a href="#"><span class="usa-label">New</span></a>
{% endcapture %}

{% capture uikit-php %}
...

{% endcapture %}

{% capture uikit-js %}
...

{% endcapture %}

{% capture uikit-docs %}
<h4 class="usa-heading">Labels</h4>
<h5>Required keys</h5>
<ul>
  <li><strong>title:</strong> The text to display within the label.</li>
</ul>
<h5>Optional keys</h5>
<ul>
  <li><strong>small:</strong> true|false (default is false).</li>
  <li><strong>big:</strong> true|false (default is false). Whether to use the "big" label from USWDS or not.</li>
  <li><strong>surround:</strong> HTML string, separated by a vertical bar to wrap the label span in.</li>
</ul>
<h5>Keys being reconsidered</h5>
<ul>
  <li><strong>moreClass:</strong> Extra classes to add to the label span.</li>
  <li><strong>background:</strong> Class name for background color.</li>
  <li><strong>icon:</strong> Approved font-awesome icon to include. See Icon.</li>
</ul>
{% endcapture %}
