{% capture code_preview %}
<div>
  <label for="input-type-text">Text input label</label>
  <input id="input-type-text" name="input-type-text" type="text">
</div>

<div>
  <label for="input-type-text">Text input label</label>
  <span class="usa-form-hint">Instructional text.</span>
  <input id="input-type-text" name="input-type-text" type="text">
</div>

<div class="usa-input-error">
  <label class="usa-input-error-label" for="input-error">Text input error</label>
  <span class="usa-input-error-message" id="input-error-message" role="alert">Helpful error message</span>
  <span class="usa-form-hint">Instructional text.</span>
  <input id="input-error" name="input-error" type="text" aria-describedby="input-error-message">
</div>

<div>
  <label for="input-success">Text input success</label>
  <input class="usa-input-success" id="input-success" name="input-success" type="text">
</div>

<div>
  <label for="input-type-textarea">Text area label</label>
  <textarea id="input-type-textarea" name="input-type-textarea"></textarea>
</div>
{% endcapture %}

{% capture uikit-php %}
// render unescaped HTML
echo SAMUIKit\FormControls::textInput($config);

// render multiple text inputs
echo SAMUIKit\FormControls::multipleTextInputs($textInputConfigurations);

// return instance of class
$input = SAMUIKit\FormControls::createTextInput();

// configure the instance
$input->setLabel('Text input label')
    ->setName('input-type-text')
    ->setType('text');

// get the HTML output
$output = $input->getHtml();

// render the HTML output (first example)
echo $output;

// update configuration
$input->setHint('Instructional text.');

// render updated HTML output (second example)
echo $input->getHtml();

// render updated HTML output (third example)
echo $input->setErrorMessage('Helpful error message')
    ->getHtml();
{% endcapture %}

{% capture uikit-js %}
...
{% endcapture %}

{% capture uikit-docs %}
{% include partials/formcontroloverview.html %}
    
<h4 class="usa-heading">Text input</h4>
<h5>Required key</h5>
<ul>
  <li><strong>type:</strong> text|password|email|textarea</li>
</ul>

<h5>Optional keys</h5>
<ul>
  <li><strong>value:</strong> Pre-fill the text input.</li>
  <li><strong>size:</strong> medium|tiny (default is normal).</li>
</ul>
{% endcapture %}
