{% capture microsite_header_unauthenticated %}
<header id="sam-header">
  <nav class="usa-grid" aria-label="Main navigation">
    <ul class="usa-unstyled-list">
      <li><a class="sam-home" href="{{ site.baseurl }}/microsite/"><span>The future SAM.gov</span></a></li>
      <li><a class="sam-search" href="{{ site.baseurl }}/microsite/search/"><span>Search</span></a></li>
    </ul>
  </nav>
</header>
{% endcapture %}
{% capture code_preview %}
<h6>Unauthenticated</h6>
{{ microsite_header_unauthenticated }}

<h6>Authenticated</h6>
<section id="iae-header">
  <header>
    <div class="iae-header">
      <div class="usa-grid">
        <div class="iae-header-menu">
          <div class="iae-header-nav">
            <i class="fa fa-bars" aria-hidden="true"></i>
            <div class="m_T-1x">
              MENU
            </div>
          </div>
          <div class="iae-header-logo">
            <a class="image-wrap" href="#">
              <img width="250" alt="Transtion SAM.gov Logo" src="{{ site.baseurl }}/assets/img/logos/tsg-reverse.png">
            </a>
          </div>
        </div>
        <div class="iae-sign-in">
          <i class="fa fa-search" aria-hidden="true"></i>
          <i class="fa fa-bell" aria-hidden="true"></i>
          <div class="pull-right m_L-3x">
            sam@gsa.gov
          </div>
        </div>
      </div>
    </div>
  </header>
</section>
{% endcapture %}
