.usa-password {
  > .usa-grid {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .usa-form,
  .usa-form-large {
    position: relative;
  }

  .usa-form-note {
    label {
      margin-top: 1.5rem;
    }
  }

  .usa-password-progress {
    $valid-color: #2E8540;
    $invalid-color: #E31C3D;
    $background-color: #FFFFFF;

    $icon-size: 2rem;

    position: absolute;
    width: 100%;
    top: 2rem;
    left: 100%;
    margin-left: 10rem;
    background-color: $background-color;
    font-size: 1.6rem;

    &.right {
      margin-left: 20px;
    }

    ul {
      display: block;
      margin: 0rem;
      margin-left: $icon-size * 1.75;
      padding-left: 0rem;

      li {
        display: block;
        position: relative;
        padding: 0px;
        font-size: 1.7rem;
        line-height: 2.3rem;

        &.header {
          display: block;
          margin: 1.5rem 0rem;
          padding: 0px;
          font-size: 2rem;
          font-weight: bold;
          background-color: transparent;
        }

        &:before {
          line-height: 0px;
          content: '';
        }

        &:after {
          margin-bottom: 0px;
        }
      }
    }
  }
}

.usa-grid {
  .usa-password {
    // Clearfix when .usa-grid nested
    .usa-grid {
      padding: 0rem;
    }
  }
}
