.registration-profile {
  
  background-color: #ebf3fa !important;
  padding: 60px 0px;
  input {
    border-color: #9db9da !important;
  }

  .main-card {
    background-color: white;
    width: 80%;
    margin: auto auto;
    padding: 20px 50px;
    border-radius: 5px;
  }

  .main {
    width: 45%;
  }

  .usa-agency-tip {
    font-size: 1.6rem;
    left: 100%;
    margin-left: 10rem;
    position: relative;
    margin-top: -160px;
    width: 100%;

    ul {
      display: inline-block;
      margin: 0rem;
      margin-left: 2rem * 1.75;
      padding-left: 0rem;

      li {
        display: block;
        position: relative;
        padding: 0px;
        font-size: 1.7rem;
        line-height: 2.3rem;

        &:before {
          line-height: 0px;
          content: "- ";
        }

        &:after {
          margin-bottom: 0px;
        }

        &.hint,
        &.header {
          display: block;
          margin: 1.5rem 0rem;
          padding: 0px;
          background-color: transparent;

          &:before {
            content: "";
          }
        }

        &.header {
          font-size: 2rem;
          font-weight: bold;
        }
      }
    }
  }

  .btn-submit {
    position: relative;
    margin-top: 100px;
    margin-bottom: 30px;
  }

  sam-modal {
    .modal-dialog .modal-body {
      margin-top: -25px !important;
    }
  }
}

@media only screen and (min-width:1500px) {
  .registration-profile {
    .main-card {
      width: 60%;
    }
  }
}
