$alertWarningColor: #D84009;
$alertSuccessColor: #4aa564;
$alertInfoColor: #00A7CF;
$alertErrorColor: #EC1942;
sam-alert-next{
    & > div{
        background: #ffffff;
        box-shadow: 0px 1px 3px #666;
    }

    .sam-alert-body{
        padding: 10px 5px;
        sam-icon{
            margin-right: 4px;
            margin-left: 2px;
        }
    }
    
    .sam-alert-error{
        .sam-alert-body{
            border-left: 5px solid $alertErrorColor; 
            sam-icon{
                color: $alertErrorColor;
            }
        }
    }
    .sam-alert-info{
        .sam-alert-body{
            border-left: 5px solid $alertInfoColor;
            sam-icon{
                color: $alertInfoColor;
            }
        }
    }
    .sam-alert-success{
        .sam-alert-body{
            border-left: 5px solid $alertSuccessColor;
            sam-icon{
                color: $alertSuccessColor;
            }
        }
    }
    .sam-alert-warning{
        .sam-alert-body{
            border-left: 5px solid $alertWarningColor;
            sam-icon{
                color: $alertWarningColor;
            }
        }
    }
}