

.report.title{
  padding-left: 15px;
}

.report-table{
  width: 100%;
  margin-bottom: 20px;
  // max-height: 650px;
  overflow-x: auto;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
}

.report-table sam-datatable{
  width: 1500px;
}


md-paginator button{
  background-color: transparent !important;
}

.fields-container {
  > ul {
    list-style-type: none;
    columns: 2;
  }
}
