.search-results-page{
    
    .search-results-filters{
        display: block;
        
        .filter-slide{
            overflow: hidden;
            h4{
                font-size: 17px;
            }
            a.parent{
                display: block;
                font-size: 16px;
                margin-bottom: 2px;
                i{
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
            .current{
                cursor: default;
                color: black;
            }
            label{
                font-size: 16px;
                display: inline-block;
                margin: 0;
                padding-left: 5px;
            }
            label::before{
                content: none;
            }
            input[type="checkbox"]{
                position: static;
                opacity: 1;
                margin: 0;
                height: 15px;
                display: inline-block;
                width: auto;
                &:focus{
                    box-shadow: none;
                }
            }
        }
    }
    
    .search-results-content {
        .search-result {
            .header {
                display: flex;
                letter-spacing: 0;
                background-color: #FAFAFA;
                border-top: 1px solid #F1F1F1;
                border-bottom: 1px solid #F1F1F1;

                h1,h2,h3,h4,h5,h6,.meta {
                    padding: 1rem;
                    margin: 0;
                }

                h1,h2,h3,h4,h5,h6 {
                    font-weight: 600;
                }

                .meta {
                    order: 1;
                    background-color: #F1F1F1;
                    height: 100%;
                    margin-left: auto;
                    font-weight: 600;
                }
                margin-bottom: 5px;
            }
            p {
                max-width: 850px;
                margin-bottom: 1.5em;
            }

            ul {
                list-style: none;
                padding: 0;
                columns: 2;
            }
        }

        .results-header{
            display: flex;
            justify-content: space-between;
            margin-bottom: 1em;
            .showing-text {
                font-size: 16px;
            }
            .sort{
                display: flex;
                padding-right: 15px;
                font-size: 15px;
                select{
                    -webkit-appearance: menulist;
                    -moz-appearance: menulist; 
                    appearance: menulist; 
                    background-color: initial;
                    height: 1.5em;
                    font-size: 1.6rem;
                    padding: 0;
                    margin: 1px 0 0 5px;
                    width: auto;
                    vertical-align: baseline;
                }
            }
        }
        .keyword{
            display: flex;
            span{
                margin-top: 6px;
                font-weight: 600;
                margin-right: 10px;
            }
            & > div{
                border: 1px solid #c7c7c7;
                width: 88%;
                margin-bottom: 1em;
                padding: .3em;
                font-size: 16px;
                font-weight: 600;
                background-color: #f9f9f9;
            }
        }
        
        .search-result-loading-container{
            position: absolute;
            width: 800px;
        }
        .search-result-loading{
            margin-bottom: 1.5em;
            opacity: 0;
            .title{
                display: block;
                height: 1.3em;
                margin-bottom: 10px;
                border-radius: 2px;
                width: 70%;
                background: linear-gradient(to right, #ececec, #e7e7e7);
                background-size: 400% 400%;
                animation: Gradient 3s ease infinite;
                border: 1px solid #e2e2e2;
            }
            .line{
                display: block;
                height: 1.2em;
                margin-bottom: 9px;
                background: linear-gradient(to right, #ffffff, #d4d4d4);
                background-size: 400% 400%;
                animation: Gradient 3s ease infinite;
                border-radius: 2px;
                border: 1px solid #e2e2e2;
                &.random-1{
                    width: 94%;
                }
                &.random-2{
                    width: 92%;
                }
                &.random-3{
                    width: 95%;
                }
            }
        }
    }
}