.search-report {

  .header {
    margin-bottom: 1.8em;

    > * {
      margin-bottom: 1rem;
    }
  }
  
  .page-toolbar{
    padding: 10px 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
  }
  
  .page-toolbar .page-toolbar-menu a{
    padding-left: 15px;
  }
  
  .selected-filters{
    display: block;
    margin-bottom: 0.5em;
    position: relative;
    .options{
      font-size: 15px;
      a{
        padding-left: 7px;
      }
    }
  }

  .mat-sidenav {
    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    .section {
      padding: 0 0.25em;
      margin-bottom: 1.8rem;
    }

    ul {
      list-style-type: none;
      padding-left: 24px;

      .selected {
        font-weight: 900;
      }
    }
  }

  .data-controls-container {
    display: flex;
    
    .pagination-control {
      margin-right: auto;
    }
  }
  
}