.search-mobile-page{
  //width: 100%;
  display: block;
  max-width: 1000px;
  margin: 0 auto;
  .mask-menu{
    display: flex;
    border-bottom: 1px solid #d4d4d4;
    background-color: white;
    ul::-webkit-scrollbar{
      display: none;
    }
    ul{
      width: 100vw;
      display: flex;
      padding: 0;
      margin: 0;
      overflow: auto;
      -webkit-mask-image: linear-gradient(90deg, transparent, #000 20px, #000 calc(100% - 20px), transparent 100%);
      li{
        list-style: none;
        a:first-child{
          margin-left: 7px;
        }
        a{
          -webkit-tap-highlight-color: transparent;
          transition: color .1s;
          white-space: nowrap;
          padding: 5px 15px;
          display: block;
          font-size: 14px;
          text-transform: uppercase;
          &.current{
            border-bottom: 2px solid #0071bc;
          }
        }
      }
    }
  }
  @media only screen and (min-width: 600px){
    .mask-menu:first-child{
      display: none;
    }
  }
  .results-options{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    .showing-text{
      font-size: 16px;
      display: none;
    }
    @media only screen and (min-width: 600px){
      .showing-text{
        display: block;
      }
    }
    .sort{
      display: flex;
      font-size: 16px;
      strong{
        white-space: nowrap;
      }
      select{
        -webkit-appearance: menulist;
        -moz-appearance: menulist; 
        appearance: menulist; 
        background-color: initial;
        height: 1.5em;
        font-size: 1.6rem;
        padding: 0;
        margin: 1px 0 0 5px;
        width: auto;
        border-color: #ccc;
        border-width: 0px 0px 1px 0px;
        vertical-align: baseline;
      }
    }
  }
  .search-results-mobile{
    margin: 15px 10px 50px 10px;
    .search-result{
      margin-bottom: 15px;
      border-radius: 2px;
      padding: 15px 10px;
      background-color: white;
      //box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
      box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.04);
      h4{
        font-size: 17px;
        line-height: 1.2em;
        margin-bottom: 5px;
        a{
          font-weight: 600;
        }
      }
      p{
        font-size: 16px;
        line-height: 1.3em;
      }
      @media only screen and (min-width: 600px){
        padding: 20px 25px;
        h4{
          font-size: 20px;
        }
        p{
          font-size: 17px;
        }
      }
    }
  }
  .filter-button{
    background-color: #d23f31;
    color: white;
    font-size: 30px;
    font-weight: 600;
    position: fixed;
    bottom: 30px;
    right: 25px;
    width: 64px;
    text-align: center;
    padding: 15px 0px;
    border-radius: 30px;
    cursor: pointer;
    z-index: 5;
    -webkit-tap-highlight-color: transparent;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    .label{
      position: absolute;
      font-weight: 700;
      top: -10px;
      right: -10px;
    }
  }
  @media only screen and (min-width: 600px){
    .filter-button{
      bottom: 90px;
    }
  }
  .filter-options{
    position: fixed;
    bottom: 110px;
    right: 25px;
    div{
      cursor: pointer;
      width: 60px;
      color: white;
      border-radius: 30px;
      font-weight: 600;
      padding: 15px 0px;
      text-align: center;
      box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    }
    
    .reset-filters{
      background-color: #333333;
      margin-bottom: 15px;
    }
    .save-filters{
      background-color: #3c80f6;
      position: relative;
      .label{
        position: absolute;
        font-weight: 700;
        top: -10px;
        right: -10px;
        background-color: #dc3b3b;
        width: 20px;
      }
    }
  }
  @media only screen and (min-width: 600px){
    .filter-options{
      bottom: 170px;
    }
  }
  
  .overlay-screen{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: .5;
    z-index: 3;
  }
  
  .filter-screen{
    position: fixed;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: white;
    h4{
      margin-top: 20px !important;
      padding-left: 20px;
    }
    .selected-filters{
      //border-bottom: 1px solid #e6e6e6;
      padding: 0 20px;
      padding-bottom: 15px;
      a{
        margin-bottom: 5px;
      }
    }
    .filter{
      border-bottom: 1px solid #d2d2d2;
      padding-bottom: 1em;
      margin: 1em;
      .title{
        display: block;
        background-color: #cecdcd;
        height: 1.2em;
        margin-bottom: 10px;
      }
      .title.medium{
        width: 200px;
      }
      .title.small{
        width: 150px;
      }
      .checkbox{
        display: block;
        height: 1.3em;
        width: 1.3em;
        background-color: white;
        margin-bottom: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        &:after{
          content: ' ';
          display: block;
          height: 1.3em;
          margin-left: 1.5em;
          width: 200px;
          background-color: #ddd;
        }
      }
      .checkbox.large{
        &:after{
          width: 235px !important;
        }
      }
      .checkbox.small{
        &:after{
          width: 150px !important;
        }
      }
      .input{
        background-color: white;
        margin-bottom: 8px;
        display: block;
        border-radius: 2px;
        height: 1.8em;
        border: 1px solid #ccc;
      }
    }
  }
  @media only screen and (min-width: 600px){
    .filter-screen{
      width: 450px;
      border-radius: 3px;
      left: 50%;
      top: 200px;
      margin-left: -225px;
      box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    }
  }
  .filter-screen-large{
    display: none;
  }
  @media only screen and (min-width: 1200px){
    .filter-button{
      display: none;
    }
    .filter-screen-large{
      display: block;
      width: 32%;
      //background-color: white;
      h4{
        margin-top: 20px !important;
        padding-left: 20px;
      }
      .selected-filters{
        //border-bottom: 1px solid #e6e6e6;
        padding: 0 20px;
        padding-bottom: 15px;
        a{
          margin-bottom: 5px;
        }
      }
      .filter{
        border-bottom: 1px solid #d2d2d2;
        padding-bottom: 1em;
        margin: 1em;
        .title{
          display: block;
          background-color: #cecdcd;
          height: 1.2em;
          margin-bottom: 10px;
        }
        .title.medium{
          width: 200px;
        }
        .title.small{
          width: 150px;
        }
        .checkbox{
          display: block;
          height: 1.3em;
          width: 1.3em;
          background-color: white;
          margin-bottom: 8px;
          border: 1px solid #ccc;
          border-radius: 5px;
          &:after{
            content: ' ';
            display: block;
            height: 1.3em;
            margin-left: 1.5em;
            width: 200px;
            background-color: #ddd;
          }
        }
        .checkbox.large{
          &:after{
            width: 235px !important;
          }
        }
        .checkbox.small{
          &:after{
            width: 150px !important;
          }
        }
        .input{
          background-color: white;
          margin-bottom: 8px;
          display: block;
          border-radius: 2px;
          height: 1.8em;
          border: 1px solid #ccc;
        }
      }
      .button{
        line-height: 11.9px;
        margin-left: 20px;
        position: relative;
        .label{
          position: absolute;
          font-weight: 700;
          top: -10px;
          right: -10px;
          background-color: #dc3b3b;
          width: 20px;
          color: white;
        }
      }
    }
  }
  
}

@media only screen and (min-width: 1200px){
  .search-mobile-page{
    display: flex;
    max-width: 1400px;
  }
}