sam-table{
    display:table;
}
sam-row,sam-header-row{
    display:table-row;
}
sam-header-cell{
    border-right:1px solid #DCE4EE;
    border-bottom:1px solid #000;
    font-weight:bold;
    &:last-child{
        border-right:none;
    }
    .mat-sort-header-arrow{
        top:16px;
    }
}
sam-row:nth-child(even){
    background-color:#fcfcfc;
}
sam-row:last-child sam-cell{
    border-bottom:none;
}
sam-cell{
    border-right:1px solid #DCE4EE;
    border-bottom:1px solid #DCE4EE;
    &:last-child{
        border-right:none;
    }
}
sam-cell,sam-header-cell{
    /*flex:1;*/
    display:table-cell;
    padding:5px;
}
.sam-visually-hidden{
    display:none;
}
.sam-column-cfdaNumber,.sam-column-status{
    
}
.sam-column-lastUpdatedDate{
    
}
.sam-column-agency,.sam-column-title{
    width:25%;
}
.datatable-example > ul{
    padding:0;
    text-align:right;
}
.sam-sort-header-button,.sam-sort-header-button:hover{
    background: none;
    color: black;
    padding: 0;
}
.sam-datatable-thead{
    display:table-header-group;
}
.sam-datatable-tbody{
    display:table-row-group;
}
.sam-datatable-tfooter{
    display:table-footer-group;
}
.sam-datatable-footercell{
    padding:5px;
    display:table-cell;
    border-right:1px solid #DCE4EE;
    border-top:1px solid #000;
    &:last-child{
        border-right:none;
    }
}