// horizontal scroll
.sam-tabs-next-wrapper{
    height: 50px;
    width: 100%;
    overflow:hidden;
    .sam-ui.secondary.pointing.menu.sam-tabs-next{
        height: 100%;
        width: 100%;
        overflow-x: scroll;
        box-sizing: content-box;
        padding-top: 1px;
        padding-bottom: 5px;
        height: 60px;
        position:relative;  
        
        &.scrolling{
            width: calc(100% - 36px);
            margin-top: 0px;
            float:left;
        }

        .item{
            margin-right: 5px;
            padding: 10px 30px;
            height: 25px;
            border: 1px solid #ccc;
            background: transparent;
            color: #5B616B;
            
            &.active{
                background-color: #205593;
                color:white;
            }
            &:last-of-type{
                margin-right:0px;
            }
        }

        
    }
    .tab-prev-btn-wrapper{
        display: block;
        float:left;
        height: 50px;
        line-height: 50px;
    }
    
    .tab-next-btn-wrapper{
        display: block;
        float:left;
        height: 50px;
        line-height: 50px;
    }

    .tab-nav-btn{
        //display: block;
    }
}