<nav class="site-nav-secondary js-sticky-nav">
  <ul>
    <li><a {% if page.category == 'Getting started' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/">Getting started</a></li>
    <li><a {% if page.category == 'Element' %}class="usa-current"{% endif %}href="{{ site.baseurl }}/elements/">Elements</a></li>
    <li><a {% if page.category == 'Component' %}class="usa-current"{% endif %}href="{{ site.baseurl }}/components/">Components</a></li>
    <li><a {% if page.category == 'Page template' %}class="usa-current"{% endif %}href="{{ site.baseurl }}/page-templates/">Page templates</a></li>
    <li><a {% if page.category == 'Microsite' %}class="usa-current"{% endif %}href="{{ site.baseurl }}/microsite/">Microsite</a></li>
  </ul>
</nav>
