.view-request-page {
    &.usa-grid-full{
      max-width: initial;
    }
    .pd-l-1em{
        padding-left: 1em;
    }
    .m-r-7em{
        margin-right: 7em;
    }
    .m-r-12d5em{
        margin-right: 12.5em;
    }
}
