.accounts-page {
    .roles-migrate-text {
        background-color: #dce4ee;
    }
    .roles-migrate-header {
        font-size: 2rem;
    }
    .roles-migrate-link {
        text-align: center;
        font-size: 2rem;
        background-color: #eff2f7;
    }
}