.contracting {
    .key-resources {
        background-color: #dce4ee;
    }
    .fed-agency-biz-forecast {
        background-color: #eff2f7;
    }
    .fed-agency-link {
        margin-top: 0.2em;
    }
    .link-list > a {
        display: block;
        margin-top: 1.5rem;
    }
      
    h3 {
        margin-top: 2.5rem;
    }
}