.new-to-sam {
    h2 {
        margin-bottom: 3rem;
    }
    .sam-new-img {
      //background: url(../../../assets/img/around-sam.jpg); 
    //   background-size: contain; 
      width: 100%;
      height: 100%; 
      padding: 1rem 3rem;
    //   background-repeat: no-repeat; 
    //   background-position: center;  
    }
    .stay-informed-img {
        height: 60px; 
        position:relative; 
        top:-2.3rem;
    }
}