.support {
    .help-home {
        margin-bottom: 0.5em;
    }
    .learning-center-container {
        margin-bottom: 0.5em; 
        background: #f2f2f2; 
        padding: 18px;
    }
    .learning-center-module {
        color: #848484;
    }
    .learning-center-img {
        margin-bottom: 0.5em;
    }
    .learning-center-img img {
        margin-right: 0.5em;
        height: 30px;
    }
    .hours-panel {
       background-color: #dce4ee; 
       padding: 0.5em;
    }
    .chat-link {
        background-color: #f1f4f8;
        padding: 0.5em;
    }
}