.usa-requests-application {
  .page-content {
    position: relative;

    > div {
      min-height: 77vh;
    }
  }

  sam-alert {
    .usa-alert {
      margin-top: 0rem;
      margin-bottom: 1rem;
    }
  }

  title-and-section {
    display: block;
    margin-bottom: 1em;
  }

  sam-label-wrapper {
    &.inline {
      > div {
        label {
          display: inline-block;
        }
      }
    }

    > div {
      margin-bottom: 1em;
    }
  }

  sam-fieldset-wrapper {
    fieldset {
      margin-bottom: 1em;

      legend + .usa-form-hint {
        margin-bottom: 1em;
      }
    }
  }

  .content {
    > a {
      position: absolute;
      right: 0px;
      top: 2.7em;

      .fa {
        margin-top: 2px;
        margin-left: 0.25em;
        font-size: 2.2rem;
        float: right;
      }
    }
  }

  .review {
    legend {
      margin-bottom: 0.5em;
      font-size: 2rem;
    }

    .fa {
      margin-top: 0.3em;
      float: left;
    }

    .fa + div {
      margin-left: 1.2em;
    }

    .edit {
      margin-top: 4px;
      font-size: 1.8rem;

      .fa {
        margin-top: 0.25em;
        margin-right: 0.3em;
      }
    }
  }

  .sam-ui.segment {
    sam-fieldset-wrapper {
      fieldset {
        margin-bottom: 0em;
      }
    }
  }

  .comments {
    fieldset {
      margin-top: 1.2em;
      margin-bottom: 1em;
      font-size: 2rem;
    }

    .usa-form-hint {
      font-size: 1.7rem;

      strong {
        color: $black;
      }
    }

    a {
      font-size: 1.7rem;
    }

    legend {
      margin-bottom: 1rem;
    }

    textarea {
      height: 8rem;
      max-width: none;
    }
  }

  system-history {
    legend {
      margin-bottom: 2rem;
      font-size: 2rem;
    }
  }

  .usa-button-controls {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    text-align: right;
  }
}
