.assistance-listing-operations{

  fal-form-contact-info {
    sam-poc-entry {
      sam-text, sam-autocomplete, sam-number, sam-text-area {
        sam-label-wrapper > div > label {
          position: relative;
          max-width: 46rem;
        }
      }
    }
  }

  .usa-alert{
    width: 100%;
  }

  .sticky-label{
    color: #a6a6a6;
    letter-spacing: -0.3px;
    font-size: 1.6rem;
  }

  .disabled{
    color: #aeb0b5
  }


  .vertical-center{
    display: inline-block;
    vertical-align: middle;
  }

  .code-separator{
    float: left;
    padding: 12px 5px;
  }

  .fal-label {
    font-weight: bold;
    color: black;
    font-size:18px;
    margin-top: 2em;
    margin-bottom: 0em;
  }

  // .text-radio-padding {
  //   padding-left: 20px;
  // }
  .sam-autocomplete-width > .sam-autocomplete {
    max-width: 46rem;
  }

  label[for=use-restrictions-textarea0]
  {
    margin-top: 0;
  }
  label[for=use-Discretionary-Funds-textarea0]
  {
    margin-top: 0;
  }
  label[for=use-Loan-Terms-textarea0]
  {
    margin-top: 0;
  }
  .sam-ui.celled.table .amend-table-col{
    padding-left:40px;
  }

  .assistance-listing-change-request {
    display: block;
    margin: auto;
    width: 50%;
    .program-details{
      background-color: #E8E8E8;
    }
    .program-details .content{
      padding: 2px 15px 2px 15px;
    }
    .program-details .content > span {
      font-weight: bold;
    }
    .cb-request .usa-fieldset-inputs{
      display: inline;
    }

  }

  .regional-office-form {
    sam-text, sam-agency-picker-v2, sam-select, sam-text-area {
      sam-label-wrapper > div > label, div.sam-ui.secondary.pointing.menu {
        position: relative;
        max-width: 46rem;
      }
    }
  }

}
.header-history{
  display: inline;
}
.checkbox-history{
  float: right;
}
.cfda-number-input {
  display: inline;
  width: 43.5rem;
}
.requestLink{
  text-decoration: none;
  color: black;
  font-weight: normal;
}

.section-pristine {
  color: gray;
}

.section-updated {
  color: green;
}

.section-invalid {
  color: red;
}

.float-right {
  float: right;
}

.usa-input-error {
  right: 0.9rem;
}
.text-align-right {
  text-align: right;
}

.singleSpace{
  padding-bottom: 10px;
  display: block;
}

.doubleSpace{
  padding-bottom: 25px;
  display: block;
}

.topDoubleSpace{
  padding-top: 25px;
  display: block;
}

.fontWeight600{
  font-weight: 600;
}

.margintop10{
  margin-top:10px;
}

.positionRelative{
  position: relative;
}


.chartValueHover{
  display: block;
  font-size: 17px;
  font-weight: 700;
}

.chartKeyBlock{
  border:1px solid #000; 
  width: 10px; 
  height: 10px; 
  display: inline-block;
}
