$dark-blue: #102d50;
$light-blue:  #0070b8;

home {
  .img {
    min-height: 300px;
    background-size: cover !important;
  }
  .welcome-banner {
   // background: url(../assets/img/home/columns.jpg); 
  }
  .welcome-banner-text {
    color: white;
    padding: 2rem 4rem !important;
  }
  .sam-is-free {
    width: 200px;
    height: 200px;
    position: absolute;
    right: 0;
    bottom: -180px
  }
  @media screen and (max-width: 600px) {
    .sam-is-free {
      width: 120px !important;
      height: 120px !important;
      bottom: -126px !important;
    }
  }

  .sam-ui[class*="very relaxed"].grid > .column:not(.row),
  .sam-ui[class*="very relaxed"].grid > .row > .column,
  .sam-ui.grid > [class*="very relaxed"].row > .column {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .provide-feedback:hover {
    cursor: pointer;
    color: lighten(#454443, 20%);
  }

  .home-section {
    background-color: #f7f7f6;
    padding: 5rem 0 3rem 0;
  }

  .fed-assistance-classroom-img1 {
   // background: url(../assets/img/home/classroom1.jpg);
  }

  .fed-assistance-classroom-img {
   // background: url(../assets/img/home/classroom.jpg);
  }

  .contracting {
    background-color: #ffffff;
  }

  .contracting-people-img {
   // background: url(../assets/img/home/people.jpg); 
  }

  .entities {
    background-color: #f1f0ef;
  }

  .entities-coffee-img {
   // background: url(../assets/img/home/coffee.jpg); 
  }

  .entities-coffee-img1 {
   // background: url(../assets/img/home/coffee1.jpg); 
  }

  .what-is-beta-sam {
    background-color: #e4e2e0;
  }

  .what-is-beta-sam-video-container {
    margin: 0.5rem auto;
  }

  .what-is-sam-video {
    min-height: 300px;
  }

  .feedback-icon {
    margin-top: -20px;
  }

  .feedback-icon-circle {
    color: #00a4cf; 
    font-size: 80px;
  }

  .feedback-icon-comment {
    color: #ffffff; 
    font-size: 50px; 
    line-height: 75px;
  }

  .feedback-button {
    margin-left: 80px; 
    margin-top: .5rem; 
    margin-right: 200px;
  }

  .bg-blue {
    background-color: $dark-blue;
  }

  .bottom-row-item h4 {
    margin-top: 0.5em;
  }

  .bottom-row-item a {
    color: white;
  }

  .inner-icon {
    color: #112e51;
  }
  h2 {
    color: $dark-blue;
    margin-bottom: 3rem;
  }

  a {
    color: $light-blue;
  }

  li > a {
    color: $dark-blue;
  }

  li {
    margin-bottom: .5rem;
  }

  .color-blue {
    color: $dark-blue;
  }

  .color-light-blue {
    color: $light-blue;
  }
}
