#organization-page {

  .active{
    color: #4aa564;
  }

  .org-desc {
    max-width: 700px;
  }

  .usa-zebra-list{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 50px;
  }
  .usa-zebra-list > li{
    margin-bottom: 0;
    border-top: 1px solid rgba(204, 204, 204, 0.30);
  }
  .usa-zebra-list > li:nth-child(odd) {
    background-color: rgba(241, 241, 241, 0.35);
  }
  .usa-zebra-list > li:hover{
    background-color: rgba(241, 241, 241, 1);
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    -o-transition: background-color 300ms ease-out;
    -ms-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
  }
  .usa-zebra-list li div{
    padding: 8px 14px;
  }
  .usa-zebra-list li a{
    display: block;
    text-decoration: none;
  }

  .usa-zebra-list li a:hover{
    text-decoration: underline;
  }
}
