.search-page {
  p:not(.usa-font-lead) {
    text-align: justify;
  }

  .block-height {
    height:300px;
  }

  select {
    margin: 0;
  }

  .usa-label {
    margin-right: 1rem;
  }

  li:before {
    content: none;
  }

  .logo-small {
    width:15%;
  }

  .collapsible{
    cursor: pointer;
    &:before{
      content: "\f067";
      font: normal normal normal 12px/1 FontAwesome;
      padding-right: 2px;
    }
    &.expanded:before{
      content: "\f068";
    }
  }

  .history{
    text-decoration: underline;
  }

  .usa-award-filter{
    .usa-type-ahead-search {
      position: absolute;
      top: 20%;
      left: 5px;
      z-index: 10;

      .fa-search {
        color: #d9d9d9;
      }
    }
    .usa-type-ahead-dropdown {
      position: absolute;
      top: 20%;
      right: 10px;
      z-index: 10;
      .fa-chevron-down{
        color: #003264;
      }
    }

    .sam-list-input .input-area .input-wrapper{
      width: 100%;


      #type-search{
        text-indent: 10px;
      }
    }

    .sam-autocomplete #sam-autocomplete-results{
      z-index: 20;
    }

    ul>li>button {
      text-align: inherit;
    }
    }

  .usa-regional-filter {

    margin:0;

    #regional-office {
      text-indent: 10px;
      padding-right: 28px;
      font-size: initial;
    }
    .add-on {
      position: absolute;
      top:20%;
      left:5px;
      z-index: 10;
      color: #d9d9d9;
      width:10px;
    }
  }
}


sam-infographic-container {

  .opp-info {
    padding-bottom: 8px;
    position: relative;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    background: rgb(41,91,137);
    background: linear-gradient(180deg, rgba(41,91,137,1) 0%, rgba(18,46,81,1) 100%);
  }

  .opp-info p,
  .opp-info a {
    color: white;
  }

  .opp-info-links {
    li{
      padding-bottom: 15px;
    }
    a{
      font-weight: 600;
    }
    .fa{
      background-color: white;
      border-radius: 50%;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
      padding: 10px 12px;
      margin-right: 5px;
      &::before{
        color: #122E51;
      }
    }
  }

  .opp-info-tips {
    border-radius: 3px;
    border: 1px solid transparent;
    background-color: white;
    margin-bottom: 25px;
  }

  .opp-info-tips-header {
    padding-left: 20px;
    background-color: #F1F1F1;
  }

  .infographicWrapper {
    text-align: center;
    position: absolute;
    bottom: -25px;
    left: 50%;
    z-index: 2;
    cursor: pointer;
  }

  .info-graph {
    height: 400px !important;
    width: 710px !important;
  }

  .opp-expand{
    float: left;
    overflow: hidden;
  }

}
