<ng-container>
  <h4 class="sam-ui header">Wage Determination Type</h4>
  <!--wage determination DBA or SCA radio buttons-->
  <sam-radio-button
    [(model)]="wdTypeModel"
    [options]="wdTypeConfig.options"
    [label]="wdTypeConfig.label"
    [hint]="wdTypeConfig.hint"
    [name]="wdTypeConfig.name"
    [errorMessage]="wdTypeConfig.errorMessage"
    (modelChange)="wdFilterChange($event)">
  </sam-radio-button>
  <div class="sam-ui divider"></div>
</ng-container>

<!--Location Filter-->
<ng-container *ngIf="wdTypeModel && wdTypeModel !== 'cba'">
  <h4 class="sam-ui header">Location</h4>
  <!--state autocomplete-->
  <sam-autocomplete [ngModel]="wdStateObject"
    (ngModelChange)="stateChange($event)"
    [name]="selectStateConfig.name"
    [id]="selectStateConfig.name"
    [labelText]="selectStateConfig.label"
    [hint]="selectStateConfig.hint"
    [options]="selectStateConfig.options"
    [config]="selectStateConfig"
    [disabled]="selectStateConfig.disabled">
  </sam-autocomplete>
  <!--county autocomplete-->
  <sam-autocomplete [ngModel]="countyObject"
    (ngModelChange)="countyChange($event)"
    [name]="selectCountyConfig.name"
    [id]="selectCountyConfig.name"
    [labelText]="selectCountyConfig.label"
    [hint]="selectCountyConfig.hint"
    [options]="selectCountyConfig.options"
    [config]="selectStateConfig"
    [disabled]="selectCountyConfig.disabled">
  </sam-autocomplete>
  <div class="sam-ui divider"></div>
</ng-container>

<!--*** DBA Specif Filters ***-->
<ng-container *ngIf="wdTypeModel === 'dbra'">
  <h4 class="sam-ui header">DBA: Construction Type</h4>
  <!--construction type drop down-->
  <sam-autocomplete [ngModel]="wdConstructObject"
    (ngModelChange)="constructionTypeChange($event)"
    [name]="selectConstructConfig.name"
    [id]="selectConstructConfig.name"
    [labelText]="selectConstructConfig.label"
    [hint]="selectConstructConfig.hint"
    [options]="selectConstructConfig.options"
    [config]="selectConstructConfig"
    [disabled]="selectConstructConfig.disabled">

  </sam-autocomplete>
  <div class="sam-ui divider"></div>
</ng-container>

<!--*** SCA Specific Filters ***-->
<ng-container *ngIf="wdTypeModel === 'sca'">
  <h4 class="sam-ui header">SCA: Previously Performed</h4>
  <!--previously performed-->
  <sam-radio-button
    [(model)]="wdPreviouslyPerformedModel"
    [options]="wdPreviouslyPerformedConfig.options"
    [label]="wdPreviouslyPerformedConfig.label"
    [hint]="wdPreviouslyPerformedConfig.hint"
    [name]="wdPreviouslyPerformedConfig.name"
    [errorMessage]="wdPreviouslyPerformedConfig.errorMessage"
    (modelChange)="wdPreviouslyPerformedChanged($event)">
  </sam-radio-button>
  <div class="sam-ui divider"></div>
</ng-container>

<ng-container *ngIf="wdTypeModel === 'sca' && wdPreviouslyPerformedModel === 'prevPerfYesLocality'">
  <h4 class="sam-ui header">SCA: Subject to CBA</h4>
  <sam-radio-button
    [(model)]="wdSubjectToCBAModel"
    [options]="wdSubjectToCBAConfig.options"
    [label]="wdSubjectToCBAConfig.label"
    [hint]="wdSubjectToCBAConfig.hint"
    [name]="wdSubjectToCBAConfig.name"
    [errorMessage]="wdSubjectToCBAConfig.errorMessage"
    (modelChange)="wdSubjectToCBAChanged($event)">
  </sam-radio-button>
  <div class="sam-ui divider"></div>
</ng-container>

<!-- Non Standard Services Section -->
<ng-container *ngIf="wdTypeModel === 'sca' && (wdPreviouslyPerformedModel === 'prevPerfYesDifferentLocality' || wdPreviouslyPerformedModel === 'prevPerfNo') || wdSubjectToCBAModel === 'noCBA'">
  <h4 class="sam-ui header">SCA: Non-Standard Services</h4>
  <!--Non-Standard Services radio buttons-->
  <sam-radio-button [(model)]="wdNonStandardRadModel"
    [options]="wdPreviouslyPerformedModel !== 'prevPerfNo' ? wdNonStandardRadConfig.optionsWithEven : wdNonStandardRadConfig.optionsWithoutEven"
    [label]="wdNonStandardRadConfig.label"
    [hint]="wdNonStandardRadConfig.hint"
    [name]="wdNonStandardRadConfig.name"
    [errorMessage]="wdNonStandardRadConfig.errorMessage"
    (modelChange)="wdNonStandardRadChanged($event)">
  </sam-radio-button>

  <!--Non-Standard Services drop down select-->
  <sam-autocomplete [ngModel]="wdNonStandardSelectObject"
    (ngModelChange)="wdNonStandardSelectChanged($event)"
    [options]="wdNonStandardSelectConfig.options"
    [config]="wdNonStandardSelectConfig"
    [labelText]="wdNonStandardSelectConfig.label"
    [name]="wdNonStandardSelectConfig.name"
    [id]="wdNonStandardSelectConfig.name"
    [hint]="wdNonStandardSelectConfig.hint"
    [disabled]="wdNonStandardSelectConfig.disabled">
  </sam-autocomplete>
  <div class="sam-ui divider"></div>
</ng-container>
