.container{
	// max-width:1150px; 
	// margin:0 auto;
}

.sam-aside-container {	
	&.aside-opened {
		.sam-aside {
			visibility: visible;
		}
	}
	
	.sam-aside {
		visibility: hidden;
	}

	display: flex;
}

