<p>Note: If the accordion content contains a list, at present, the list can only be one level deep for proper styling.</p>

{% include code-previews/components/accordions.md %}
{% include code-previews/main.html %}

<div class="usa-accordion-bordered">
  <ul class="usa-unstyled-list">
    <li>
      <button class="usa-button-unstyled" aria-expanded="true" aria-controls="element-documentation">
        Element documentation
      </button>
      <div id="element-documentation" class="usa-accordion-content" aria-hidden="false">
        <p>See <a href="https://standards.usa.gov/accordions/">US Web Design Standards</a> for details regarding when to use this element.</p>      
      </div>
    </li>    
  </ul>
</div>
