<div class="usa-alert usa-alert-info">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Extension of the US Web Design Standards</h3>
    <p class="usa-alert-text">The US Web Design Standards does not have a dismissable alert nor a dismiss button.</p>
  </div>
</div>

{% include code-previews/main.html %}

<div class="usa-accordion-bordered">
  <ul class="usa-unstyled-list">
    <li>
      <button class="usa-button-unstyled" aria-controls="uikit-php">UI kit - PHP</button>
      <div id="uikit-php" class="usa-accordion-content">
          <pre class="language-php">
          <code class="language-php">
// render unescaped HTML string
echo SAMUIKit\Other::accordion($config);

// render multiple accordions
echo SAMUIKit\Other::multipleAccordions($accordionConfigurations);          
          </code>
          </pre>
      </div>
    </li>
    <li>
      <button class="usa-button-unstyled" aria-controls="uikit-js">UI kit - JavaScript</button>
      <div id="uikit-js" class="usa-accordion-content">
          <pre class="language-js">
          <code class="language-js">
          </code>
          </pre>
      </div>
    </li>
    <li>
      <button class="usa-button-unstyled" aria-expanded="true" aria-controls="element-uikit-documentation">
        UI kit documentation
      </button>
      <div id="element-uikit-documentation" class="usa-accordion-content" aria-hidden="false">
        <h4 class="usa-heading">Alerts</h4>
        <h5>Required keys</h5>
        <ul>
          <li><strong>title:</strong> The text in bold at the beginning of the alert.</li>
          <li><strong>message:</strong> The text under the alert heading.</li>
        </ul>

        <h5>Optional keys</h5>
        <ul>
          <li>
            <strong>type:</strong> error|warning|success|info (default is info).
          </li>
          <li>
            <strong>dismissPath:</strong> When set, a form with method POST and action target of value will be created. Note: you will want to process the POST request as the view will not.
          </li>
          <li>
            <strong>csrfField:</strong> To support Cross-Site Request Forgery (CSRF), you may pass a token to be applied within the dismiss alert form.
          </li>
        </ul>
      </div>
    </li>     
  </ul>
</div>

<div class="usa-accordion-bordered">
  <ul class="usa-unstyled-list">
    <li>
      <button class="usa-button-unstyled" aria-expanded="true" aria-controls="element-documentation">
        Element documentation
      </button>
      <div id="element-documentation" class="usa-accordion-content" aria-hidden="false">
        <p class="usa-font-lead">See <a href="https://standards.usa.gov/alerts/">US Web Design Standards</a> for details regarding when to use this component.</p>
      </div>
    </li>    
  </ul>
</div>
