<div class="usa-alert usa-alert-info">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Extension of the US Web Design Standards</h3>
    <p class="usa-alert-text">The US Web Design Standards does not have a dismissable alert nor a dismiss button.</p>
  </div>
</div>

{% include code-previews/components/alerts-code.html %}
{% include code-previews/main.html %}

<div class="usa-accordion-bordered">
  <ul class="usa-unstyled-list">
    <li>
      <button class="usa-button-unstyled" aria-expanded="true" aria-controls="element-documentation">
        Element documentation
      </button>
      <div id="element-documentation" class="usa-accordion-content" aria-hidden="false">
        <p class="usa-font-lead">See <a href="https://standards.usa.gov/alerts/">US Web Design Standards</a> for details regarding when to use this component.</p>
      </div>
    </li>    
  </ul>
</div>
