<h2 class="usa-heading" id="name-form">Name form</h2>

<p class="usa-font-lead">See <a class="usa-external_link" href="https://standards.usa.gov/form-templates/#name-form">US Web Design Standards</a> for details regarding when to use this component.</p>


<div class="preview">
  <form class="usa-form-large">
    <div>
      <fieldset>
        <legend>Name</legend>

        <label for="name-title">Title</label>
        <input id="name-title" class="usa-input-tiny" name="name-title" type="text">

        <label for="name-first-name">First name <span class="usa-additional_text">Required</span></label>
        <input id="name-first-name" name="name-first-name" type="text" required="required" aria-required="true">

        <label for="name-middle-name">Middle name</label>
        <input id="name-middle-name" name="name-middle-name" type="text">

        <label for="name-last-name">Last name <span class="usa-additional_text">Required</span></label>
        <input id="name-last-name" name="name-last-name" type="text" required="required" aria-required="true">

        <label for="name-suffix">Suffix</label>
        <input id="name-suffix" class="usa-input-tiny" name="name-suffix" type="text">
      </fieldset>
    </div>
  </form>
</div>

<div class="usa-accordion-bordered usa-accordion-docs">
  <ul class="usa-unstyled-list">
    <li>
      <button class="usa-button-unstyled" aria-expanded="false" aria-controls="collapsible-0">
        PHP UI kit usage
      </button>
      <div id="collapsible-0" class="usa-accordion-content" aria-hidden="true">
        <pre><code class="language-php">
// render unescaped HTML string
echo SAMUIKit\FormTemplate::nameForm($config);
        </code></pre>
      </div>
    </li>
    <li>
      <button class="usa-button-unstyled" aria-expanded="false" aria-controls="collapsible-1">
        JavaScript UI kit usage
      </button>
      <div id="collapsible-1" class="usa-accordion-content" aria-hidden="true">
        <pre><code class="language-js">
        </code></pre>
      </div>
    </li>
    <li>
      <button class="usa-button-unstyled" aria-expanded="true" aria-controls="collapsible-2">
        UI kit documentation
      </button>
      <div id="collapsible-2" class="usa-accordion-content" aria-hidden="true">
        <h4 class="usa-heading">Name form</h4>
        <h5>Required keys</h5>
        <ul>
          <li><strong>label:</strong> The label for the form.</li>
          <li><strong>name:</strong> The name value for each form input.</li>
        </ul>
      </div>
    </li>    
  </ul>
</div>
