<h2 class="usa-heading" id="registration-form">Registration form</h2>

<p class="usa-font-lead">...</p>

<div class="usa-alert usa-alert-info">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Extenstion of the US Web Design Standards</h3>
    <p class="usa-alert-text">The US Web Design Standards does not define this component.</p>
  </div>
</div>

{% include code/components/registrationform-code.html %}
{% include code/main.html %}

<div class="usa-accordion-bordered">
  <button class="usa-button-unstyled usa-accordion-button"
      aria-expanded="true" aria-controls="collapsible-0">
    Documentation
  </button>
  <div id="collapsible-0" aria-hidden="false" class="usa-accordion-content">
    <h4 class="usa-heading">Accessibility</h4>

    <h4 class="usa-heading">Usability</h4>
    <h5>When to use</h5>

    <h5>When to consider something else</h5>

    <h5>Guidance</h5>
  </div>
</div>
