<h2 id="search-result">Search result</h2>

<p class="usa-font-lead">Search results give users enough information to determine whether they want more details.</p>

<div class="usa-alert usa-alert-info">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Extension of the US Web Design Standards</h3>
    <p class="usa-alert-text">The US Web Design Standards does not define this component.</p>
  </div>
</div>

<div class="preview">

  <h6>Without metadata</h6>
  <div class="usa-grid usa-search-result">
    <div class="usa-width-one-whole">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut ligula pulvinar elit.</p>
    </div>
  </div>
  <h6>With metadata</h6>
  <div class="usa-grid usa-search-result">
    <div class="usa-width-two-thirds">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut ligula pulvinar elit.</p>
    </div>
    <div class="usa-width-one-third">
      <p><strong>Metadata 1:</strong> This is a piece of metadata.</p>
    </div>
  </div>

  <h6>With metadata and action</h6>
  <div class="usa-grid usa-search-result">
    <div class="usa-width-two-thirds">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut ligula pulvinar elit.</p>
    </div>
    <div class="usa-width-one-third">
      <p><span class="usa-label">New</span></p>
      <p><strong>Metadata 1:</strong> This is a piece of metadata.</p>
      <div class="usa-width-one-whole">
        <div class="usa-action-container">
          <span><a href="#"><i class="fa fa-archive"></i>Archive</a></span>
        </div>
        <div class="usa-action-container">
          <span><a href="#"><i class="fa fa-pencil-square"></i>Edit</a></span>
        </div>
        <div class="usa-action-container delete">
          <span><a href="#"><i class="fa fa-trash"></i>Delete</a></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="usa-accordion-bordered usa-accordion-docs">
  <ul class="usa-unstyled-list">
    <li>
      <button class="usa-button-unstyled" aria-expanded="false" aria-controls="collapsible-0">
        PHP UI kit usage
      </button>
      <div id="collapsible-0" class="usa-accordion-content" aria-hidden="true">
        <pre><code class="language-php">
// render unescaped HTML string
echo SAMUIKit\Search::result($config);
        </code></pre>
      </div>
    </li>
    <li>
      <button class="usa-button-unstyled" aria-expanded="false" aria-controls="collapsible-1">
        JavaScript UI kit usage
      </button>
      <div id="collapsible-1" class="usa-accordion-content" aria-hidden="true">
        <pre><code class="language-js">
        </code></pre>
      </div>
    </li>
    <li>
      <button class="usa-button-unstyled" aria-expanded="true" aria-controls="collapsible-2">
        UI kit documentation
      </button>
      <div id="collapsible-2" class="usa-accordion-content" aria-hidden="true">
        <h4 class="usa-heading">Resources</h4>
        <p>Note: The <code>div</code> with the class of "usa-grid" is not returned by the component and is used for previewing only.</p>
        <h5>Required keys</h5>
        <ul>
          <li><strong>content:</strong> An array of HTML strings to display in the content area of the search result.</li>
        </ul>

        <h5>Optional keys</h5>
        <ul>
          <li><strong>metadata:</strong> An array of HTML strings, or components to display in the meta data area of the resource.</li>
          <li><strong>actions:</strong> An array of Action configurations. See Action.</li>
        </ul>

        <h5>Metadata component required keys</h5>
        <ul>
          <li><strong>template:</strong> UI kit builder class name|function name. ex. "Other|label", is equivalent to SAMUIKit\Other::label() in PHP.</li>
          <li><strong>config:</strong> The configuration of the component. See the component details for required and optional keys.</li>
        </ul>
      </div>
    </li>    
  </ul>
</div>

<div class="usa-accordion-bordered">
  <button class="usa-button-unstyled usa-accordion-button"
      aria-expanded="true" aria-controls="collapsible-0">
    Documentation
  </button>
  <div id="collapsible-0" aria-hidden="false" class="usa-accordion-content">
    <h4 class="usa-heading">Accessibility</h4>

    <h4 class="usa-heading">Usability</h4>
    <h5>When to use</h5>

    <h5>When to consider something else</h5>

    <h5>Guidance</h5>
  </div>
</div>
