<h2 id="side-navigation">Side navigation</h2>

{% include code-previews/components/sidenav-code.html %}
{% include code-previews/main.html %}

<div class="usa-accordion-bordered">
  <ul class="usa-unstyled-list">
    <li>
      <button class="usa-button-unstyled" aria-expanded="true" aria-controls="element-documentation">
        Element documentation
      </button>
      <div id="element-documentation" class="usa-accordion-content" aria-hidden="false">
        <p>See <a href="https://standards.usa.gov/sidenav/">US Web Design Standards</a> for details regarding when to use this element.</p>
      </div>
    </li>    
  </ul>
</div>
