.transition-roadmap {
  .roadmap-div{
    border: 1px black solid;
    font-size: 13px;
  }

  .no-border{
    border:none;
  }

  .release-vertical-line {
    position: absolute;
    border-left: 2px solid #000000;
    height: 50px;
    top: 0;
  }

  .arrow-right {
    position: absolute;
    width: 0;
    height: 0;
    top:15px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid black;
  }

  .release-feature-cell{
    border:none;
    position: relative;
    padding-top: 0;
  }

  .release-feature-arrow-div{
    width:100%;
    height: 50px;
  }

  .release-feature-content{
    font-weight: bold;
    position: absolute;
    top:15px;
    left:9px;
  }


  .filter-div {
    width: auto;
    display: inline-block;
    padding: 4px;
    font-weight: $linkFontWeight;
    color: $linkColor;
  }

  .filter-div:hover{
    cursor: pointer;
  }

  .transition-filter-selected{
    text-decoration: underline;
  }

  .underline{
    border-bottom: 1px solid black ;
  }
}
