.jumbotron{
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #eceeef;
  border-radius: .3rem;
}

.help-title{
  width: 100%;
  margin:0;
  max-width: 2000px;
}

.help-content{

  .feedback-warning{
    color: $color-secondary-dark;
  }

  .feedback-warning-font-size{
    font-size: 90%;
  }
}
