@import './forgot/forgot-initial';
@import './forgot/forgot-confirm';
@import './forgot/forgot-main';

.usa-forgot {
  max-width: 100%;
  margin-bottom: 94px;

  legend {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    font-size: 3rem;
    font-weight: 700;
  }

  section {
    margin: 0 auto;
  }

  .ng-untouched {
    box-shadow: none;
  }

  .usa-button-controls {
    margin-top: 1rem;

    .usa-alert {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .usa-password-progress {
    ul {
      margin-top: -3em;
    }
  }
}
