.usa-login {
  h1 + span {
    display: inline-block;
    width: 90%;
  }

  h2 {
    margin: 80px 0px;
  }

  label {
    font-weight: 700;
  }

  .usa-button-controls {
    position: relative;
    text-align: right;

    button {
      display: inline-block;
      margin: 0rem;
    }
  }

  .usa-links {
    margin-top: 30px;
  }

  sam-fieldset-wrapper {
    legend {
      font-weight: 700;
    }
  }

  .form-delivery,
  .form-otp {
    display: block;
    width: 500px;
    max-width: 500px;
    margin: 0 auto;
  }

  .form-otp {
    h1 {
      padding-bottom: 14px;
      border-bottom: 1px solid #000000;
    }

    label:nth-child(1) {
      margin-top: 1.5rem;
    }

    input {
      max-width: 100%;
    }

    .usa-form-note {
      text-align: left;
    }
  }

  li {
    label {
      font-weight: normal;
    }
  }

  sam-radio-button {
    legend {
      line-height: 1.25em;
    }

    .usa-unstyled-list {
      margin-top: 1em;

      li {
        margin-bottom: 0.5em;
      }
    }
  }

  a + button {
    margin-left: 1.5em;
  }

  &.standalone {
    padding-top: 20px;
    padding-bottom: 20px;

    > .sam-ui.grid {
      > .column {
        padding-top: 30px;
      }
    }

    form {
      position: relative;
      width: 32rem;
      margin: 0 auto;
    }
  }

  .usa-alert {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1em;
    z-index: 1;
  }
}
