@import './profile/details';
@import './profile/reset';
@import './profile/migrations';
@import './profile/following';

.usa-profile {
  position: relative;

  h2 {
    margin-top: 2.2em;
  }

  h3:nth-child(1) {
    margin-top: 0em;
  }

  sidebar {
    .usa-sidenav-list {
      margin-top: 3em;
    }

    side-nav-filter + * {
      display: block;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  .usa-alert-main {
    .usa-alert {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  }


  .top-banner {
    display : block;
  }

  .page-content {
    display: block;
  }

  /*
   * Responsive
   */
  @media screen and (max-width: $large-screen - 1) {
    padding-left: 2rem;
    padding-right: 2rem;

    sam-alert {
      &.usa-alert-main {
        position: relative !important;
        top: 0px;
        margin-top: 2rem;
      }
    }

    h2 {
      margin-top: 2rem;
    }
  }
}
