$icon: 2rem;
$valid: #2E8540;
$invalid: #E31C3D;
$background: #FFFFFF;

.usa-password {
    .usa-password-progress .icon {
        position: absolute;
        width: 2rem;
        height: 2rem;
        top: 0px;
        left: -2rem;
        margin-top: 0px;
        margin-left: 0px;
        text-align: center;
    }
  
      .usa-password-progress .icon .fa {
        display: inline-block;
        top: 1.5px;
        left: 2px;
        font-size: 2rem;
        line-height: 2.3rem;
        visibility: hidden;
      }
  
      .usa-password-progress .icon .fa.fa-check {
        color: #2E8540 !important;
        visibility: visible;
      }
  
      .usa-password-progress .icon .fa.fa-times {
        color: #E31C3D !important;
      }
  
      .usa-password-progress .icon .fa.fa-times.ng-touched.ng-dirty {
        visibility: visible;
      }
  
      .ng-submitted .icon {
        visibility: visible;
      }
}