<div class="usa-alert usa-alert-info">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Deviation from the US Web Design Standards</h3>
    <p class="usa-alert-text">The SAM Web Design Standards limits the number of buttons to be used when compared to the US Web Design Standards.</p>
  </div>
</div>

<div class="usa-alert usa-alert-info">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Extenstion of the US Web Design Standards</h3>
    <p class="usa-alert-text">The US Web Design Standards does not define a button with a cancel link nor a dismiss button.</p>
  </div>
</div>

{% include code/elements/buttons-code.html %}
{% include code/main.html %}

<div class="usa-accordion-bordered">
  <ul class="usa-unstyled-list">
    <li>
      <button class="usa-button-unstyled" aria-expanded="true" aria-controls="element-documentation">
        Element documentation
      </button>
      <div id="element-documentation" class="usa-accordion-content" aria-hidden="false">
        <p>See <a class="usa-external_link" href="https://standards.usa.gov/buttons/">US Web Design Standards</a> for details regarding when to use this element.</p>
      </div>
    </li>    
  </ul>
</div>

