<h2 class="usa-heading" id="date-input">Date input</h2>

<div class="usa-alert usa-alert-info">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Deviation from the US Web Design Standards</h3>
    <p class="usa-alert-text">The SAM Web Design Standards modifies the styling of the <code>legend</code> of the date input field to match that of the <code>label</code> used by the other form controls.</p>
  </div>
</div>

{% include code/elements/date-input-code.html %}
{% include code/main.html %}

<div class="usa-accordion-bordered">
  <ul class="usa-unstyled-list">
    <li>
      <button class="usa-button-unstyled" aria-expanded="true" aria-controls="element-documentation">
        Element documentation
      </button>
      <div id="element-documentation" class="usa-accordion-content" aria-hidden="false">
        <p>See <a class="usa-external_link" href="https://playbook.cio.gov/designstandards/form-controls/#date-input">US Web Design Standards</a> for details regarding when to use this element.</p>
      </div>
    </li>    
  </ul>
</div>
