<h2 class="usa-heading" id="lists">Lists</h2>

<p class="usa-font-lead">See <a class="usa-external_link" href="https://standards.usa.gov/typography/#lists">US Web Design Standards</a> for details regarding when to use this element.</p>

<div class="preview preview-lists">

  <div class="usa-grid-full">
    <div class="usa-width-one-third">

      <h6 class="usa-heading-alt">Unordered list</h6>

      <ul>
        <li>Unordered list item</li>
        <li>Unordered list item</li>
        <li>Unordered list item</li>
      </ul>

    </div>

    <div class="usa-width-one-third">

      <h6 class="usa-heading-alt mt0">Ordered list</h6>

      <ol>
        <li>Ordered list item</li>
        <li>Ordered list item</li>
        <li>Ordered list item</li>
      </ol>

    </div>
  </div>
</div>

<div class="usa-accordion-bordered usa-accordion-docs">
  <ul class="usa-unstyled-list">
    <li>
      <button class="usa-button-unstyled" aria-expanded="false" aria-controls="collapsible-0">
        PHP UI kit usage
      </button>
      <div id="collapsible-0" class="usa-accordion-content" aria-hidden="true">
        <pre><code class="language-php">
        </code></pre>
      </div>
    </li>
    <li>
      <button class="usa-button-unstyled" aria-expanded="false" aria-controls="collapsible-1">
        JavaScript UI kit usage
      </button>
      <div id="collapsible-1" class="usa-accordion-content" aria-hidden="true">
        <pre><code class="language-js">
        </code></pre>
      </div>
    </li>
    <li>
      <button class="usa-button-unstyled" aria-expanded="true" aria-controls="collapsible-2">
        UI kit documentation
      </button>
      <div id="collapsible-2" class="usa-accordion-content" aria-hidden="true">
        <h4 class="usa-heading">Links</h4>
        <h5>Required keys</h5>
        
        <h5>Optional keys</h5>
      </div>
    </li>    
  </ul>
</div>
