<h2 class="usa-heading" id="lists">Lists</h2>

{% include code/elements/lists-code.html %}
{% include code/main.html %}

<div class="usa-accordion-bordered">
  <button class="usa-button-unstyled usa-accordion-button"
      aria-expanded="true" aria-controls="collapsible-0">
    Documentation
  </button>
  <div id="collapsible-0" aria-hidden="false" class="usa-accordion-content">
    <p>See <a class="usa-external_link" href="https://standards.usa.gov/typography/#lists">US Web Design Standards</a> for details regarding when to use this element.</p>

  </div>
</div>
