<h2 class="usa-heading" id="select">Select</h2>

<p class="usa-font-lead">Select elements allow users to pick one (or more) items from a list of options.</p>

<div class="usa-alert usa-alert-info">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Deviation from the US Web Design Standards</h3>
    <p class="usa-alert-text">The SAM Web Design Standards combines dropdowns, checkboxes, and radio buttons under the genral heading &lquo;Select&rquo; for the purposes of the UI kit.</p>
  </div>
</div>

{% include code/elements/select-code.html %}
{% include code/main.html %}

<div class="usa-accordion-bordered">
  <ul class="usa-unstyled-list">
    <li>
      <button class="usa-button-unstyled" aria-expanded="true" aria-controls="element-documentation">
        Element documentation
      </button>
      <div id="element-documentation" class="usa-accordion-content" aria-hidden="false">
        <p>See US Web Design Standards for details regarding the following elements:</p>
        <ul>
          <li><a class="usa-external_link" href="https://standards.usa.gov/form-controls/#dropdown">Dropdown</a></li>
          <li><a class="usa-external_link" href="https://standards.usa.gov/form-controls/#checkboxes">Checkboxes</a></li>
          <lI><a class="usa-external_link" href="https://standards.usa.gov/form-controls/#radio-buttons">Radio buttons</a></li>
        </ul>
      </div>
    </li>    
  </ul>
</div>
