<h2 class="usa-heading" id="text-input">Text inputs and area</h2>

<div class="usa-alert usa-alert-info">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Extenstion of the US Web Design Standards</h3>
    <p class="usa-alert-text">The US Web Design Standards does not have an example with inline help text.</p>
  </div>
</div>

{% include code/elements/text-input-code.html %}
{% include code/main.html %}

<div class="usa-accordion-bordered">
  <ul class="usa-unstyled-list">
    <li>
      <button class="usa-button-unstyled" aria-expanded="true" aria-controls="element-documentation">
        Element documentation
      </button>
      <div id="element-documentation" class="usa-accordion-content" aria-hidden="false">
        <p>See <a class="usa-external_link" href="https://standards.usa.gov/form-controls/#text-input">US Web Design Standards</a> for details regarding when to use this element.</p>
      </div>
    </li>    
  </ul>
</div>
