.usa-profile-migrations {
  .usa-alert-close {
    position: relative !important;
    float: right !important;
  }
  .migration-module {
    padding: 0px;
  }
  .role-migration-history {
    border: 1px solid black;
    border-radius: 0px;

    thead tr th {
      background: inherit;
      font-weight: bold;
      border-bottom: 1px solid black;
    }
    tbody th, tbody td {
      border: none;
    }
  }
}
