.usa-profile-migrations {
  .usa-grid {
    padding: 0rem;
  }

  .usa-content {
    margin-top: 0.5em;

    > div {
      h3 {
        margin-top: 5rem !important;
      }
    }
  }

  .usa-alert {
    margin-left: -170px;
    padding-right: 40px;
    transform: translateX(-100%);
  }

  .label-wrapper:nth-child(1) {
    width: 96%;
  }

  select {
    width: 100% !important;
  }

  .button-controls {
    text-align: right;
  }

  table {
    width: 100%;
    margin-top: 1.5em;

    thead {
      th {
        padding: 0.5em;
        text-align: left;
      }
    }
  }

  .usa-migration-history {
    margin-bottom: 1.5em;

    h1 {
      font-size: 2rem;
      text-align: center;
    }

    tbody {
      td {
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        vertical-align: middle;

        &:nth-child(1) {
          width: 150px;
          padding-right: 4px;
        }

        &:nth-child(2) {
          width: 180px;
          padding-right: 4px;
        }

        &:nth-child(4) {
          width: 240px;
          padding-left: 4px;
        }
      }

      .group-item {
        td {
          padding-top: 0rem;
          padding-bottom: 0rem;
          vertical-align: bottom;

          &:nth-child(2) {
            white-space: nowrap;
          }

          &:nth-child(3) {
            border-right-width: 0px;
            border-bottom-width: 1px;
            border-bottom-style: dotted;
          }
        }
      }
    }

    .key {
      position: relative;
      bottom: -6px;
    }

    dl {
      display: inline-block;
      text-align: left;

      dd {
        margin-left: 0px;
        line-height: 2;
      }
    }
  }

  .usa-legacy-systems {
    tr {
      td {
        width: (100% / 3);
      }
    }
  }
}
