<h4 class="usa-heading">All form controls</h4>

<p>Note: All form controls are wrapped in a <code>div</code> for a consistent HTML output no matter the state of the form control. Further, all form controls have the following required and optional keys.</p>

<h5>Required keys</h5>

<ul>
  <li><b>label:</b> The label of the field.</li>
  <li><b>name:</b> The name of the field for POST data.</li>
</ul>

<h5>Optional keys</h5>

<ul>
  <li><b>hint:</b> An arbitrary non-block HTML string describing the purpose of the field.</li>
  <li><b>errorMessage:</b> An arbitrary non-block HTML string describing the error found.</li>
  <li><b>required:</b> true\|false (default is false) - Whether the field is required or not.</li>
  <li><b>srOnly:</b> true\|false (default is false) - Whether the label should be for screen-readers only (not visible on screen).</li>
</ul>
