.rm-widget {

  .sam-autocomplete{
    margin-top: 20px
  }

  .sam-autocomplete label{
    visibility: hidden;
  }

  .fa-times-circle {
    display: none
  }

  .fsd-widget {
    @include fsd-searchbar;

    .sam-autocomplete {
      margin-top: 0px;
    }
  }

  .usa-form-hint {
    display: none;
  }
  
}