<h2 id="search-bar">Search bar</h2>

{% include code/components/searchbar-code.html %}
{% include code/main.html %}

<div class="usa-accordion-bordered">
  <ul class="usa-unstyled-list">
    <li>
      <button class="usa-button-unstyled" aria-expanded="true" aria-controls="element-documentation">
        Element documentation
      </button>
      <div id="element-documentation" class="usa-accordion-content" aria-hidden="false">
        <p>See <a class="usa-external_link" href="https://standards.usa.gov/search-bar/">US Web Design Standards</a> for details regarding when to use this component.</p>

      </div>
    </li>    
  </ul>
</div>
