<nav>
  <ul class="usa-sidenav-list">
    <li>
      <a {% if page.url == '/page-templates/' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/page-templates/">Overview</a>
      {% if page.url == '/page-templates/' %}
      <ul class="usa-sidenav-sub_list">
        <li>
          <a href="#default">Default</a>
        </li>
        <li>
          <a href="#search">Search</a>
        </li>
        <li>
          <a href="#support">Support</a>
        </li>
      </ul>
      {% endif %}
    </li>
  </ul>
</nav>
