<nav>
  <ul class="usa-sidenav-list">
    <li>
      <a {% if page.url == '/page-templates/' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/page-templates/">Overview</a>
    </li>
    <li>
      <a {% if page.url == '/page-templates/default/' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/page-templates/#default">Default</a>
    </li>
    <li>
      <a {% if page.url == '/page-templates/search/' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/page-templates/#search">Search</a>
    </li>
    <li>
      <a {% if page.url == '/page-templates/support/' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/page-templates/#support">Support</a>
    </li>
  </ul>
</nav>
