{% assign current = page.url | downcase | split: '/' %}

<nav>
  <ul class="usa-sidenav-list">
    <li>
      <a {% if page.url == '/' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/">Overview</a>
      {% if page.url == '/' %}
      <ul class="usa-sidenav-sub_list">
        <li><a href="#sam-web-design-standards">SAM Web Design Standards</a></li>
        <li><a href="#us-web-design-standards">US Web Design Standards</a></li>
        <li><a href="#giving-back">Giving back</a></li>
        <li><a href="#contribute">Contribute to</a></li>
      </ul>
      {% endif %}
    </li>
    <li>
      <a {% if page.url == '/getting-started/user-experience/' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/getting-started/user-experience/">User experience</a>
      {% if page.url == '/getting-started/user-experience/' %}
        <ul class="usa-sidenav-sub_list">
          <li>
            <a href="#information-architecture">Information architecture</a>
          </li>
          <li>
            <a href="#keep-it-simple">Keep it simple</a>
          </li>
        </ul>
      {% endif %}
    </li>
    <li>
      <a {% if page.url == '/getting-started/authorship/' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/getting-started/authorship/">Writers</a>
    </li>    
    <li>
      <a {% if page.url == '/getting-started/visual-style/' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/getting-started/visual-style/">Visual designers</a>
      {% if page.url == '/getting-started/visual-style/' %}
        <ul class="usa-sidenav-sub_list">
          <li>
            <a href="#logo-and-usage">Logo and usage</a>
          </li>
          <li>
            <a href="#typography">Typography</a>
          </li>
          <li>
            <a href="#iconography">Iconography</a>
          </li>
          <li>
            <a href="#imagery">Imagery</a>
          </li>
          <li>
            <a href="#animation">Animation</a>
          </li>
          <li>
            <a href="#colors">Colors</a>
          </li>
          <li>
            <a href="#text-accessibility">Text accessibility</a>
          </li>
          <li>
            <a href="#grids">Grids</a>
          </li>
          <li>
            <a href="#mobile-first">Mobile first</a>
          </li>
        </ul>
      {% endif %}
    </li>
    <li>
      <a {% if page.url == '/getting-started/developers/' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/getting-started/developers/">Developer mindset</a>
      {% if page.url == '/getting-started/developers/' %}
        <ul class="usa-sidenav-sub_list">
          <li>
            <a href="#progressive-enhancement">Progressive enhancement</a>
          </li>
          <li>
            <a href="#modular-design">Modular design</a>
          </li>
          <li>
            <a href="#bdd">Behavior driven development</a>
          </li>
          <li>
            <a href="#mobile-first">Mobile first</a>
          </li>
          <li>
            <a href="#URLs">URLs</a>
          </li>
          <li>
            <a href="#feature-toggle">Feature toggles</a>
          </li>
        </ul>
      {% endif %}
    </li>
  </ul>
</nav>
