

@mixin sam-button-theme($theme) {

}

.sam.button{
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  background: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  //text-transform: uppercase;
  letter-spacing: .025em;
  color: #000;
  text-decoration: none;
  transition: all .15s ease;
  border: none;
}

.sam.button:hover{
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

.sam.button.primary{
  color: white;
  background: #0071bc;
}

// Attached
.sam.button.left.attached{
  border-radius: 0 4px 4px 0px;
  border: none;
}