/*******************************
          Page
*******************************/

.sam-ui.page{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5em;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
}

@media only screen and (min-width: 600px){
  .sam-ui.page{
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: min-content;
      grid-gap: 1em 1.5em;
      grid-template-areas:
          "breadcrumbs breadcrumbs breadcrumbs breadcrumbs"
          "header      header      header      header"
          "content     content     content     content";

      &.sidebar{
          grid-template-areas:
          "breadcrumbs breadcrumbs breadcrumbs breadcrumbs"
          "sidebar     header      header      header"
          "sidebar     content     content     content";
      }

      .header-area{
          grid-area: header;
      }

      sam-breadcrumbs{
          grid-area: breadcrumbs;
      }

      .sidebar-area{
          grid-area: sidebar;
      }

      .content-area{
          grid-area: content;
      }
  }
}