.rm-widget {
  .text-larger {
    font-size: 2rem;
  }

  .rm-nav button {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  label {
    margin-top: 0;
    font-weight: 800;
  }
}
