.system-widget {
  .system-accounts,
  .system-controls {
    display: inline-block;
    max-height: 80px;
    float: left;
  }

  .system-accounts {
    width: 60%;
    min-height: 1px;
  }

  .system-controls {
    width: 40%;

    .usa-button {
      margin-top: (90px - 37px) / 2;
    }
  }

  .list-accounts {
    margin-top: 0em;
    margin-left: 1em;
    margin-bottom: 0em;
    padding-left: 0em;
    list-style: none;

    li {
      margin-left: 1.4rem;
      text-align: left;
      line-height: 1.8em;

      &:before {
        margin-left: -1.5rem;
        margin-right: 0.5rem;
        font-family: 'FontAwesome';
        font-size: 1.3em;
        content: '\f058';
        color: $green;
        float: left;
      }
    }
  }
}
