<!doctype html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->

  <head>
    {% include partials/head.html %}
  </head>

  <body class="page-{{ page.title | slugify }}">

  	{% include partials/navbar.html %}

    {% include site-navigation/sidenav-mobile.html %}

    {{ content }}

    <footer class="site-footer" role="contentinfo">

      <div class="site-footer-nav usa-grid">
        {% if page.url == '/' %}
          {% include partials/download_buttons.html %}
        {% endif %}
        {% if page.category != null %}
          <h6>{{ page.category }}</h6>
        {% endif %}
        {% if page.category == 'Getting started' %}
          {% include site-navigation/navside-getting_started.html %}
        {% elsif page.category == 'Component' %}
          {% include site-navigation/navside-components.html %}
        {% elsif page.category == 'Element' %}
          {% include site-navigation/navside-elements.html %}
        {% elsif page.category == 'Page template' %}
          {% include site-navigation/navside-page_templates.html %}
        {% endif %}
      </div>

      <div class="site-footer-info">
        {% include partials/footer.html %}
      </div>

    </footer>
  
    
    {% include partials/ie-polyfill-scripts.html %}
    {% include partials/analytics.html %}
    {% include partials/docs_scripts.html %}

  </body>

</html>
