<!doctype html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
  {% include partials/head.html %}
</head>
<body>
{% include code/components/header-code.html %}
{{ microsite_header_unauthenticated }}

{{ page.content }}

{% include code/components/footers-code.html %}
{{ microsite_footer }}

    {% include partials/ie-polyfill-scripts.html %}
    {% include partials/analytics.html %}
    {% include partials/docs_scripts.html %}
</body>
</html>
