<!doctype html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
  {% include partials/head.html %}
</head>
<body>
<div class="usa-alert usa-alert-warning" style="margin-top: 0rem;">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">For illustration only</h3>
    <p class="usa-alert-text">This microsite is provided for illustration purposes only. The data and functionality are not representative of the live system.</p>
    <p>Return to the <a href="{{ site.baseurl }}/">SAM Web Design Standards</a></p>
  </div>
</div>
{% include code/components/header-code.html %}
{{ microsite_header_unauthenticated }}

<div class="usa-grid usa-content">
{{ page.content }}
</div>

{% include code/components/footers-code.html %}
{{ microsite_footer }}

    {% include partials/ie-polyfill-scripts.html %}
    {% include partials/analytics.html %}
    {% include partials/docs_scripts.html %}
</body>
</html>
