.workspace-template {

  .workspace-header {
    padding-bottom: 1rem;
  }
}

.workspace-background{
  background-image: url(../assets/img/help-main-res-medium.jpg);
  background-size: cover;
}
 .workspace-hierarchy-spacing{
  margin-top: .5em;
}
 .workspace-heading-font{
  font-size: 2.3rem!important;
  margin-top: -0.05em;
}

.workspace-top-header {
  background: url(../assets/img/help-main-res-medium.jpg);
  background-size: cover;
  .fed-link {
    margin-top: 0.5em !important;
  }
}

.workspace-shortcuts {
  h2 {
    font-size: 2.3rem !important;
  }
}

.workspace-dropdown{
  position: absolute;
  background-color: white;
  right: 18px;
  top: 63px;
  z-index: 2;
  font-weight: 600;
  min-width: 150px;
  padding: .833em 1em;
  font-size: 15px;
  box-shadow: 0 1px 1px 0 rgba(34,36,38,.12), 0 2px 1px 0 rgba(34,36,38,.15);
  a{
    display: block;
    color: $textColor;
    transition: all 0.5s ease;
  }
  a:hover{
    color: #0071bc;
  }
}

.tabular.menu .workspace-dropdown{
  top: 52px;
}
