/**********************************************
              SAM-FRON-END CSS
***********************************************/

@import "all";

/**********************************************
              Experimental
***********************************************/

@import "experimental/index";

/**********************************************
                   Docs
***********************************************/
/*---------------------------
   Syntax Code Highlight
-----------------------------*/
@import '~prismjs/themes/prism';
code[class*="language"] {
	font-size: 14px;
}

/*---------------------------
    Shared
-----------------------------*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

body {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "pnum";
    font-variant-numeric: proportional-nums
}

.container{
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    max-width: 1040px
}

.doc-intro p:first-of-type{
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 5px;
    line-height: 1.2;
}

/**********************************************
        PROTOTYPE: PAGES
***********************************************/
@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.search-home{
    p{
        font-weight: 600;
        width: 700px;
        margin: 20px auto;
        text-align: center;
        font-size: 2.3rem;
        line-height: 1.2em;
    }
    .image-container{
        display: flex;
        width: 1100px;
        margin: 30px auto;
        justify-content: space-between;
        .image{
            width: 350px;
            height: 280px;
            background-color: #f1f1f1;
            border: 1px solid #e2e2e2;
        }
    }
    .wall{
        width: 100%;
        display: block;
        height: 400px;
        background-color: #f1f1f1;
        border: 1px solid #e2e2e2;
    }
    .blue-wall{
        width: 100%;
        display: block;
        height: 100px;
        background-color: #112e51;
        border: 1px solid #e2e2e2;
    }
}

.search-results-page{
    .search-header{
        padding: .5em 1em;
        border-bottom: 1px solid #ccc;
        display: flex;
        justify-content: space-between;
    }
    .search-results-main{
        display: flex;
    }
    .search-results-filters{
        width: 300px;
        height: 900px;
        //padding-top: 1.4em;
        background-color: #f1f1f1;
        //box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
        .filter{
            border-bottom: 1px solid #d2d2d2;
            padding-bottom: 1em;
            margin: 1em;
            .title{
                display: block;
                background-color: #cecdcd;
                height: 1.2em;
                margin-bottom: 10px;
            }
            .title.medium{
                width: 200px;
            }
            .title.small{
                width: 150px;
            }
            .checkbox{
                display: block;
                height: 1.3em;
                width: 1.3em;
                background-color: white;
                margin-bottom: 8px;
                border: 1px solid #ccc;
                border-radius: 5px;
                &:after{
                    content: ' ';
                    display: block;
                    height: 1.3em;
                    margin-left: 1.5em;
                    width: 200px;
                    background-color: #ddd;
                }
            }
            .checkbox.large{
                &:after{
                    width: 235px !important;
                }
            }
            .checkbox.small{
                &:after{
                    width: 150px !important;
                }
            }
            .input{
                background-color: white;
                margin-bottom: 8px;
                display: block;
                border-radius: 2px;
                height: 1.8em;
                border: 1px solid #ccc;
            }
        }
        .filter-slide{
            margin: 1em;
            overflow: hidden;
            border-bottom: 1px solid #d2d2d2;
            padding-bottom: 1em;
            h4{
                font-size: 17px;
            }
            a.parent{
                display: block;
                font-size: 16px;
                margin-bottom: 2px;
                i{
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
            .current{
                cursor: default;
                color: black;
            }
            label{
                font-size: 16px;
                display: inline-block;
                margin: 0;
                padding-left: 5px;
            }
            label::before{
                content: none;
            }
            input[type="checkbox"]{
                position: static;
                opacity: 1;
                margin: 0;
                height: 15px;
                display: inline-block;
                width: auto;
                &:focus{
                    box-shadow: none;
                }
            }
        }
    }
    .search-results-content{
        margin-top: 1em;
        margin-left: 2em;
        width: 74%;
        .search-result{
            h4{
                margin-bottom: 5px;
                letter-spacing: 0;
                a{
                    font-weight: 600;
                }
            }
            margin-bottom: 1.5em;
            p{
                max-width: 850px;
            }
        }
        .results-header{
            display: flex;
            justify-content: space-between;
            .showing-text{
                font-size: 16px;
            }
            .sort{
                display: flex;
                padding-right: 15px;
                font-size: 15px;
                select{
                    -webkit-appearance: menulist;
                    -moz-appearance: menulist; 
                    appearance: menulist; 
                    background-color: initial;
                    height: 1.5em;
                    font-size: 1.6rem;
                    padding: 0;
                    margin: 1px 0 0 5px;
                    width: auto;
                    vertical-align: baseline;
                }
            }
        }
        .keyword{
            display: flex;
            span{
                margin-top: 6px;
                font-weight: 600;
                margin-right: 10px;
            }
            & > div{
                border: 1px solid #c7c7c7;
                width: 88%;
                margin-bottom: 1em;
                padding: .3em .7em;
                font-size: 16px;
                font-weight: 600;
                background-color: #f9f9f9;
            }
        }
        .selected-filters{
            // margin-top: -10px;
            margin-bottom: 1.8em;
            // border: 1px solid #d8d8d8;
            // border-radius: 2px;
            // padding: .5em;
            position: relative;
            .options{
                // position: absolute;
                // right: 15px;
                // top: -30px;
                font-size: 15px;
                a{
                    padding-left: 7px;
                }
            }
        }
        .search-result-loading-container{
            position: absolute;
            width: 800px;
        }
        .search-result-loading{
            margin-bottom: 1.5em;
            opacity: 0;
            .title{
                display: block;
                height: 1.3em;
                margin-bottom: 10px;
                border-radius: 2px;
                width: 70%;
                background: linear-gradient(to right, #ececec, #e7e7e7);
                background-size: 400% 400%;
                animation: Gradient 3s ease infinite;
                border: 1px solid #e2e2e2;
            }
            .line{
                display: block;
                height: 1.2em;
                margin-bottom: 9px;
                background: linear-gradient(to right, #ffffff, #d4d4d4);
                background-size: 400% 400%;
                animation: Gradient 3s ease infinite;
                border-radius: 2px;
                border: 1px solid #e2e2e2;
                &.random-1{
                    width: 94%;
                }
                &.random-2{
                    width: 92%;
                }
                &.random-3{
                    width: 95%;
                }
            }
        }
    }
}



/**********************************************
             PATTERNS: PAGES
***********************************************/
/*---------------------------
        Home
-----------------------------*/
.patterns.home{
    display: grid;
    max-width: 1000px;
    margin: 0 auto 2em auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    .sam-ui.header{
        grid-column: 1 / -1;
    }
}

/*---------------------------
        Pop Up
-----------------------------*/
body.modal-open{
    overflow: hidden;
}
router-outlet[name="master-modal"] + ng-component{
    display: block;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.85);
    sam-page{
        display: block;
        border-radius: 2px;
        box-shadow: 1px 3px 10px 2px rgba(0,0,0,.2);
        background-color: white;
        margin: 4%;
        overflow-y: auto;
        max-height: calc(100vh - 10%);
    }
}

/**********************************************
             LAYOUT COMPONENTS
***********************************************/


/*---------------------------
         Video 
-----------------------------*/
.sam-ui.embed.video{
    position: relative;
    display: block;
    width: 100%;
    &::before {
        display: block;
        content: "";
    }
    &.ratio16by9::before {
        padding-top: 56.25%;
    }
    iframe{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

/*---------------------------
       Sidebar
-----------------------------*/
sam-sidebar{
    display: grid;
    grid-row-gap: 1em;
}

/*---------------------------
    Single Page typography
-----------------------------*/
.sam-ui.page p{
    line-height: 1.5;
    color: black;
    margin: 1em 0;
}



/**********************************************
              Listing
***********************************************/
sam-list[bulleted]{
    .sam-ui.list-next{
        list-style: disc;
        list-style-position: inside;
    }
}
.sam-ui.list-next{
    list-style: none;
    color: black;
    padding: 0;
    margin: 0;
}
.sam-ui.horizontal.list-next{
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}
@media only screen and (min-width: 600px){
    .sam-ui.horizontal.list-next{
        justify-content: space-around;
        flex-direction: row;
    }
}



/**********************************************
                Headers
***********************************************/
sam-heading[detached]{
    transform: translateY(-50%);
    position: absolute;
    top: 0;
    align-self: center;
    background-color: white;
    padding: 0 .5em;
}

/**********************************************
                Icons
***********************************************/
.sam-ui.icon{
    display: inline-block;
    font-size: inherit;
    height: 1em;
    vertical-align: -.125em;
}

/**********************************************
                Box
***********************************************/
.sam-ui.box{
    padding: 1em;
    border-radius: 2px;
    background-color: #f1f1f1;
    position: relative;
}

.sam-ui.outline.box{
    border: 1px solid #ccc;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    margin-top: 2em; 
}

.sam-ui.primary.box{
    background-color: #dce4ee;
}

/**********************************************
            Navigation
***********************************************/
.sam-ui.navigation{
    list-style: none;
    padding-left: 0;
}

/**********************************************
           Side Navigation
***********************************************/
.sam-ui.side.navigation{
    ul{
        list-style: none;
        background-color: #f5f5f5;
        padding-left: 0;
        box-shadow:inset 0 4px 4px -2px rgba(0,0,0,0.16);
        li a{
            padding-left: 1.5em;
        }
        li:last-child a{
            border-bottom:none;
        }
        li a.active::after{
            background-color: #f5f5f5;
        }
    }
    li a{
        position: relative;
        display: block;
        padding: .5em;
        border-top:1px solid #ccc;
        border-right:1px solid #ccc;
        border-left:1px solid #ccc;
        transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    }
    li a.active::after{
        content: '';
        width: 1em;
        height: 1em;
        position: absolute;
        display: block;
        top: 50%;
        right: 0;
        border-width: 0 1px 1px 0;
        border-style: solid;
        border-color: #ccc;
        background-color: white;
        transform: translateY(-50%) translateX(50%) rotate(-45deg);
    }
    li:first-child a{
        border-top-right-radius: 2px;
        border-top-left-radius: 2px;
    }
    li:last-child a{
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
        border-bottom:1px solid #ccc;
    }
}







/**********************************************
                 HOME PAGE
***********************************************/

/*---------------------------
    Site Navigation
-----------------------------*/

.site-nav {
    z-index: 499;
    font-size: 16px;
    text-transform: uppercase;
    padding: 30px 0px 12px;
    margin-bottom: 30px;
    font-family: 'Open Sans', 'Source Sans Pro';
}

.site-nav > .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative
}

.site-nav a {
    -webkit-tap-highlight-color: transparent;
    transition: color .1s;
    white-space: nowrap;
}

.site-nav a.home {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}


.site-nav .mask-container {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 0 -20px 0 20px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(90deg,transparent,#000 20px,#000 calc(100% - 20px),transparent 100%)
}

.site-nav .mask-container,
.site-nav ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.site-nav ul {
    padding-left: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.site-nav ul::-webkit-scrollbar {
    display: none
}

.site-nav li {
    list-style: none;
    padding: 0 10px
}

.site-nav li:first-child {
    padding-left: 20px
}

.site-nav li:last-child {
    padding-right: 20px
}

@media (min-width: 420px) {
    .site-nav li {
        padding:0 15px
    }
}

@media (min-width: 670px) {
    .site-nav li {
        padding:0 20px
    }
}

.site-nav .separator {
    color: #3d7bb7;
    position: absolute;
    width: calc(100% - 40px);
    height: 1px;
    bottom: -10px;
    background-color: currentColor;
    opacity: .15;
    pointer-events: none
}

/*---------------------------
    Stripes
-----------------------------*/

.stripes {
    position: absolute;
    z-index: -1;
    width: 100%;
    display: grid;
    transform: skewY(-12deg)
}

.stripes {
    top: 0;
    grid: repeat(5,190px)/repeat(10,1fr);
    transform-origin: 0;
    background: linear-gradient(#ffffff, #e6e6e6 10%, #eaeff5 38%, #eaf2f9 48%, #f6f9fc 62%)
}

.stripes :nth-child(1) {
    grid-column: span 3;
    background: linear-gradient(100grad, rgb(220, 220, 220), rgba(224, 224, 224, 0.3) 40%, rgba(226, 226, 226, 0.2));
}

.stripes :nth-child(2) {
    grid-area: 3/span 3/auto/-1
}

.stripes :nth-child(3) {
    grid-row: 4;
    grid-column: span 5;
}

.stripes :nth-child(4) {
    grid-area: 4/span 5/auto/-1
}

.stripes :nth-child(5) {
    grid-area: auto/1/-1/-1;
    background: linear-gradient(100grad,#fff 80%,#f5fafd);
		margin-bottom: -1px;
}

@media (min-width: 670px) {
    .stripes :nth-child(3) {
        background: linear-gradient(100grad,#fff 50%,hsla(0,0%,100%,0));
    }

    .stripes :nth-child(4) {
        background: linear-gradient(100grad, rgba(255, 255, 255, 0) 10%, rgb(255, 255, 255));
    }
}


/*---------------------------
   Homepage Intro Section
-----------------------------*/

#intro {
    position: relative;
    z-index: 1;
    padding-bottom: 40px
}

#intro p {
    margin: 25px 0;
    font-size: 25px;
    font-weight: 300;
    line-height: 1.2;
}

@media (min-width: 670px) {
    #intro {
        padding-top:50px;
        position: static;
        padding-bottom: 90px
    }

    #intro p {
        margin: 25px 55% 50px 0
    }

}

/*---------------------------
      Intro Animation
-----------------------------*/

@media (prefers-reduced-motion) {
    #intro-animation * {
        animation: none!important
    }
}

#intro-animation {
    position: relative;
    height: 210px;
    margin: 30px 20px 40px
}

@media (min-width: 670px) {
    #intro-animation {
        width:50%;
        right: 0;
        position: absolute;
        height: auto;
        margin-top: 50px;
    }
}


/*---------------------------
       Particles
-----------------------------*/

.particle-container {
    fill:rgba(255,255,255,.6);
    stroke: rgba(255,255,255,.3);
    stroke-width: 10;
    animation: move 10s linear infinite; 
    --amplitude: 50px;
  
    .particle{
      animation: occilate 2s ease-in-out infinite alternate;
    }
    
    @for $i from 1 through 10{
      &:nth-child(#{$i}){
        --amplitude:  10px + random(40)*1px;
        $duration: 10s + random(40)*0.5s;
        animation-duration: $duration;
        animation-delay: $i * random(10)* -0.5s;
        .particle{
          animation-duration:  $duration/4;
        }
      }
    }
  }
  
  @keyframes occilate{
    100%{
      transform: translate( 0, var(--amplitude) );
    }
  }
  
  @keyframes move{
    100%{
      transform: translate( 1000px, 0 );
    }
  }

/*---------------------------
     Particle animation
-----------------------------*/

@keyframes particle-fade-in {
    0% {
        opacity: 0;
        transform: scale(.85)
    }
}

#intro-animation .particle-animation {
    will-change: opacity,transform;
    animation: particle-fade-in 2s cubic-bezier(.165,.84,.44,1) backwards
}

#intro-animation .particle-animation{
    bottom: 0;
    right: 0;
    animation-delay: .6s
}

@media (min-width: 670px) {
    #intro-animation .particle-animation{
        top:220px;
        left: 0px;
        bottom: auto;
        right: auto
    }
}

#intro-animation .particle-animation svg {
    position: relative;
    width: 400px;
    vertical-align: middle
}

@media (min-width: 670px) {
    #intro-animation .particle-animation svg {
        height:262px;
        width: 500px
    }
}

/*---------------------------
      Cubes
-----------------------------*/

#intro-animation .cubes {
    top: 0
}

#intro-animation .cube {
    position: absolute;
    will-change: transform;
    animation: cube-fade-in 2s cubic-bezier(.165,.84,.44,1)
}

// #intro-animation .cube:first-child {
//     margin-top: -240px
// }

#intro-animation .cube:nth-child(2) {
    z-index: 1;
    //margin-top: -240px
}

#intro-animation .cube:nth-child(3) {
   // margin: 0px 0 0 10px
}

@media (min-width: 670px) {
    #intro-animation .cubes .cube {
        margin:0
    }
}

@keyframes cube-fade-in {
    0% {
        opacity: 0;
        transform: scale(.5)
    }
}

#intro-animation .cube div {
    position: absolute;
    width: 100%;
    height: 100%
}

#intro-animation .cube .shadow {
    top: 40%;
    background: #07427a
}

#intro-animation .cube .sides {
    transform-style: preserve-3d;
    perspective: 600px
}

#intro-animation .cube .sides div {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform
}

#intro-animation .cube .sides .front span {
    text-align: center;
    display: block;
    font-weight: 600;
    margin-top: 20px;
    font-size: 15px;
    opacity: .8;
}

#intro-animation .cube:nth-child(1) .sides .front span {
	color: #bf3142;
}
#intro-animation .cube:nth-child(2) .sides .front span {
	color: #16805b;
}
#intro-animation .cube:nth-child(3) .sides .front span {
	color: #375e9e;
}


/*---------------------------
   Homepage content
-----------------------------*/

main footer.container {
    --spacing:90px;
    margin-bottom: var(--spacing)
}

@media (min-width: 670px) {
    main footer.container {
        display: grid;
        grid: repeat(3,auto)/auto-flow 1fr;
        grid-gap: 0 40px
    }
}


/*---------------------------
    Footer
-----------------------------*/

.site-footer {
    font-family: 'Open Sans', 'Source Sans Pro';
    font-size: 15px;
    background: #f6f9fc;
    border-top: 2px solid rgba(207,215,223,.25)
}

.site-footer ul {
    padding: 30px 0 30px;
    margin: 0;
}

.site-footer li{
    list-style: none;
}

.site-footer a {
    color: #566677;
    transition: color .1s
}

.site-footer a:hover {
    color: #32325d
}

@media (min-width: 670px) {
    .site-footer ul{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center
    }
    .site-footer li{
        padding: 0 16px
    }
}
