
@function sam-typography-level(
  $font-size,
  $line-height: $font-size,
  $font-weight: 400,
  $font-family: null,
  $letter-spacing: null) {

  @return (
    font-size:        $font-size,
    line-height:      $line-height,
    font-weight:      $font-weight,
    font-family:      $font-family,
    letter-spacing:   $letter-spacing
  );
}

// Defaults come from https://designsystem.digital.gov/components/typography/
@function sam-typography-config(
  $font-family:   '"Source Sans Pro", "Helvetica Neue", "Helvetica", sans-serif',
  $display-1:     sam-typography-level(59px, 77px, 700),
  $display-2:     sam-typography-level(44px, 57px, 300),
  $heading-1:     sam-typography-level(44px, 57px, 700),
  $heading-2:     sam-typography-level(34px, 44px, 700),
  $heading-3:     sam-typography-level(24px, 31px, 700),
  $heading-4:     sam-typography-level(19px, 25px, 700),
  $heading-5:     sam-typography-level(16px, 21px, 700),
  $heading-6:     sam-typography-level(13px, 17px, 700),
  $lead:          sam-typography-level(22px, 33px, 300, null, 0),
  $body:          sam-typography-level(17px, 26px, 400),
  $body-2:        sam-typography-level(17px, 26px, 600),
  $small:         sam-typography-level(16px, 20px, 400),
  $button:        sam-typography-level(14px, 14px, 600),
  $input:         sam-typography-level(inherit, 1.125, 400)
) {

  // Declare an initial map with all of the levels.
  $config: (
    display-1:   $display-1,
    display-2:   $display-2,
    heading-1:   $heading-1,
    heading-2:   $heading-2,
    heading-3:   $heading-3,
    heading-4:   $heading-4,
    heading-5:   $heading-5,
    heading-6:   $heading-6,
    lead:        $lead,
    body:        $body,
    body-2:      $body-2,
    small:       $small,
    button:      $button,
    input:       $input
  );

  // Loop through the levels and set the `font-family` of the ones that don't have one to the base.
  // Note that Sass can't modify maps in place, which means that we need to merge and re-assign.
  @each $key, $level in $config {
    @if map-get($level, font-family) == null {
      $new-level: map-merge($level, (font-family: $font-family));
      $config: map-merge($config, ($key: $new-level));
    }
  }

  // Add the base font family to the config.
  @return map-merge($config, (font-family: $font-family));
}

// Adds the base typography styles, based on a config.
@mixin sam-base-typography($config, $selector: '.sam-typography') {
  h1.sam.heading, .sam.h1, #{$selector} h1 {
    @include sam-typography-level-to-styles($config, heading-1);
    margin: 0 0 16px;
    .intro{
      @include sam-typography-level-to-styles($config, lead);
      text-transform: uppercase;
      display: block;
    }
  }

  h2.sam.heading, .sam.h2, #{$selector} h2 {
    @include sam-typography-level-to-styles($config, heading-2);
    margin: 0 0 16px;
  }

  h3.sam.heading, .sam.h3, #{$selector} h3 {
    @include sam-typography-level-to-styles($config, heading-3);
    margin: 0 0 16px;
  }

  h4.sam.heading, .sam.h4, #{$selector} h4 {
    @include sam-typography-level-to-styles($config, heading-4);
    margin: 10px 0 10px;
  }

  .sam.body, #{$selector} {
    @include sam-typography-level-to-styles($config, body);

    p {
      margin: 0 0 12px;
    }
  }

  .sam.small {
    @include sam-typography-level-to-styles($config, small);
  }
}
