@import 'administration/fsd-widget';
@import 'administration/profile-widget';
@import 'administration/rm-widget';
@import 'administration/system-widget';
@import 'administration/fh-widget';

.workspace-administration-section {
  .alert-add-btn {
    position: absolute;
    right: 5px;
    top: 0px;
    background-color: $color-primary-darker;
    padding: 4px 9px 4px 9px;
  }

  .alert-number-text {
    padding-top: 5px;
    font-size: 300%;
    color: $color-primary-darker;
    font-weight: bold;
    font-family: 'tinymce-small', Arial;
  }

  .alert-type-text {
    font-weight: bold;
    margin-top: 13px;
    font-size: 125%;
    color: $color-primary-darker;
  }

  .alert-text-center {
    text-align: center;
  }

  .go-right-icon {
    color: $color-primary-alt;
  }

  .workspace-widget-link {
    position: absolute;
    right: 5px;
    bottom: 34px;
  }

  .workspace-widget-help-link {
    position: absolute;
    right: 5px;
    bottom: 8px;
  }

  .workspace-help-detail a:hover, .alert-number-text:hover, .alert-type-text:hover {
    cursor: pointer;
  }

  &.grid-public {
    .profile-widget + .usa-width-one-half {
      margin-right: 0%;
    }

    .usa-width-one-half:nth-child(even) {
      margin-right: 0%;
    }
  }

  &.grid-federal {
    .usa-width-one-half:nth-child(odd) {
      margin-right: 0%;
    }
  }
}
