@import "./msg-feed/msg-feed-sidenav";

.msg-feed-content{


  select{
    min-width: 150px;
  }

  .msg-feeds-orderby:hover{
    cursor: pointer;
  }

  .msg-feed-items-div{
    border: 2px solid $color-gray-light;
    border-bottom: none;
  }

  .msg-feed-item{
    border-bottom: 1.5px solid $color-gray-light;
    padding: 3px;
  }

  .alert-image-div{
    text-align: center;
  }

  .usa-alert-warning{
    width: 50px;
    height: 50px;
  }

  .usa-alert{
    background-position: 0.5rem;
  }

  .msg-feed-icon{
    width: 60px;
    height: 50px;
  }

  .msg-feed-user-icon{
    font-size: 200%;
    text-align: center;
    background-color: $color-gray-light;
    color: $color-white;
    padding-top: 10px;
  }

  .msg-feed-description, .msg-feed-status{
    font-size: 80%;
    line-height: 17px;
  }

  .msg-feed-status{
    display: inline-block;
    width: 75px;
  }

  .msg-feed-bold{
    font-size: 80%;
    font-weight: bold;
    line-height: 17px;
  }
}
