@import './system/system-directory';
@import './system/system-profile';
@import './system/system-password';
@import './system/system-migrations';

.usa-workspace-system {
  h2 {
    margin-top: 2.2em;
  }
}

aside.usa-workspace-system {
  h1 {
    font-size: 3.9rem;
  }

  a[pageScroll] {
    cursor: pointer;
  }
}
