@import './system/system-directory';
@import './system/system-create';
@import './system/system-listing';
@import './system/system-profile';
@import './system/system-password';
@import './system/system-migrations';
@import './system/system-status';

.usa-workspace-system {
  h2 {
    margin-top: 2.2em;
  }

  sam-sidenav {
    .steps {
      a:focus {
        outline-width: 0px;
      }

      .step {
        &::before {
          width: 20px;
          background-color: $white;
          border-radius: 50%;
        }
      }
    }
  }

  sam-label-wrapper {
    &.inline {
      > div {
        label {
          display: inline-block;
        }
      }
    }
  }
}

aside.usa-workspace-system {
  h1 {
    font-size: 3.9rem;
  }

  a[pageScroll] {
    cursor: pointer;
  }

  .usa-sidemenu {
    a {
      line-height: 1.4;
    }
  }
}

system-widget {
  .column {
    .list {
      .icon {
        padding-top: 0.2em;
        padding-right: 0.4em;
      }
    }

    &:nth-child(1) {
      .list {
        a > span:nth-child(2) {
          display: inline-block;
          min-width: 1.5em;
        }
      }
    }
  }
}
