.workspace-widget {
  $widget-border-width: 1px;
  $widget-border-color: $color-gray-light;

  .shortcut {
    height: 22px;
    margin: 0em;
    padding: 0rem 1.2rem;
    line-height: 22px;
    font-size: 1.2rem;
    white-space: nowrap;
  }

  .workspace-widget-title {
    font-weight: 600;

    .shortcut {
      margin-top: 2px;
      float: right;
    }
  }

  .workspace-widget-body-section {
    border: $widget-border-width solid $widget-border-color;
    min-height: 220px;
  }

  .workspace-widget-bot-section {
    border: $widget-border-width solid $widget-border-color;
    border-top: none;

    .workspace-widget-bot-icon {
      position: absolute;
      right: 5px;
      top: 4px;

      .fa::before {
        z-index: -1;
      }
    }
  }

  .workspace-widget-text {
    color: $color-gray;
  }

  .workspace-widget-bot-section:hover, i:hover, a:hover {
    cursor: pointer;
  }

  .widget-body {
    height: 140px;
    margin-top: 20px;
  }

  .widget-footer {
    $widget-footer-height: 30px;

    display: block;
    height: $widget-footer-height;
    padding-left: 0.5em;
    padding-right: 0.5em;
    line-height: $widget-footer-height;
    font-weight: 600;
    color: $black;
    cursor: pointer;

    .fa-chevron-circle-right {
      display: inline-block;
      height: $widget-footer-height;
      margin-left: 4px;
      line-height: $widget-footer-height;
      color: $blue;

      &:before {
        position: relative;
        top: 3px;
        font-size: 1.4em;
        z-index: -1;
      }
    }
  }
}
