.site-footer {
  font-size: 16px;
  border-top: 2px solid rgba(207,215,223,.25)
}

.site-footer ul {
  padding: 30px 0;
  margin: 0;
  list-style: none;
}

.site-footer a {
  color: #6e7986;
  font-weight: normal;
  transition: color .1s
}

.site-footer a.active,
.site-footer a:hover {
  color: #16243A;
  text-decoration: none;
}

@media (min-width: 670px) {
  .site-footer ul{
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center
  }
  .site-footer li{
      padding: 0 16px
  }
}