.core-layout{
  display: grid;
  grid-gap: 10px;

  position: relative;
  float: right;
  width: 94%;
}
.core-layout .grid-row>*{
  background-color: #F1F1F1;
  border: solid black 1px;
  text-align: center;
}
.primary-row>*{
  height: 60px;
}
.secondary-row>*{
  height: 60px;
}
.core>*{
  height: 350px;
}
