fal-account-identification-code{
    .codePart0{
        display:inline-block;
        max-width: 4.8rem;
    }
    .codePart1{
        display:inline-block;
        max-width: 6.6rem;
    }
    .codePart2{
        display:inline-block;
        max-width: 3.9rem;
    }
    .codePart3{
        display:inline-block;
        max-width: 3.9rem;
    }
    .codePart4{
        display:inline-block;
        max-width: 5.7rem;
    }
}