.usa-button-disabled {
  cursor: not-allowed;
}

.usa-button-transparent {
  display: inline-block;
  background-color: transparent;
  color: $color-primary-darkest;

  &:hover {
    background-color: transparent;
    color: $color-primary-darker;
  }
}

.usa-button-transparent-disabled {
  pointer-events: none;
  opacity: .5;
}

.usa-button-dismiss {
  // hit area
  height: 44px;
  width: 44px;
  display: inline-block;

  // background
  background-image: url($assets-path + '/img/times_circle.svg'),url($assets-path + '/img/times_circle.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: center center;

  &:hover {
    background-color: transparent;
    opacity: .6;
  }

  &:active {
    background-color: transparent;
  }
}

.usa-button-cancel{
  display: inline-block;
  background-color: $color-gray-lightest;
  color: $color-cool-blue;
  margin: 0em 0.25em 0em 0em;
  padding: 0.9em 1.5em 0.9em;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 0.7em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 0.3rem;
  min-width: 100px;

  &:hover {
    background-color: $color-gray-light;
    color: $color-cool-blue;
    opacity: .6;
  }
}
