
div.sam-collapsible div.collapsible-header {
  clear: both;
  margin: 0;
  padding: 1.5rem;
  width: 100%;
  background-color: $color-gray-lightest;
}
div.sam-collapsible div.collapsible-header .label {
  color: $color-base;
  font-weight: 700;
  width: 90%;
  line-height: 1;
  margin-bottom: 0;
  display: inline-block;
}
div.sam-collapsible div.collapsible-header .expand-hide {
  float: right;
}

div.sam-collapsible div.collapsible-content{
  padding: .5rem 1.5rem;
  position: relative;
}

div.sam-collapsible div.collapsible-content.closed {
  display: none;
}
div.sam-collapsible div.collapsible-content.open {
  display: block;
}

// Content inside collapsible
div.sam-collapsible legend{
  font-size: 1.9rem;
  line-height: 2rem;
  width: 100%
}

div.sam-collapsible .label-wrapper label{
  margin-top: 0;
}
