
section.sam-comments {
  .preserve-newline {
    white-space: pre-line;
  }

  p.button-row {
    clear: both;

    .hide-button {
      float: right;
    }
  }

  article.sam-comment {
    padding: 0.3em;

    header {
      display: flex;
      width: 100%;

      figure {
        display: flex;
        margin: 0 12px 0 0;

        img, span.fa {
          height: 32px;
          width: 32px;
          border-radius: 49.9%;
          align-self: center;
        }
      }

      .comment-metadata {
        display: flex;
        flex-direction: column;

        time {
          font-style: italic;
        }
      }

      button {
        align-self: flex-start;
        margin-left: auto;
      }
    }

    p {
      margin: 0 0 0.3em 44px;
    }
  }

  form {
    label, textarea {
      max-width: 100%;
    }

    textarea {
      resize: none;
    }

    .char-counter {
      text-align: right;
    }

    .actions {
      text-align: right;
    }

    [type="submit"] {
      display: initial;
      margin: 0.5em 0.5em 0.5em 0;
    }
  }
}
