body.feedback-open {
  overflow: hidden;
}

.feedback-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #ffffff;
  opacity: .5;
}

.sam-feedback{

  h4{
    margin: 0;
  }


  .feedback-form-div{
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 15vh;
    left: 30vw;
    z-index: 1050;
    width: 550px;
    border: 1px solid $color-primary;
    background: $color-white;
  }

  .usa-accordion-button{
    padding-left: 3em;
  }

  .feedback-question-rating{
    text-align: center;
  }

  .feedback-pagination{
    position: absolute;
    bottom: 70px;
    left: 0;
    text-align: center;
  }

  .feedback-page, .feedback-current-page{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid $color-primary;
    text-align: center;
  }

  .feedback-page{
    color: $color-primary;
    background-color: $color-white;

  }

  .feedback-current-page{
    background-color: $color-primary;
    color: $color-white;
  }

  .feedback-page:first-child{
    margin-left: 0;
  }

  .feedback-page:last-child{
    margin-right: 0;
  }

  .feedback-icon-div:hover, .hide-form-icon:hover, .thumb:hover, .fa-times-circle-o:hover, .feedback-form-link:hover{
    cursor: pointer;
  }

  .feedback-icon-font{
    font-size: 175%;
  }


  .feedback-dash{
    width: 30px;
    display: inline-block;
    border: 1px solid $color-primary;
  }

  .text-align-center{
    text-align: center;
  }

  .feedback-form-link{
    color: $color-focus;
    text-decoration: underline;
  }

  .feedback-btns-div{
    z-index: 1070;

    .prev-btn{
      padding-left: 0px;
    }

    .next-btn{
      padding-right: 15px;
    }
  }

  .feedback-email-input{
    height: 36px;
  }

  .feedback-pagination-span{
    display: inline-block;
  }

  .feedback-alert-warning{
    background: #fff1d2;
    height: 36px;
    font-weight: 400;
    font-size: 85%;
    padding-top: 8px;
  }

  .feedback-alert-warning i{
    font-size: 100%;
  }

  .feedback-alert-placeholder{
    height: 36px;
    font-weight: 400;
    padding-top: 8px;
  }

  .usa-input-error{
    padding-top: 0;
    margin-top: 0;
    border: none;
  }

  .feedback-header{
    background-color: $color-primary;
    color: $color-white;
    font-size: 110%;
    padding: 5px 0 5px 10px;
    margin: 0;
  }

  samAccordion ul{
    margin-top: 0;
  }

  sam-accordion-section{

  }

  sam-accordion-section li{
    margin-top: 5px;
    position: relative;
  }

  sam-accordion-section li button{
    background-color: $color-cool-blue-lightest;
    font-weight: 400;
    font-size: 100%;
    color: $color-primary;
    padding-left: 50px;
  }

  sam-accordion-section li button:hover{
    background-color: $color-cool-blue-lightest;
  }

  .feedback-footer{
    padding: 10px 0 20px 0;
    background-color: $color-gray-lighter;
  }

  .usa-accordion-content {
    padding: 5px 0 10px 0;
  }

  .feedback-check-icon{
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
    color: $color-primary;
    font-size: 170%;
  }

  .feedback-question-thanks h1{
    color: $color-primary;
    font-size: 200%;
  }

}
