.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #000000;
  opacity: .5;
  -webkit-backface-visibility: hidden;
}

.button-select {
 	background-color: #4c4949;
 	display: inline;
 	margin: 0em 0.25em 0em 0em;
	line-height: 0.7em;
	padding-right: 30px;
	top-padding:5px;
	text-align:left;
 }
 .button-select:hover {
 	background-color: #4c4949;
 }


.modal-dialog {
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20050;
  outline: 0;

  .usa-alert{
    background-position: 1rem 2rem !important;
  }

  .modal-content {
    position: relative;
    background: #FCFCFC;
    max-width: 600px;
    margin: 30px auto;

    .modal-body {
      padding: 15px 30px;
    }

    .usa-alert {
      display: block;
    }
  }

  .usa-modal-content-btn-area {
    text-align: center;
  }

.padding-left-50px
{
	padding-left: 50px;
}
.display-inline
{
	display:inline;
}
.padding-top-10px
{
	padding-top:10px;
}
.padding-bottom-10px
{
	padding-bottom:10px;
}
.top-padding
{
	padding-top:5px
}
.text-align-right
{
	text-align: right
}
.padding
{
	padding: 20px;
}
.height-50px
{
	height: 50px;
}
.export-button
{
	height:63px;
	width: 105px
}
.padding-left-standard-text
{
	padding-left:20px;
}
.padding-left-csv-text
{
	padding-left:5px;
}
.limit-desc-text-position
{
	position:relative;
	top:25px;
	display: inline-block;
	width: 400px;
	margin-left: 5px;
}
.two-line-limit-desc-text-position
{
	position:relative;
	top:25px;
	display: inline-block;
	width: 400px;
	margin-left: 5px;
	position:relative;
	top:5px
}
.vertical-align-top
{
	vertical-align:top;
}
.top-padding-medium
{
	padding-top:20px;
}
.margin-bottom
{
	margin-bottom:2em;
}

.download-button-type{
	font-size:13px;
	padding-bottom:5px;
	width:70px;
	text-align:left;
}

.change-filter {
  .change-filter-options {
    max-height: 300px;
    overflow-y: scroll;
    border: 2px solid silver;
    padding-left: 10px;
    line-height: 2em;
    border-top: 1px solid silver;
    position: relative;
  }

  .change-filter-toggle-text{
    padding-left: 5px;
  }

  .change-filter-button {
    display:table;
    margin-right: auto;
    margin-left: auto;
  }

  .change-filter-seperator-line {
    border-top: 1px solid silver;
  }
  .toggle-text {
    padding-left: 5px;
  }
  .display-inline {
	display:inline;
}
  .sam-toggle-body {
    display: flex !important;
  }
  .bottom-border-line{
    border-top: 1px solid silver;
  }
}

}
