.organization-detail {
  .sam-ui.grid > .column {
    padding-left: 0;
  }

  .sam-ui.grid {
    margin: 0;
  }

  .org-logo-container{
    min-height: 200px;
  }

  .org-logo-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 200px;
  }

  .org-logo-insert-icon{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 180%;
  }

  .org-edit-input{
    height: 36px;
  }

  .org-type-select{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
  }

  .org-detail-expand-link{
    text-decoration: underline;
  }

  .org-detail-expand-link:hover{
    cursor: pointer;
  }

  .org-detail-alert-message{
    position: absolute;
    width: 450px;
    right: 0;
    bottom: 0;
  }

  .current-hierarchy-link{
    color: $color-black;
    text-decoration: none;
  }
}
