.org-create-page {
  .create-org-page-hint {
    position: absolute;
    top: -55px;
    left: 15px;
  }

  .usa-input-error {
    padding-left: .5em !important;
  }

  .review-dates > .grid {
    margin-top: .2em;
  }

  .create-org-border-section {
    border: 1px solid $color-gray-lighter;
    padding: 10px;
    margin-top: 1em;
    margin-bottom: 2px;
  }

  .usa-input-error {
    margin-top: 0;
  }

  .org-create-label label {
    font-weight: 400;
  }

  .create-org-code-section label {
    margin-top: 10px;
    font-weight: bold;
  }

  .create-org-basic-section label {
    font-weight: bold;
  }

  .create-org-basic-section .sam-fieldset-wrapper fieldset ul li label {
    font-weight: 400;
    padding-left: 5px;
  }

  .org-confirm-body {
    margin-top: 2px;
  }

  .org-create-expand-link {
    text-decoration: underline;
  }

  .org-create-expand-link:hover, .fa-plus-circle:hover  {
    cursor: pointer;
  }

  .confirm-item{
    display: flex;
  }

  .confirm-description{
    font-weight: bold;
    width: 190px;
    display: inline-block;
    vertical-align: top;
  }

  .org-type-confirm-description{
    font-weight: bold;
    // width: 190px;
    display: inline-block;
    vertical-align: top;
  }

  .confirm-value{
    display: inline-block;
  }

  .org-type-block{
    min-width: 100px;
    display: inline-block;
  }

  .review-dates .column {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }

  .funding-form {
    padding: 8px
  }

  .pd-bt{
    padding-bottom: 0.5em;
  }
  .pd-lt-1{
    padding-left: 1em;
  }
  .wid-title{
    width: 27.55% !important;
  }
  .wid-val{
    width: 24% !important;
  }
  .ic-aln{
    font-size: .8em;
    vertical-align: 9%;
    padding-right: 0.3em;
  }
  .status-mag{
    margin-left: -.8em;
  }
}