sa-static-security-modal {
    hr {
      border-top-color: white;
    }
    .modal-dialog{
        .modal-content{
            max-width: 1100px;
            min-width:auto!important;//registration signup modal override
            button{
                color: white;
                padding: .5em 1em;
            }
            span.fa-times-circle {
                font-size: 18px;
            }
        }

        .modal-header{
            background:#235591;
            padding:10px 5px;
            text-align:center;

            img{
                vertical-align: middle;
            }
        }

        .modal-body{
                legend: {
                    text-align:center; 
                 }
                 .sam-modal-title {
                 color: red;
                 text-align: center;
             }
        }
        .usa-modal-content-btn-area > a{
            padding:15.3px 25.5px;
            @media only screen and (max-width: $mobileBreakpoint) {
                display:block;
            }
            /*
            display block for mobile view
            */
        }
        .main-line{
            margin: 0 auto 1em; 
            max-width:375px;
        }
    }
}
