.usa-user-directory {
  .title-subtitle {
    margin-top: 3em;
  }

  sam-agency-picker-v2 {
    sam-autocomplete-refactor + div {
      margin-top: 1rem;
    }
  }

  .usa-search-container {
    width: 100%;
    height: 4.4rem;

    .usa-search {
      width: 60%;
      float: right;
    }

    label {
      display: none;
    }

    input[type="search"] {
      width: calc(100% - 5rem) !important;
    }

    .usa-button-search {
      width: 5rem !important;
      background-color: $color-primary-alt;
      border: 1px solid $color-gray;
    }
  }

  table {
    width: 100%;

    th,
    td {
      padding-top: 0.8em;
      padding-bottom: 0.8em;

      &:nth-child(2) {
        width: 290px;
      }
    }

    thead {
      font-size: 0.9em;

      sam-select {
        margin-left: 0.4em;

        .label-wrapper {
          display: inline-block;
        }
      }
    }

    tbody {
      td {
        border-top: 1px solid $color-gray;

        div {
          line-height: 1;

          &.title {
            line-height: $lineHeight;
          }
        }
      }

      span {
        display: inline-block;
      }

      .user {
        height: 60px;

        > div {
          height: 60px;
          float: left;
        }
      }

      .details {
        font-size: 0.9em;
      }

      .title {
        margin-top: 0.8em;
        font-weight: bold;

        a {
          font-size: 1.14em;
          font-weight: 700;
        }
      }

      .avatar {
        display: inline-block;
        width: 60px;
        height: 60px;
        margin-right: 0.4em;
        border: 2.5px solid $color-gray;
        border-radius: $border-radius;
        text-align: center;

        .fa {
          font-size: 3.25em;
        }
      }
    }
  }

  sam-pagination {
    nav {
      text-align: center;
    }

    ul {
      display: inline-block;
      padding-left: 0em;
    }
  }
}
