.usa-login {
  .usa-grid {
    .usa-grid {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  > .usa-grid {
    > .usa-width-one-half {
      min-height: 400px;
      &:nth-child(1) {
        border-right: 1px solid #000000;
      }

      &:nth-child(2) {
        padding-left: 2.35765%;
      }
    }
  }

  h2 {
    margin: 80px 0px;
  }

  label {
    font-weight: 700;
  }

  .usa-button-controls {
    text-align: right;

    button {
      display: inline-block;
      margin: 0rem;
    }
  }

  .usa-links {
    margin-top: 30px;
  }

  .form-otp {
    width: 500px;
    max-width: 500px;
    margin: 0 auto;

    h1 {
      padding-bottom: 14px;
      border-bottom: 1px solid #000000;
    }

    label:nth-child(1) {
      margin-top: 1.5rem;
    }

    input {
      max-width: 100%;
    }

    .usa-form-note {
      text-align: left;
    }
  }
}
