<!--Navigation-->
<aside class="usa-width-one-third">
  <ul class="usa-sidenav-list">
    <li>
      <a href="#">All</a>
    </li>
    <li>
      <a href="#">Organizations</a>
      <ul class="usa-sidenav-sub_list">
        <li>
          <a href="#">Entities</a>
        </li>
        <li>
          <a href="#">Federal Organizations</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Contracting</a>
      <ul class="usa-sidenav-sub_list">
        <li>
          <a href="#">Awards</a>
        </li>
        <li>
          <a href="#">Opportunities</a>
        </li>
        <li>
          <a href="#">Wage Determinations</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Federal Assistance</a>
      <ul class="usa-sidenav-sub_list">
        <li>
          <a href="#">Assistance Listings</a>
        </li>
      </ul>
    </li>
  </ul>
</aside>

<div class="usa-width-two-thirds">
  <!--Search Bar-->
  <form class="usa-search usa-search-big m_B-4x">
    <div role="search">
      <label class="usa-sr-only" for="search-field-big">Search big</label>
      <input id="search-field-big" type="search" name="search" value="149879157">
      <button type="submit">
        <span class="usa-search-submit-text">Search</span>
      </button>
    </div>
  </form>

  <!--Search Filters-->
  <ul class="usa-accordion-bordered">
    <li>
      <button class="usa-accordion-button" aria-controls="searchfilters">
        Award Filters
      </button>
      <div id="searchfilters" class="usa-accordion-content">

        <!--Selected filters-->
        <strong>Date Signed:</strong> Last 1 Year <a href="#delete"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
        <hr/>

        <!--Date Signed-->
        <div class="usa-grid-full">
          <div class="usa-width-one-whole">
            <fieldset class="usa-fieldset-inputs usa-sans">
              <legend>Date Signed</legend>
              <ul class="usa-unstyled-list">
                <li>
                  <input id="range" type="radio" name="date-signed" value="range">
                  <label for="range">Select Date Range</label>
                </li>
                <li>
                  <input id="time" type="radio" checked="checked" name="date-signed" value="time">
                  <label for="time">Select Time Span</label>
                </li>
              </ul>
            </fieldset>
            <label class="m_T-0" for="options">Date Signed Time Span</label>
            <select name="options" id="options">
              <option value="value1">Last 1 Year</option>
              <option value="value1">Last 5 Year</option>
            </select>
          </div>
        </div>

        <!--PoP Ends-->
        <div class="usa-grid-full">
          <div class="usa-width-one-whole">
            <fieldset class="usa-fieldset-inputs usa-sans m_T-6x">
              <legend>PoP Ends</legend>
              <ul class="usa-unstyled-list ">
                <li>
                  <input id="popendsrange" type="radio" name="pop-ends" value="range">
                  <label for="popendsrange">Select Date Range</label>
                </li>
                <li>
                  <input id="popendstime" type="radio" checked="checked" name="pop-ends" value="time">
                  <label for="popendstime">Select Time Span</label>
                </li>
              </ul>
            </fieldset>
            <label class="m_T-0" for="options">PoP Ends Time Span</label>
            <select name="options" id="options">
              <option value="value1">None</option>
              <option value="value1">Last 1 Year</option>
              <option value="value1">Last 5 Year</option>
            </select>
          </div>
        </div>

        <!--NAICS Codes-->
        <div class="usa-grid-full">
          <div class="usa-width-one-half">
            <label for="naics-code">NAICS Codes</label>
            <input id="naics-code" name="naics-code" type="text">
          </div>
          <div class="usa-width-one-half">
            <label for="productservices">Product Services Codes</label>
            <input id="productservices" name="productservices" type="text">
          </div>
        </div>

        <!--Actions-->
        <div class="usa-grid-full">
          <div class="usa-width-one-whole m_T-4x">
            <button class="usa-button-gray">Clear Filters</button>
            <button>Search</button>
          </div>
        </div>

      </div>
    </li>
  </ul>

  <!--Featured Result-->
  <div class="usa-grid-full">
    <div class="usa-width-one-third m_T-6x">
      <img src="http://1img.org/wp-content/uploads/2016/07/Boeing-Logo-1.png">
    </div>
    <div class="usa-width-two-thirds">
      <h2 class="m_T-3x"><a href="#boeing">The Boeing Company</a></h2>
      <div class="usa-grid-full">
        <div class="usa-width-one-half">
          <ul class="usa-unstyled-list">
            <li>DUNS Number: 149879157</li>
            <li>Cage Code: 76301</li>
            <li>Set-Asides: None</li>
          </ul>
        </div>
        <div class="usa-width-one-half">
          <ul class="usa-unstyled-list">
            <li>Status: Active</li>
            <li>Expires: 10/06/2016</li>
            <li>Exclusions: None</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <span class="usa-label">Featured Result</span>

  <hr class="m_T-5x">

  <!--Search Results 1-->
  <div class="usa-grid-full">
    <h3>
      <a href="#title">StellerWatch: Developing a Crowdsourcing Web Interface from Image Analysis</a>
    </h3>
    <div class="usa-width-two-thirds">
      <p class="m_T-2x">
        This is a pre-solicitation notice for a request for proposals(RFP) for Credit Bureau Data. The anticipated solicitation number
        for this RFP is CC16HQR0017. The anticipated solicitation release date is on or around May...
      </p>
      <ul class="usa-unstyled-list usa-text-small m_T-3x m_B-2x">
        <li><strong>Department:</strong> <a href="#">Department of Commerce</a></li>
        <li><strong>Office:</strong> <a href="#">National Oceanic and Atmospheric Administration</a></li>
        <li><strong>Location:</strong> Western Acquisition Division - Boulder</li>
      </ul>
      <span class="usa-label">Opportunity</span>
    </div>
    <div class="usa-width-one-third">
      <ul class="usa-text-small">
        <li>
          <strong>Solicitation Number</strong>
          <ul class="usa-unstyled-list">
            <li>CC16HQR0017</li>
          </ul>
        </li>
        <li>
          <strong>Posted Date</strong>
          <ul class="usa-unstyled-list">
            <li>Aug 16, 2016</li>
          </ul>
        </li>
        <li>
          <strong>Type</strong>
          <ul class="usa-unstyled-list">
            <li>Combined Solicitation</li>
            <li>Sypnopsis</li>
            <li>Total Small Business</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <hr class="m_T-5x">

  <!--Search Results 2-->
  <div class="usa-grid-full">
    <h3>
      Award ID: <a href="#title">00001197907BFA78WA4161</a>
    </h3>
    <div class="usa-width-two-thirds">
      <ul class="usa-unstyled-list">
        <li>Vendor Name: The Boeing Company</li>
        <li>Vendor DUNS: 149879157</li>
        <li>NAICS Code:</li>
        <li>PSC Code: B505 Cost Benefit Analysis</li>
      </ul>
      <ul class="usa-unstyled-list usa-text-small m_T-3x m_B-2x">
        <li><strong>Contracting Department:</strong> <a href="#link">Department of Transportation</a></li>
        <li><strong>Contracting Office:</strong> <a href="#link">Federal Aviation Administration</a></li>
      </ul>
      <span class="usa-label">Award</span>
    </div>
    <div class="usa-width-one-third">
      <ul class="usa-text-small m_B-0">
        <li><strong>Award Value</strong>
          <ul class="usa-unstyled-list">
            <li>$245,500</li>
          </ul>
        </li>
        <li><strong>Award Type</strong>
          <ul class="usa-unstyled-list">
            <li>Cost Plus Fixed Fee</li>
          </ul>
        </li>
        <li><strong>PoP Ends</strong>
          <ul class="usa-unstyled-list">
            <li>Aug 5, 2016</li>
          </ul>
        </li>
        <li><strong>Modifications</strong>
          <ul class="usa-unstyled-list">
            <li>7</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <hr class="m_T-5x">

  <div class="usa-grid-full">
    <div class="usa-width-one-whole">
      <button class="usa-button-outline">Previous</button>
      <button class="usa-button-outline">1</button>
      <button class="usa-button-outline">2</button>
      <button class="usa-button-outline">...</button>
      <button class="usa-button-outline">14</button>
      <button class="usa-button-outline">15</button>
      <button class="usa-button-outline">Next</button>
    </div>
  </div>
</div>
