.assistance-widget {
  .widget-body {
    height: 100px;
    margin-top: 20px;
  }

  .al-text {
    font-size: small;
    font-weight: bold;
  }

  .al-count {
    font-size: small;

    span:nth-child(2) {
      text-decoration: underline;
    }
  }

  .al-button {
    font-size: small;
    padding: 4px;
  }

  .widget-footer {
    $widget-footer-height: 30px;

    display: block;
    height: $widget-footer-height;
    padding-left: 20px;
    padding-right: 20px;
    line-height: $widget-footer-height;
    font-weight: 600;
    color: $black;
    cursor: pointer;

    .fa-chevron-circle-right {
      display: inline-block;
      height: $widget-footer-height;
      margin-left: 4px;
      line-height: $widget-footer-height;
      color: $blue;

      &:before {
        position: relative;
        top: 3px;
        font-size: 1.4em;
      }
    }
  }
}
