.usa-forgot-main {
  .usa-form-large {
    width: 460px;
    margin: 0 auto;
  }

  h1 {
    margin-bottom: 1.5rem;
  }

  fieldset {
    > legend {
      font-size: 2rem;
    }

    > div:nth-child(1) {
       margin-top: 1em;
    }
  }

  .forgot-content {
    margin-top: 1em;
  }

  sam-alert {
    top: 50%;
    transform: translateY(-50%);
  }
}
