.usa-forgot-initial {
  position: relative;
  width: 460px;
  max-width: 100%;
  margin: 0 auto;

  label {
    margin-top: 1em;
  }

  button[type="submit"] {
    margin-bottom: 1.2rem;
  }

  sam-alert {
    top: 0px;
    bottom: 0px;
    left: 50%;
    margin-left: (150px / 2);
  }
}
