.rolemgmt-content{
  &.usa-grid-full{
    max-width: initial;
  }
  .img_size{
    width: 75em;
    height: 17em;
  }
  .usa-grid-full{
    max-width: initial;
  }
  .p_T-3em{
    padding-top : 3em;
  }
  .sort_pos{
    position: absolute;
    top: 25.6em;
    right: 22em;
  }
  .sec-bor{
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .p_T-1em{
    padding-top: 1em;
  }
  .p_T-05em{
    padding-top: 0.5em;
  }
  .pag-com{
    padding-left: 22em;
    padding-top: 2em;
  }
  .ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .ellipsis:hover{
    overflow: visible;
    white-space: normal;
    font-weight: bold;
  }

  .pending-icon, .escalated-icon {
    color: red;
  }

  .approved-icon {
    color: green;
  }

  .request-block {
    border: 1px solid black;
    margin-top: .5em;
  }

  .icon-and-respond {
    display: flex;
    align-items: center;
  }

  .respond-button {
    margin-right: 0;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-left: 3rem;
    margin-bottom: 0;
  }

  .request-top-block {
    padding: 1.5rem 3rem 1.5rem 3rem;
  }

  .comment-user-icon {
    position: absolute;
    left: -1.2em;
  }

  .comment-section {
    position: relative;
  }

  .accordion-list {
    margin-top: 0;
  }

  .sort-options {
    display: inline-block;
    margin-left: .5em;
  }

  .showing-count {
    margin-top: .25em;
  }

  .sort-label {
    font-size: 2.2rem;
  }

  .overview-header {
    padding: 1.5rem 3.0rem;
    border: 1px solid black;
    border-radius: 1.5rem;
  }

  .inline-block {
    display: inline-block;
  }

  .badge-primary {
    display: inline-block;
    color: white;
    background: $color-primary;
    border: 1rem solid $color-primary;
    line-height: 2rem;
    border-radius: 50%;
    min-width: 4rem;
    text-align: center;
    align-content: center;
    box-sizing: border-box;
  }

  .back-to-workspace-button {
    text-align: left;
    padding-left: 0;
  }

  .request-block {
    padding: 0;
  }

  .request-block .usa-accordion-button {
    background-position: left .5em center;
  }
}
